<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

{{ partial "head.html" . }}

<body>

    <div id="all">

        <header>

            {{ partial "nav.html" . }}

        </header>

        <div id="content">
            <div class="container">

                <div class="col-sm-6 col-sm-offset-3" id="error-page">
                    <div class="box">
                        <h1>404</h1>
                        <h2 class="text-muted">{{ i18n "404_title" }}</h2>
                        <p class="buttons">
                            <a href="{{ .Site.BaseURL | relLangURL }}" class="btn btn-template-main">
                                <i class="fa fa-home"></i>{{ i18n "404_homepage" }}
                            </a>
                        </p>
                    </div>


                </div>
                <!-- /.col-sm-6 -->
            </div>
            <!-- /.container -->
        </div>
        <!-- /#content -->

        {{ partial "footer.html" . }}

    </div>

    {{ partial "scripts.html" . }}
</body>

</html>