<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

{{ partial "head.html" . }}
<link rel="stylesheet" href="{{ "css/dateTime.css" | relURL}}">
<link rel="stylesheet" href="{{ "css/calendar.css" | relURL}}?t={{ mul 1000 (time now).Unix }}">

<body>

  <div id="all">

    <header>

      {{ partial "nav.html" . }}

    </header>

    <div class="body_content">
      {{ partial "banner.html" . }}
      {{ partial "feature_case_client.html" . }}
      {{ partial "statistics.html" . }}
      {{ partial "calendar.html" . }}
      {{ partial "action.html" . }}
      {{ partial "video_show.html" . }}
      <!-- {{ partial "partnerShip.html" . }} -->
      {{ partial "organization.html" . }}
      {{ partial "communityPartner.html" . }}
    </div>
     

    {{ partial "footer.html" . }}

  </div>

  {{ partial "scripts.html" . }}
  <script src="{{ "js/home.js" | relURL }}?t={{ mul 1000 (time now).Unix }}"></script>
  <script src="{{ "js/calendar.js" | relURL }}?t={{ mul 1000 (time now).Unix }}"></script>
  <script src="{{ "js/dateTime.min.js" | relURL }}"></script>
  <script src="http://pv.sohu.com/cityjson"></script>
  <script src="{{ "js/sensordata.min.js" | relURL }}"></script>
  <script src="{{ "js/sensors.js" | relURL }}"></script>
</body>

</html>



