<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

{{ partial "head.html" . }}

<body>

  <div id="all">

    <header>

      {{ partial "nav.html" . }}

    </header>

    <div class="body_content">
      {{ partial "banner.html" . }}
      {{ partial "feature_case_client.html" . }}
      {{ partial "statistics.html" . }}
      {{ partial "action.html" . }}
      {{ partial "video_show.html" . }}
      {{ partial "communityPartner.html" . }}
    </div>
    

    {{ partial "footer.html" . }}

  </div>
  

  {{ partial "scripts.html" . }}
  <script src="{{ "js/home.js" | relURL }}?t={{ mul 1000 (time now).Unix }}"></script>
</body>

</html>



