<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  {{ partial "head.html" . }}

  <body>

    <div id="all">

        <header>

          {{ partial "nav.html" . }}

        </header>

        {{ partial "breadcrumbs.html" . }}

        <div id="content">
            <div class="container">
                <div class="row">
                    <!-- *** LEFT COLUMN *** -->

                    <div class="col-md-12" id="blog-listing-medium">
                        <div class="video_title">
                            <div>
                                <h3>{{ i18n "video_all_video" }}</h3>
                            </div>

                            <div class="video_tags isPc">
                                <ul class="tags-list">
                                    <li class="active"><a href="{{ i18n "video_all_url" }}">{{ i18n "video_all" }}</a></li>
                                    {{ range $name, $items := .Site.Taxonomies.styles }}
                                    <li><a href="{{ $.Site.BaseURL }}{{ i18n "video_styles_url" }}{{ $name | urlize }}.html">{{ $name }}</a></li>
                                    {{ end }}
                                </ul>
                            </div>
                        </div>
                        <div class="video_tags isH5">
                            <ul class="tags-list">
                                <li class="active"><a href="{{ i18n "video_all_url" }}">{{ i18n "video_all" }}</a></li>
                                {{ range $name, $items := .Site.Taxonomies.styles }}
                                <li><a href="{{ $.Site.BaseURL }}{{ i18n "video_styles_url" }}{{ $name | urlize }}.html">{{ $name }}</a></li>
                                {{ end }}
                            </ul>
                        </div>
                        <div class="video_list">
                            {{ $paginator := .Paginate (where .Data.Pages "Type" "video") 12 }}
                            {{ range $paginator.Pages }}
                            <div class="video_infro">
                                <a href="{{ .Permalink }}">
                                    <div class="video_infro_bg scale_102"><img class="transition_3" src="{{ .Site.BaseURL}}{{ .Params.banner }}"></div>
                                    <!-- <h4>{{ .Title }}</h4>
                                    <p>{{ .Params.Summary }}</p> -->
                                </a>
                            </div>
                            {{ end }}
                        </div>
                        

                        <ul class="pager">
                            {{ if .Paginator.HasPrev }}
                            <li class="previous"><a href="{{ .Site.BaseURL }}{{ .Paginator.Prev.URL }}">&larr; {{ i18n "newer" }}</a></li>
                            {{ else }}
                            <li class="previous disabled"><a href="javaScript:;">&larr; {{ i18n "newer" }}</a></li>
                            {{ end }}

                            {{ if .Paginator.HasNext }}
                            <li class="next"><a href="{{ .Site.BaseURL }}{{ .Paginator.Next.URL }}">{{ i18n "older" }} &rarr;</a></li>
                            {{ else }}
                            <li class="next disabled"><a href="javaScript:;">{{ i18n "older" }} &rarr;</a></li>
                            {{ end }}
                        </ul>
                    </div>
                    <!-- /.col-md-9 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
        </div>
        <!-- /#content -->

        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

  </body>
</html>
