<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  {{ partial "head.html" . }}
  <link rel="stylesheet" href="{{ "css/video.css" | relURL}}?t={{ mul 1000 (time now).Unix }}">
  <body>

    <div id="all">

        <header>

          {{ partial "nav.html" . }}

        </header>

        {{ partial "breadcrumbs.html" . }}
        <div id="content">
            <div class="container">
                <div class="row">
                    <!-- *** LEFT COLUMN *** -->

                    <div class="col-md-12" id="video-box">
                        
                        <div class="video-content" index="live">
                            <div class="video-title">
                                <h3>{{ i18n "video_live" }}</h3>
                            </div>
                            {{ $videoData := (where .Data.Pages "Type" "video") }}
                            <div class="video-list">
                                <div class="list-box">
                                    {{ range $videoData }}
                                    {{ if eq .Params.tag "live" }}
                                    <div class="video-msg" href="{{ .Permalink }}">
                                        <img class="transition_3" src="{{ .Params.banner | relURL }}">
                                        <div class="title-box">
                                            {{ if .Params.mobtitle}}
                                            <p class="mobile-title">{{ .Params.mobtitle }}</p>
                                            <p class="web-title" title="{{ .Params.title }}">{{ .Params.hometitle }}</p>
                                            {{ else }}
                                            <p title="{{ .Params.title }}">{{ .Params.hometitle }}</p>
                                            {{ end }}
                                        </div>
                                    </div>
                                    {{ end }} 
                                    {{ end }} 
                                </div>
                                <div class="more-btn" index="live">
                                    <p>
                                        <span>{{ i18n "video_more" }}</span>
                                        <i class="icon-down"></i>
                                    </p>
                                </div>
                                <div class="hide-btn hide" index="live">
                                    <p>
                                        <span>{{ i18n "video_default" }}</span>
                                        <i class="icon-up"></i>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="video-content" index="publicity">
                            <div class="video-title">
                                <h3>{{ i18n "video_publicity" }}</h3>
                            </div>
                            {{ $videoData := (where .Data.Pages "Type" "video") }}
                            <div class="video-list">
                                <div class="list-box">
                                    {{ range $videoData }}
                                    {{ if eq .Params.tag "publicity" }}
                                    <div class="video-msg" href="{{ .Permalink }}">
                                        <img class="transition_3" src="{{ .Params.banner | relURL }}">
                                        <div class="title-box">
                                            {{ if .Params.mobtitle}}
                                            <p class="mobile-title">{{ .Params.mobtitle }}</p>
                                            <p class="web-title" title="{{ .Params.title }}">{{ .Params.hometitle }}</p>
                                            {{ else }}
                                            <p title="{{ .Params.title }}">{{ .Params.hometitle }}</p>
                                            {{ end }}
                                        </div>
                                    </div>
                                    {{ end }} 
                                    {{ end }} 
                                </div>
                                <div class="more-btn" index="publicity">
                                    <p>
                                        <span>{{ i18n "video_more" }}</span>
                                        <i class="icon-down"></i>
                                    </p>
                                </div>
                                <div class="hide-btn hide" index="publicity">
                                    <p>
                                        <span>{{ i18n "video_default" }}</span>
                                        <i class="icon-up"></i>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="video-content" index="activity">
                            <div class="video-title">
                                <h3>{{ i18n "video_activity" }}</h3>
                            </div>
                            {{ $videoData := (where .Data.Pages "Type" "video") }}
                            <div class="video-list">
                                <div class="list-box">
                                    {{ range $videoData }}
                                    {{ if eq .Params.tag "activity" }}
                                    <div class="video-msg" href="{{ .Permalink }}">
                                        <img class="transition_3" src="{{ .Params.banner | relURL }}">
                                        <div class="title-box">
                                            {{ if .Params.mobtitle}}
                                            <p class="mobile-title">{{ .Params.mobtitle }}</p>
                                            <p class="web-title" title="{{ .Params.title }}">{{ .Params.hometitle }}</p>
                                            {{ else }}
                                            <p title="{{ .Params.title }}">{{ .Params.hometitle }}</p>
                                            {{ end }}
                                        </div>
                                    </div>
                                    {{ end }} 
                                    {{ end }} 
                                </div>
                                <div class="more-btn" index="activity">
                                    <p>
                                        <span>{{ i18n "video_more" }}</span>
                                        <i class="icon-down"></i>
                                    </p>
                                </div>
                                <div class="hide-btn hide" index="activity">
                                    <p>
                                        <span>{{ i18n "video_default" }}</span>
                                        <i class="icon-up"></i>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="video-content" index="race">
                            <div class="video-title">
                                <h3>{{ i18n "video_race" }}</h3>
                            </div>
                            {{ $videoData := (where .Data.Pages "Type" "video") }}
                            <div class="video-list">
                                <div class="list-box">
                                    {{ range $videoData }}
                                    {{ if eq .Params.tag "race" }}
                                    <div class="video-msg" href="{{ .Permalink }}">
                                        <img class="transition_3" src="{{ .Params.banner | relURL }}">
                                        <div class="title-box">
                                            {{ if .Params.mobtitle}}
                                            <p class="mobile-title">{{ .Params.mobtitle }}</p>
                                            <p class="web-title" title="{{ .Params.title }}">{{ .Params.hometitle }}</p>
                                            {{ else }}
                                            <p title="{{ .Params.title }}">{{ .Params.hometitle }}</p>
                                            {{ end }}
                                        </div>
                                    </div>
                                    {{ end }} 
                                    {{ end }} 
                                </div>
                                <div class="more-btn" index="race">
                                    <p>
                                        <span>{{ i18n "video_more" }}</span>
                                        <i class="icon-down"></i>
                                    </p>
                                </div>
                                <div class="hide-btn hide" index="race">
                                    <p>
                                        <span>{{ i18n "video_default" }}</span>
                                        <i class="icon-up"></i>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="video-content" index="crash">
                            <div class="video-title">
                                <h3>{{ i18n "video_crash" }}</h3>
                            </div>
                            {{ $videoData := (where .Data.Pages "Type" "video") }}
                            <div class="video-list">
                                <div class="list-box">
                                    {{ range $videoData }}
                                    {{ if eq .Params.tag "crash" }}
                                    <div class="video-msg" href="{{ .Permalink }}">
                                        <img class="transition_3" src="{{ .Params.banner | relURL }}">
                                        <div class="title-box">
                                            {{ if .Params.mobtitle}}
                                            <p class="mobile-title">{{ .Params.mobtitle }}</p>
                                            <p class="web-title" title="{{ .Params.title }}">{{ .Params.hometitle }}</p>
                                            {{ else }}
                                            <p title="{{ .Params.title }}">{{ .Params.hometitle }}</p>
                                            {{ end }}
                                        </div>
                                    </div>
                                    {{ end }}
                                    {{ end }}
                                </div>
                                <div class="more-btn" index="crash">
                                    <p>
                                        <span>{{ i18n "video_more" }}</span>
                                        <i class="icon-down"></i>
                                    </p>
                                </div>
                                <div class="hide-btn hide" index="crash">
                                    <p>
                                        <span>{{ i18n "video_default" }}</span>
                                        <i class="icon-up"></i>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="video-content" index="database">
                            <div class="video-title">
                                <h3>{{ i18n "video_database" }}</h3>
                            </div>
                            {{ $videoData := (where .Data.Pages "Type" "video") }}
                            <div class="video-list">
                                <div class="list-box">
                                    {{ range $videoData }}
                                    {{ if eq .Params.tag "database" }}
                                    <div class="video-msg" href="{{ .Permalink }}">
                                        <img class="transition_3" src="{{ .Params.banner | relURL }}">
                                        <div class="title-box"><p title="{{ .Params.title }}">{{ .Params.hometitle }}</p></div>
                                    </div>
                                    {{ end }} 
                                    {{ end }} 
                                </div>
                                <div class="more-btn" index="database">
                                    <p>
                                        <span>{{ i18n "video_more" }}</span>
                                        <i class="icon-down"></i>
                                    </p>
                                </div>
                                <div class="hide-btn hide" index="database">
                                    <p>
                                        <span>{{ i18n "video_default" }}</span>
                                        <i class="icon-up"></i>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.col-md-9 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
        </div>
        <!-- /#content -->

        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}
    <script src="{{ "js/video.js" | relURL }}?t={{ mul 1000 (time now).Unix }}"></script>
  </body>
</html>
