<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  {{ partial "head.html" . }}
  <link rel="stylesheet" href="{{ "css/video.css" | relURL}}?t={{ mul 1000 (time now).Unix }}">
  <body>

    <div id="all">

        <header>

          {{ partial "nav.html" . }}

        </header>

        {{ partial "video_detail.html" . }}

        <div id="content">
            <div class="container">
                <div class="video_detail">
                    <video 
                        id="my-video"
                        class="video-js"
                        controls
                        autoplay
                        preload="auto"
                    >
                        <source src="{{ .Params.videourl }}">
                    </video>
                </div>

                </div>
                <!-- /.row -->

            </div>
            <!-- /.container -->
        </div>
        <!-- /#content -->

        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}
    <script>

    </script>
  </body>
</html>
