<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  {{ partial "head.html" . }}

  <body>

    <div id="all">

        <header>

          {{ partial "nav.html" . }}

        </header>

        {{ partial "breadcrumbs.html" . }}

        <div id="content">
            <div class="container">
                <div class="video_detail">
                    <video 
                        id="my-video"
                        class="video-js"
                        controls
                        preload="auto"
                    >
                        <source src="{{ .Params.videourl }}">
                    </video>
                </div>

                <div class="video_content">
                    <div class="video_content_top">                        
                        <h3>{{ .Title }}</h3>

                        <div class="isPc">
                            {{ $taxo := "styles" }} <!-- Use the plural form here -->
                            <ul id="{{ $taxo }}">
                                {{ range .Param $taxo }}
                                    {{ $name := . }}
                                    {{ with $.Site.GetPage (printf "/%s/%s" $taxo ($name | urlize)) }}
                                        <li><a href="{{ .Permalink }}">{{ $name }}</a></li>
                                    {{ end }}
                                {{ end }}
                                <li>{{ .Date.Format .Site.Params.date_format }}</li>
                            </ul>
                        </div>
                    </div>

                    <div class="isH5">
                        <div class="video_content_top">
                            {{ $taxo := "styles" }} <!-- Use the plural form here -->
                            <ul id="{{ $taxo }}">
                                {{ range .Param $taxo }}
                                    {{ $name := . }}
                                    {{ with $.Site.GetPage (printf "/%s/%s" $taxo ($name | urlize)) }}
                                        <li><a href="{{ .Permalink }}">{{ $name }}</a></li>
                                    {{ end }}
                                {{ end }}
                            </ul>
                            
                            <div>{{ .Date.Format .Site.Params.date_format }}</div>
                        </div>                        
                    </div>

                    <div class="video_content_bottom">
                        {{ .Content }}
                    </div>

                </div>
                <!-- /.row -->

            </div>
            <!-- /.container -->
        </div>
        <!-- /#content -->

        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}
    <script>

    </script>
  </body>
</html>
