<div class="table-responsive">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th><span>{{ default "List Name" (.Get 0) }}</span></th>
                <th><span>{{ default "Post Address" (.Get 1) }}</span></th>
                <th><span>{{ default "Description" (.Get 2) }}</span></th>
            </tr>
        </thead>
        <tbody>
            {{ range where $.Page.Site.Pages "Type" "maillist" }}
            {{ if .Params }}
            <tr>
                <td>
                    <a href="{{ .Params.websitelink}}" target="_blank">{{ .Params.listname }}</a>
                </td>
                <td>
                    {{ .Params.emailaddress }}
                </td>
                <td>
                    {{ .Params.description }}
                </td>
            </tr>
            {{ end }}
            {{ end }}
        </tbody>
    </table>
</div>