<div class="table-responsive isPc">
    <table class="table table-bordered table-striped">
        <tbody>
            <tr>
                <td><span>{{ default "List Name" (.Get 0) }}</span></td>
                <td><span>{{ default "Post Address" (.Get 1) }}</span></td>
                <td><span>{{ default "Description" (.Get 2) }}</span></td>
                <td><span>{{ default "Archive" (.Get 3) }}</span></td>
            </tr>
            {{ range where $.Page.Site.Pages "Type" "maillist" }}
            {{ if .Params }}
            <tr>
                <td>
                    <a href="{{ .Params.websitelink}}" target="_blank">{{ .Params.listname }}</a>
                </td>
                <td>
                    {{ .Params.emailaddress }}
                </td>
                <td>
                    {{ .Params.description }}
                </td>
                <td>
                    <a href="{{ .Params.archivelink}}" target="_blank">{{ .Params.archive }}</a>
                </td>
            </tr>
            {{ end }}
            {{ end }}
        </tbody>
    </table>
</div>

<div class="isH5">
    <table class="table">
        <tbody>
            <tr>
                <td><span>{{ default "List Name" (.Get 0) }}</span></td>
                <td><span>{{ default "Description" (.Get 2) }}</span></td>
                <td><span>{{ default "Archive" (.Get 3) }}</span></td>
            </tr>
            {{ range where $.Page.Site.Pages "Type" "maillist" }}
            {{ if .Params }}
            <tr>
                <td>
                    <a href="{{ .Params.websitelink}}" target="_blank">{{ .Params.listname }}</a>
                </td>
                <td>
                    {{ .Params.mobiledesc }}
                </td>
                <td>
                    <a href="{{ .Params.archivelink}}" target="_blank">{{ .Params.archive }}</a>
                </td>
            </tr>
            {{ end }}
            {{ end }}
        </tbody>
    </table>  
</div>