<div class="table-responsive isPc">
    <table class="table table-bordered table-striped">
        <tbody>
            <tr>
                <td><span>{{ default "IRC Meeting" (.Get 0) }}</span></td>
                <td><span>{{ default "Range" (.Get 1) }}</span></td>
            </tr>
            {{ range where $.Page.Site.Pages "Type" "meeting" }}
            {{ if .Params }}
            <tr>
                <td>
                    <a href="{{ .Params.meetinglink}}">{{ .Params.meeting }}</a>
                </td>
                <td>
                    {{ .Params.range }}
                </td>
            </tr>
            {{ end }}
            {{ end }}
        </tbody>
    </table>
</div>

<div class="isH5">
    <table class="table">
        <tbody>
            <tr>
                <td><span>{{ default "IRC Meeting" (.Get 0) }}</span></td>
                <td><span>{{ default "Range" (.Get 1) }}</span></td>
            </tr>
            {{ range where $.Page.Site.Pages "Type" "meeting" }}
            {{ if .Params }}
            <tr>
                <td>
                    <a href="{{ .Params.meetinglink}}">{{ .Params.meeting }}</a>
                </td>
                <td>
                    {{ .Params.range }}
                </td>
            </tr>
            {{ end }}
            {{ end }}
        </tbody>
    </table>  
</div>