.table_auto h3 {
    font-weight: normal;
    margin: 40px 0 20px!important;
}
.table_auto a {
    color: var(--theme);
}
.table_auto a:hover {
    text-decoration: none;
}
.container .content_text.table_auto {
    margin-bottom: 60px;
}
.container .content_text.table_auto p {
    color: #4d4d4d;
}
@media screen and (max-width: 768px) {
    .container .content_text.table_auto {
        margin-bottom: 20px;
    }
}