/*-------   home banner    ----------- */
#video-player {
    position: absolute;
    top: 60%;
    left: 55%;
    width: 98px;
    height: 98px;
    z-index: 2;
}
.video-container {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 3;
}
.video-mask {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.5;
}
.video-center {
    width: 900px;
    top: 50%;
    left: 50%;
    position: relative;
    transform: translate(-50%, -50%);
}
.video-container.hidding {
    display: none;
}
/*-------   other page banner    ----------- */
#heading-breadcrumbs h1 {
    font-size: 40px;
    font-weight: normal;
    margin-left: 245px;
    margin-top: 70px;
}
.home-banner-video {
    display: block;
    margin: 0 auto;
}
#heading-breadcrumbs {
    padding: 0;
    margin-bottom: 60px;
}
@media (max-width: 768px) {
    #heading-breadcrumbs h1 {
        margin: 50px auto 40px;
        text-align: center;
        font-size: 32px;
    }

    #heading-breadcrumbs .container {
        height: 280px;
    }
    #heading-breadcrumbs .isH5 img {
        width: 100%;
    }
    .video-center {
        width: 100%;
    }
    #video-player {
        width: 60px;
        height: 60px;
        left: 25%;
        top: 65%;
    }
}