#cla-header #heading-breadcrumbs{
    padding: 80px 0 60px;
    margin: 0;
}
#cla-header .container{
    height: max-content;
}
#cla-header .row .col-md-12 h1{
    margin: 0;
    line-height: 1;
    color: #000000;
    font-family: FZLTHJW--GB1-0, FZLTHJW--GB1;
}
#cla-header .row .col-md-12 img{
    display: none;
}
.container .cla-content p{
    font-size: 14px;
    color: #4D4D4D;
    line-height: 32px;
    font-family: FZLTHJW--GB1-0, FZLTHJW--GB1;
    margin-bottom: 20px;
}
.container .cla-content p strong{
    font-weight: normal;
}
.container .cla-content{
    margin-bottom: 20px;
}
.container .cla-content #sel li input{
    width: 0;
    height: 0;
}
#sel li label{
    font-size: 14px;
    font-family: FZLTHJW--GB1-0, FZLTHJW--GB1;
    font-weight: normal;
    color: #000000;
    line-height: 24px;
}
#sel{
    width: 50%;
    min-width: 454px;
}
.container .col-md-12 .table{
    margin-bottom: 0;
}
.container .col-md-12 .table>p{
    margin-bottom: 20px;
}
.col-md-12 .table #sel {
    display: flex;
    padding: 0;
}
.col-md-12 .table #sel input[type="radio"]+label::before {
    opacity: 0;
    content: '';
    display: inline-block;
    vertical-align: middle;
    font-size: 0.28rem;
    width: 0;
    height: 0;
    border-radius: 50%;
    border: 1px solid #999999;
}

.col-md-12 .table #sel input[type="radio"]:checked+label::before {
    border: none;
    width: 0;
    height: 0;
}
.container .cla-content .disclaimer input[type="checkbox"]:checked+label::before {
    background: url(../img/xuanzhong.png);
    background-size: cover;
    border: none;
    width: 0;
    height: 0;
}
.table #sel li {
    padding: 0 48px;
    width: 50%;
    list-style: none;
    text-align: center;
    border-bottom: 1px solid rgba(0,0,0,.24);
}
.table #sel li label{
    cursor: pointer;
    line-height: 1.4;
}
.table #sel .is-active{
    border-bottom: 4px solid #7D32EA;
}
.table #sel li label,
.form_one>div span,
.form_two>div span {
    color: #4D4D4D;
}
.formHide {
    display: none;
}
.formShow {
    display: block;
}
#form {
    width: 50%;
    min-width: 414px;
    padding-left: 20px;
}
.form_one>div,
.form_two>div {
    padding: 10px 0;
}
.form_one>p,
.form_two>p {
    font-size: 12px;
    font-family: FZLTXIHJW--GB1-0, FZLTXIHJW--GB1;
    font-weight: normal;
    color: #000000;
    line-height: 16px;
}
.form_one>p,
.form_two>p {
    padding: 20px 0 10px;
}
.form_one>div>span,
.form_two>div>span {
    display: inline-block;
    width: 25%;
    font-size: 14px;
    font-family: FZLTHJW--GB1-0, FZLTHJW--GB1;
    font-weight: normal;
    color: #4D4D4D;
    line-height: 24px;
}
.form_one>.mast-add>span, .form_two>.mast-add>span{
    font-size: 12px;
    width: 100%;
}
#individual-date,#legalentity-date{
    background: rgba(0, 0, 0, 0.05);
}
.form_one>div input,
.form_two>div input {
    font-size: 12px;
    display: inline-block;
    width: 50%;
    min-width: 265px;
    text-indent: .25em;
    height: 26px;
    border-radius: 1px;
    border: 1px solid rgba(0,0,0,.25);
    font-family: FZLTHJW--GB1-0, FZLTHJW--GB1;
    color: #4D4D4D;
    padding-left: 10px;
}
.form_one input::-webkit-input-placeholder,
.form_two input::-webkit-input-placeholder {
    font-size: 12px;
    font-family: FZLTXIHJW--GB1-0, FZLTXIHJW--GB1;
    color: rgba(0, 0, 0, 0.1);
    line-height: 16px;
}
.submit {
    padding: 12px 0;
    display: flex;
    align-items: center;
    padding-left: 20px;
    text-align: left;
}
.submit .btn-template-main {
    width: 90px;
    height: 30px;
    border: 1px solid #7D32EA;
    color: #7D32EA;
    border-radius: 4px;
    font-size: 14px;
    font-family: FZLTHJW--GB1-0, FZLTHJW--GB1;
    line-height: 1;
    outline: none;
}
.submit .btn-template-main:focus{
    background-color: #FFF;
}
.submit .btn-template-main:active{
    outline: none;
}
.submit .btn-template-main:hover{
    border: 1px solid #7D32EA;
    color: #7D32EA;
    background-color: #FFF;
}
.submit .btn-template-main:first-child:hover{
    border: 1px solid #7D32EA;
    color: #FFF;
    background-color: #7D32EA;
}
.submit .btn-template-main:first-child {
    margin-right: 20px;
    border: 1px solid #7D32EA;
    color: #FFF;
    background-color: #7D32EA;
}
.submit .btn-template-main:first-child:disabled {
    border: 1px solid rgba(0, 0, 0, .24);
    color: #FFF;
    background-color: rgba(0, 0, 0, .24);
}
#tip-cla-label {
    width: 70%;
    text-align: center;
    color: #467FBF;
    height: 30px;
}
.container .cla-content .disclaimer {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px 0;
    padding-left: 20px;
    font-size: 12px;
    font-family: FZLTXIHJW--GB1-0, FZLTXIHJW--GB1;
    font-weight: normal;
    color: #4D4D4D;
    line-height: 1;
}
.container .cla-content .disclaimer input{
    margin: 0;
    margin-right: 15px;
    cursor: pointer;
}
.container .cla-content .disclaimer label{
    margin: 0;
    line-height: 1;
    cursor: pointer;
}
.disclaimer a {
    color: #7D32EA;
    cursor: pointer;
}

@media screen and (max-width: 768px){
    #cla-header .container{
        height: max-content !important;
    }
    #cla-header #heading-breadcrumbs{
        padding: 50px 0 40px;
    }
    #cla-header .row .col-md-12 h1{
        font-size: 24px;
        text-align: left;
    }
    #tip-cla-label{
        height: 0;
    }
    .container{
        width: 100vw;
    }
    #form,#sel{
        width: 100%;
        min-width: 0;
    }
    #form{
        padding: 0 5px;
    }
    .table #sel li{
        padding: 0 16px;
    }
    .form_one>div input, .form_two>div input{
        width: 6.1rem;
    }
    .form_one>div>span,
    .form_two>div>span{
        width: 2.625rem;
    }
    .form_one>div, .form_two>div{
        display: flex;
        justify-content: space-between;
    }
    .submit{
        width: 100%;
        text-align: left;
        padding-left: 5px;
    }
    
}
