.contribution{
    width: 100%;
    margin: 0 auto;
    max-width: 1170px;
    padding: 0 15px;
    padding-bottom: 60px;
}
.contribution p {
    font-size: 14px;
    color: #4D4D4D;
    line-height: 32px;
    font-family: FZLTHJW--GB1-0, FZLTHJW--GB1;
}
.contribution p code{
    color: #4D4D4D;
    background-color: #ffffff;
    font-size: 14px;
}
.contribution p a{
    color: #7D32EA;
    font-size: 14px;
}
.contribution h3{
    margin-top: 40px;
    margin-bottom:20px;
    font-size: 24px;
    font-family: FZLTHJW--GB1-0, FZLTHJW--GB1;
    font-weight: normal;
    color: #000000;
    line-height: 32px;
}
.contribution h4{
    margin-top: 30px;
    margin-bottom:20px;
    font-size: 18px;
    font-weight: normal;
    color: #000000;
    line-height: 24px;
}
.contribution table{
    margin-top: 20px;
    width: 100%;
}
.contribution table th,.contribution table td{
    height: 56px;
    width: 50%;
    padding: 0 80px;
}
.contribution table th{
    font-size: 18px;
    font-family: FZLTHJW--GB1-0, FZLTHJW--GB1;
    font-weight: normal;
    color: #000000;
    line-height: 24px;
    background: rgba(0, 0, 0, 0.05);
}
.contribution table tbody td a{
    font-size: 14px;
    font-family: FZLTHJW--GB1-0, FZLTHJW--GB1;
    font-weight: normal;
    color: #7D32EA;
    line-height: 32px;
}
.contribution table tbody tr td+td{
    font-size: 14px;
    font-family: FZLTHJW--GB1-0, FZLTHJW--GB1;
    font-weight: normal;
    color: #4D4D4D;
    line-height: 32px;
}
.contribution table tbody tr:nth-child(even){
    background: rgba(0, 0, 0, 0.05);
}


@media screen and (max-width: 768px) {
    .contribution{
        width: 100vw !important;
        padding: 0 15px;
        padding-bottom: 20px;
        margin: 0;
    }
    .contribution table{
        margin-top: 20px;
        width: calc(100vw - 30px) !important;
    }
    .contribution table th,.contribution table td{
        height: 56px;
        word-wrap: break-word;
        word-break: break-all;
        width: 35%;
        padding: 0;
        white-space:pre-wrap;
    }
    .contribution table th+th,.contribution table td+td{
        width: 65%;
    }
    .contribution p {
        font-size: 14px;
        color: #4D4D4D;
        line-height: 32px;
    }
    .contribution p a,.contribution p code{
        color: #4D4D4D;
        background-color: #ffffff;
        font-size: 14px;
        white-space: pre-wrap;
        word-break: break-all;
    }
    .contribution h3{
        font-size: 18px;
        font-family: FZLTHJW--GB1-0, FZLTHJW--GB1;
        font-weight: normal;
        color: #000000;
        line-height: 24px;
    }
    .contribution h4{
        font-size: 16px;
        font-family: FZLTHJW--GB1-0, FZLTHJW--GB1;
        font-weight: normal;
        color: #000000;
        line-height: 16px;
    }
    .contribution table th{
        font-size: 16px;
        font-family: FZLTHJW--GB1-0, FZLTHJW--GB1;
        font-weight: normal;
        color: #000000;
        line-height: 16px;
        background: rgba(0, 0, 0, 0.05);
    }
    .contribution table tbody td a{
        font-size: 14px;
        font-family: FZLTHJW--GB1-0, FZLTHJW--GB1;
        font-weight: normal;
        color: #7D32EA;
        line-height: 32px;
    }
    .contribution table tbody tr td+td{
        font-size: 14px;
        font-family: FZLTHJW--GB1-0, FZLTHJW--GB1;
        font-weight: normal;
        color: #4D4D4D;
        line-height: 24px;
    }
    .contribution table tbody tr:nth-child(even){
        background: rgba(0, 0, 0, 0.05);
    }
}