@media screen and (min-width: 319px) and (max-width: 767px) {
  .isPc {
    display: none;
  }
  .isH5 {
    display: block;
  }
  header {
    padding: 0 0.4rem;
    position: relative;
    border-bottom: 1px solid #ECECEC;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* height: 0.8rem; */
  }
  .nav_table{
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  header .topbar {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    list-style-type: none;
    /* padding: 15px 0px; */
  }

  header .topbar li {
    height: 50px;
  }

  header .topbar .search {
    white-space: nowrap;
  }

  header .topbar .search a.list,
  header .topbar .search a.list:hover,
  header .topbar .search a.list:active {
    color:inherit;
    text-decoration: none;
    padding: 15px 10px;
  }

  header .navbar-brand {
    padding: 5px 0;
    height: auto;
  }

  header .navbar-brand>img {
    width: 80%;
  }

  header h2 {
    font-size: 0.4rem;
    margin: 0;
  }
  header ul li {
    padding: 0 0.1rem;
    font-size: 0.28rem;
  }
  header ul li.search {
    display: flex;
    /* margin-right: .2rem; */
  }
  header ul li img {
    width: 16px;
  }
  header #nav {
    position: absolute;
    top: 51px;
    left: 0;
    width: 100%;
    display: none;
    background: #fff;
    color: #333;
    z-index: 1000;
    padding: 0 .3rem;
    box-shadow: 0 5px 10px 0 #D3D3D3;
  }
  header #nav p {
    line-height: .52rem;
    padding: .14rem 0;
    font-size: .26rem;
    border-bottom: 1px solid #ECECEC;
    /* text-transform: uppercase; */
    margin: 0;
  }
  header #nav p:not(:last-child) {
    border-bottom: 1px solid #ECECEC;
  }
  header #nav .second_menu {
    position: relative;
  }
  header #nav .second_menu i {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-top: 5px solid #000;
    border-right: 5px solid transparent;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(-50%, 0px);
  }
  header #nav .menu_list {
    display: none;
  }
  header #nav .menu_list p {
    padding: 0.14rem .3rem;
  }
  header #nav a.list,
  header #nav a.list:hover,
  header #nav a.list:active {
    color:inherit;
    text-decoration: none;
    border-bottom: 1px solid #ECECEC;
  }
  footer {
    padding: .4rem .6rem;
  }
  footer .foot {
    flex-direction: column;
  }
  footer .foot .contact {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    /* height: .44rem; */
  }
  footer .foot .contact h2 {
    font-size: 0.4rem;
    margin-bottom: 0;
  }
  footer .foot .contact p {
    font-size: .24rem;
  }
  footer .foot .contact svg {
    width: 12px;
    height: 17px;
  }
  footer .foot .notice {
    margin-top: .4rem;
    width: auto;
    text-align: center;
  }
   /* ----------新闻、活动---------- */
  .newsDetail_content_left img {
    width: 2.6rem;
    height: 2rem;
  }
  .newsDetail_content {
    padding: 0;
  }
  .newsDetail_content .newsDetail_content_warp .newsDetail_content_right h3 {
    line-height: 0.34rem;
    margin: 0;
  }
  .newsDetail_content_right h3 a {
    font-size: 0.28rem;
  }
  .newsDetail_content_right {
    margin-left: 0.3rem;
  }
  .newsDetail_right_tips {
    margin: 0.16rem 0 0.2rem 0;
  }
  .newsDetail_right_content a {
    font-size: 0.2rem;
    line-height: 0;
  }
  .newsDetail_right_content {
    display: none;
  }
  .newsDetail_right_btn {
    bottom: 0.1rem;
  }
  #heading-breadcrumbs .detailTitle {
    font-size: 0.28rem;
    text-transform: none;
  }
  .col-md-12 h2 {
    margin: 20px 0;
  }
  /* ----------邮件列表--------- */
  .divmail .flex {
    display: flex;
  }
  .table-respon {
    overflow-x: auto;
  }
  .table-left {
    flex: 0 0 2rem;
    width: auto;
  }
  /* ------------社区贡献------------ */
  .container .col-md-12 h3,
  .container .col-md-12 h2,
  .container .col-md-12 h1 {
    margin: 0.3rem 0;
  }
  h1 {
    font-size: 0.68rem;
    line-height: 0.68rem;
  }
  h2 {
    font-size: 0.48rem;
    line-height: 0.48rem;
  }
  h3 {
    font-size: 0.4rem;
    line-height: 0.4rem;
  }
  h4 {
    font-size: 0.32rem;
    line-height: 0.32rem;
  }
  h5 {
    font-size: 0.28rem;
    line-height: 0.28rem;
  }
  h6 {
    font-size: 0.24rem;
    line-height: 0.24rem;
  }
  /* ----------------文档-------------- */

  /* ----------------视频---------------- */
  .video_detail video {
    height: 4rem;
  }
  .video_infro {
    margin: 1%;
    width: 48%;
  }
  .building img {
    max-width: 4.8rem;
  }
  #error-page img {
    width: 4.8rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 1280px) {
  .isPc {
    display: none;
  }
  header {
    padding: 0 .6rem;
    position: relative;
    display: flex;
    justify-content: space-between;
  }
  header .topbar {
    display: flex;
    align-items: center;
    margin: 0 595px;
    list-style-type: none;
    padding: 20px 0;
  }
  header .topbar .search {
    white-space: nowrap;
  }
  header .topbar .search a.list,
  header .topbar .search a.list:hover,
  header .topbar .search a.list:active {
    color:inherit;
    text-decoration: none;
    padding: 0 10px;
  }
  header .navbar-brand {
    padding: 5px 15px;
  }
  header h2 {
    font-size: 0.38rem;
    margin: 0px;
  }
  header ul li {
    padding: 0 0.1rem;
    font-size: 0.28rem;
    display: flex;
  }
  header ul li img {
    width: 18px;
  }
  header #nav {
    position: absolute;
    top: 62px;
    left: 0;
    width: 100%;
    display: none;
    background: #fff;
    color: #333;
    z-index: 1000;
    padding: 0 .6rem;
    box-shadow: 0 5px 10px 0 #D3D3D3;
  }
  header #nav p {
    line-height: .52rem;
    padding: .14rem 0;
    font-size: .28rem;
    border-bottom: 1px solid #ECECEC;
    text-transform: uppercase;
  }
  header #nav p:not(:last-child) {
    border-bottom: 1px solid #ECECEC;
  }
  header #nav .second_menu {
    position: relative;
  }
  header #nav .second_menu i {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-top: 5px solid #000;
    border-right: 5px solid transparent;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(-50%, 0px);
  }
  header #nav .menu_list {
    display: none;
  }
  header #nav .menu_list p {
    padding: 0.14rem .3rem;
  }
  header #nav a.list,
  header #nav a.list:hover,
  header #nav a.list:active 
  {
    color:inherit;
    text-decoration: none;
  }

  .table-respon {
    overflow-x: auto;
  }
  .table-left {
    flex: 0 0 3rem;
    width: auto;
  }
  
  footer {
    padding: 20px 30px 20px;
  }
  .isPad {
    display: block !important;
  }
  .pc_box {
    display: none !important;
  }
  /* -------------------视频------------------- */
  .video_detail video {
    height: 8rem;
  }
}
@media screen and (max-width: 1280px) {
  /* ----------------文档-------------- */
  .container {
    position: relative;
  }
  .book-warp {
    position: absolute;
    top: 0;
    left: 0;
    background: #ffffff;
  }
  .docscontainer {
    display: block;
    position: relative;
  }
  .book-menu,.book-page {
    width: 100%;
  }
  .book-menu {
    position: relative;
    z-index: 100;
    padding: 0 0.24rem;
    min-height: 400px;
    background: #F3F9FF;
  }
  .book-menu nav {
    box-shadow: none;
  }
  .book-menu .jstree-default .jstree-clicked {
    background-color: #F3F9FF;
  }
  .book-menu {
    transform: translateX(-100%);
  }
  .breadcrumbs {
    height: 30px;
    line-height: 30px;
    padding: 0 0.24rem;
    background: #467FBF;
    margin-bottom: 0.2rem;
  }
  .breadcrumbs a,
  .breadcrumbs span {
    color: #cccccc;
    font-size: 0.24rem;
  }
  .breadcrumbs a:last-child {
    color: #ffffff;
  }
  body .slide_nav {
    display: flex;
    align-items: center;
  }
  .slide_nav>div {
    width: 0.82rem;
    text-align: center;
    height: 100%;
    line-height: 0.64rem;
  }
  .docsMenu {
    z-index: 100;
  }
  .slide_nav .select {
    flex-grow: 1;
    border-left: 1px solid #D6D6D6;
  }
  .select select {
    height: 100%;
    border: none;
    outline: none;
    padding-right: 0.4rem;
    font-size: 0.28rem;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: url(/img/docs/xiala.png) no-repeat right;
  }
  .markdown,.book-footer {
    padding: 0 0.24rem;
  }
  .markdown img {
    max-width: 100%;
  }
  /* .markdown h1 {
    font-size: 0.32rem;
  } */
  .book-page .pager,
  .affirm {
    padding: 0 0.24rem;
  }
  /* 下载 */
  .table-nav {
    margin-bottom: 0;
  }
  .table-content {
    margin-bottom: 70px;
  }
  .table-option {
    width: 2.1rem;
  }
  .table-option p {
    text-align: center;
  }
  .container .table-nav .table-option .icon {
    width: 0.4rem;
    height: 0.4rem;
    background-size: 90%;
  }
  .download_list {
    padding: 30px 0;
    border-bottom: 1px solid #d4d4d4;
  }
  .download_list>p {
    color: #467FBF;
    margin-bottom: 0.18rem;
  }
  .download_content {
    display: flex;
  }
  .download_content>span {
    display: block;
    margin-right: 0.2rem;
    color: #666666;
  }
  .download_content>div {
    width: 90%;
    display: flex;
    justify-content: space-between;
  }
  .download_list .download_sha {
    width: 90%;
    color: #000000;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-wrap: break-word;
  }
  .download_more,.download_close {
    color: #467FBF;
  }
  .download_list .download_sha_unfold {
    width: 100%;
    display: block;
  }
  .connectors_table,
  .tools_table {
    display: flex;
    margin: 0.2rem 0;
  }
  .connectors_table>div,
  .tools_table>div {
    padding: 0.1rem 0.4rem;
    background: #eeeeee;
    margin-left: 0.2rem;
    border-radius: 0.5rem;
  }
  .connectors_table>div:first-child,
  .tools_table>div:first-child {
    margin-left: 0;
  }
  .connectors_table>.active,
  .tools_table>.active {
    background: #467FBF;
    color: #ffffff;
  }
  /* ---------------------视频-------------------- */
  .container .col-md-12 .video_title h3 {
    margin: 0 0 0.3rem 0;
  }
  .video_tags .tags-list {
    padding-left: 0;
    list-style: none;
    flex-wrap: wrap;
  }
  .video_tags .tags-list li {
    list-style: none;
    margin: 0.1rem 0.2rem 0 0;
  }
  .video_tags .tags-list li a,
  .video_content_top ul li a {
    border-radius: 0.12rem;
  }
  .video_list::after, .video_title::after {
    height: 1px;
  }
  .video_title::after {
    margin-top: 0;
  }
  .video_title {
    margin-bottom: 0;
  }
  .video_list::after {
    margin-top: 0;
  }
  .video_infro h4 {
    font-size: 0.28rem;
    margin: 0.2rem 0 0.1rem 0;
  }
  .video_infro p {
    font-size: 0.24rem;
  }
  /* .video_detail video {
    height: 4rem;
  } */
  .video_content_top ul li:last-child {
    line-height: inherit;
  }
  .video_content_top>div {
    color: #9c9fae;
  }
  .video_content_bottom p {
    font-size: 0.24rem;
  }
  .video_content_top h3 {
    font-size: 0.32rem;
  }
  .video_content_bottom {
    margin-bottom: 2.5rem;
}
}

@media screen and (min-width: 1280px) {
  .isPc {
    display: block;
  }
  .isH5 {
    display: none;
  }
}
