.flex {
  display: flex;
  display: -webkit-flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
}

footer {
  width: 100%;
  padding: 50px 30px 50px;
  background: #111;
  color: #fff;
}
footer .foot {
  max-width: 1366px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .contact svg {
  width: 14px;
}
footer .contact svg path {
  fill: #fff;
}
footer .contact p {
  margin:0 0 0 10px;
  font-size: 16px;
  display: inline-block;
}
footer .contact p a {
  color: #FFFFFF;
}
footer .contact h2 {
  margin-bottom: 16px;
  margin-top: 0px;
  font-size: 40px;
  color: #fff;
}
footer .notice {
  width: 100%;
  font-size: 13px;
  color: #909090;
  line-height: 28px;
  text-align:right;
}
footer .notice span {
  color: #5F9BDE;
}
#all .navbar ul.nav > li > a {
  text-decoration: none !important;
}

#docsMenu {
  display: none;
}

#blog-post video {
  margin-bottom: 20px;
}
#navigation .navbar-form {
  padding: 0;
}
#navigation .nav-search .search-icon {
  line-height: 58px;
}
#navigation .fa-search {
  font-size: 18px;
  vertical-align: middle;
  cursor: pointer;
}
#navigation .fa-search:before {
  content: "\f002";
  font-size: 18px;
  color: #467fbf;
}
#navigation .search button {
  border: none;
  background: #fff;
  position: absolute;
  right: 105px;
  height: 0;
}
#navigation .search button:hover {
  background: #fff;
}
#navigation .search input {
  width: 300px;
  height: 36px;
  padding: 0 10px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, .25);
}
#navigation .nav-search {
  width: 20px;
}
.input-group .input-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
}
#search-box {
  display: none;
  width: 500px;
  line-height: 50px;
  position: absolute;
  right: -90px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 3;
  text-align: center;
}
#search-box.show {
  display: inline-block;
}
#search-icon {
  position: relative;
  right: 30px;
  top: -2px;
}

/*new footer*/
.foot a {
  color: #fff;
}
.foot a:hover {
  text-decoration: none;
}

.footer-logo,
.footer-copyright {
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-copyright p {
  text-align: center;
}

.footer-wechat {
  text-align: center;
}

.footer-wechat img {
  margin-bottom: 5px;
}