@media screen and (min-width: 319px) and (max-width: 767px) {
  .isPc {
    display: none;
  }
  .isH5 {
    display: block;
  }
  header {
    padding: 0 0.4rem;
    position: relative;
    border-bottom: 1px solid #ECECEC;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* height: 0.8rem; */
  }
  .nav_table{
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  header .topbar {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    list-style-type: none;
    /* padding: 15px 0px; */
  }

  header .topbar li {
    height: 50px;
  }

  header .topbar .search {
    white-space: nowrap;
  }

  header .topbar .search a.list,
  header .topbar .search a.list:hover,
  header .topbar .search a.list:active {
    color:inherit;
    text-decoration: none;
    padding: 15px 10px;
  }

  header .navbar-brand {
    padding: 5px 0;
    height: auto;
  }

  header .navbar-brand>img {
    width: 80%;
  }

  header h2 {
    font-size: 0.4rem;
    margin: 0;
  }
  header ul li {
    padding: 0 0.1rem;
    font-size: 0.28rem;
  }
  header ul li.search {
    display: flex;
    /* margin-right: .2rem; */
  }
  header ul li img {
    width: 16px;
  }
  header #nav {
    position: absolute;
    top: 51px;
    left: 0;
    width: 100%;
    display: none;
    background: #fff;
    color: #333;
    z-index: 1000;
    padding: 0 .3rem;
    box-shadow: 0 5px 10px 0 #D3D3D3;
  }
  header #nav p {
    line-height: .52rem;
    padding: .14rem 0;
    font-size: .26rem;
    border-bottom: 1px solid #ECECEC;
    text-transform: uppercase;
    margin: 0;
  }
  header #nav p:not(:last-child) {
    border-bottom: 1px solid #ECECEC;
  }
  header #nav .second_menu {
    position: relative;
  }
  header #nav .second_menu i {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-top: 5px solid #000;
    border-right: 5px solid transparent;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(-50%, 0px);
  }
  header #nav .menu_list {
    display: none;
  }
  header #nav .menu_list p {
    padding: 0.14rem .3rem;
  }
  header #nav a.list,
  header #nav a.list:hover,
  header #nav a.list:active {
    color:inherit;
    text-decoration: none;
    border-bottom: 1px solid #ECECEC;
  }
  footer {
    padding: .4rem .6rem;
  }
  /* footer .foot {
    display: block;
  } */
  footer .foot .contact {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    /* height: .44rem; */
  }
  footer .foot .contact h2 {
    font-size: 0.4rem;
    margin-bottom: 0;
  }
  footer .foot .contact p {
    font-size: .24rem;
  }
  footer .foot .contact svg {
    width: 12px;
    height: 17px;
  }
  footer .foot .notice {
    margin-top: .4rem;
    width: auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 1280px) {
  .isPc {
    display: none;
  }
  header {
    padding: 0 .6rem;
    position: relative;
    display: flex;
    justify-content: space-between;
  }
  header .topbar {
    display: flex;
    align-items: center;
    margin: 0 595px;
    list-style-type: none;
    padding: 20px 0;
  }
  header .topbar .search {
    white-space: nowrap;
  }
  header .topbar .search a.list,
  header .topbar .search a.list:hover,
  header .topbar .search a.list:active {
    color:inherit;
    text-decoration: none;
    padding: 0 10px;
  }
  header .navbar-brand {
    padding: 5px 15px;
  }
  header h2 {
    font-size: 0.38rem;
    margin: 0px;
  }
  header ul li {
    padding: 0 0.1rem;
    font-size: 0.28rem;
    display: flex;
  }
  header ul li img {
    width: 18px;
  }
  header #nav {
    position: absolute;
    top: 62px;
    left: 0;
    width: 100%;
    display: none;
    background: #fff;
    color: #333;
    z-index: 100;
    padding: 0 .6rem;
    box-shadow: 0 5px 10px 0 #D3D3D3;
  }
  header #nav p {
    line-height: .52rem;
    padding: .14rem 0;
    font-size: .28rem;
    border-bottom: 1px solid #ECECEC;
    text-transform: uppercase;
  }
  header #nav p:not(:last-child) {
    border-bottom: 1px solid #ECECEC;
  }
  header #nav .second_menu {
    position: relative;
  }
  header #nav .second_menu i {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-top: 5px solid #000;
    border-right: 5px solid transparent;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(-50%, 0px);
  }
  header #nav .menu_list {
    display: none;
  }
  header #nav .menu_list p {
    padding: 0.14rem .3rem;
  }
  header #nav a.list,
  header #nav a.list:hover,
  header #nav a.list:active 
  {
    color:inherit;
    text-decoration: none;
  }
  
  footer {
    padding: 20px 30px 20px;
  }
  .isPad {
    display: block !important;
  }
  .pc_box {
    display: none !important;
  }
}
@media screen and (min-width: 1280px) {
  .isPc {
    display: block;
  }
  .isH5 {
    display: none;
  }
}
