/*  

  banner:                16
  Wechat QR code:        100
  about opengauss:       144
  news:                  217
  events:                313
  video:                 399
  partners:              409
  same style:            602


*/


/* ------------------------------------- banner -------------------------------------- */
.banner {
  position: relative;
}
.banner_swiper {
  height: 465px;
}
.banner_swiper_slide {
  position: relative;
}
.banner_swiper_slide img {
  width: 100%;
  height: 100%;
}
.banner_content {
  position: absolute;
  width: 80%;
  top: 24%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}
.banner_btn {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
}
.banner .banner_btn a {
  display: inline-block;
  width: 113px;
  height: 37px;
  background-color: rgba(255, 255, 255,1);
  border: 1px solid #ffffff;
  border-radius: 2px;
  font-family: PingFangSC-Medium;
  font-size: 14px;
  color: rgb(65, 66, 66);
  text-align: center;
  line-height: 37px;
  text-decoration: none;
}

.banner .banner_btn a:hover {
  background-color: #467fbf;
  box-shadow: 0 5px 20px 0 rgba(51, 93, 140, 0.41);
  border: 1px solid #467fbf;
  color: #ffffff;
}

.banner .banner_btn a:last-child {
  margin-left: 30px;
}
.banner_content h1,
.banner_content h4 {
  color: #ffffff;
  font-weight: 500;
}
.banner_content h1 {
  font-size: 64px;
}
.banner_content h4 {
  font-size: 26px;
  margin: 20px;
}
.banner_swiper_pagination .swiper-pagination-bullet {
  background: #ffffff;
  opacity: 1;
}
.banner_swiper_pagination .swiper-pagination-bullet-active {
  width: 16px;
  height: 16px;
}
.banner_swiper_pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  margin: auto;  
}

/* -----------------------------------------  Wechat QR code  ----------------------------------------- */
.navbar-right>li>.wechat {
  height: 0;
  width: auto;
  background: #ffffff;
  position: absolute;
  left: 50%;
  transition: all .5s;
  overflow: hidden;
  transform: translateX(-50%);
  z-index: 100;
}
.navbar-right>li>.wechat>p {
  font-weight: bold;
  letter-spacing: 0.08em;
  color: #555555;
}
.navbar-right>.weixin:hover .wechat{
  height: 288px;
}
/* h5二维码 */
.goBack {
  text-decoration: none;
  color: #467FBF;
}
.qrCode {
  position: absolute;
  top: 100px;
  left: 50%;
  width: 80%;
  height: auto;
  transform: translateX(-50%);
}
.qrCode img {
  width: 100%;
  height: auto;
}
.qrCode p {
  text-align: center;
  background: #ffffff;
  font-size: .28rem;
}


/* ----------------------------------------  about opengauss  ----------------------------------------- */

.content .content_character {
  width: 100%;
}

.content .content_character {
  padding: 60px 0 80px 0;
}

.content_character_title p {
  width: 89%;
  font-family: PingFangSC-Regular;
  font-size: 18px;
  color: #7F7F7F;
  line-height: 28px;
  margin: 60px auto 40px auto;
  text-align: center;
}

.content_character_lists ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.content_character_lists ul li {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
  height: 350px;
  box-sizing: border-box;
}
.content_character_lists ul li:nth-child(1) {
  border-bottom: 1px solid #DCDCDC;
  border-right: 1px solid #DCDCDC;
}
.content_character_lists ul li:nth-child(2) {
  border-bottom: 1px solid #DCDCDC;
}
.content_character_lists ul li:nth-child(3) {
  border-right: 1px solid #DCDCDC;
}
.content_character_lists_far li>div {
  padding-top: 44px;
  text-align: center;
}

.content_character_lists ul li h4 {
  font-family: PingFangSC-Semibold;
  font-size: 20px;
  color: #141414;
  margin: 30px 0 9px 0;
}

.content_character_lists ul li p {
  font-family: PingFangSC-Regular;
  width: 80%;
  font-size: 16px;
  color: #7F7F7F;
  line-height: 30px;
  text-align: center;
}

.content_character_lists ul li:hover {
  box-shadow: 0 0 45px 0 rgba(214, 228, 238, 0.71);
}



/* ------------------------------------------  news  ------------------------------------------ */
/* -------------------    news     -------------------- */
.new_content {
  background: #F7FCFF;
  padding: 68px 0;
}
.new_content ul {
  display: flex;
  justify-content: flex-start;
  margin: 68px 0 50px 0;
}
.news_items {
  width: 360px;
  height: 540px;
  flex: auto;
}
/* .news_items:nth-child(1) {
  flex: auto;
} */
.news_items:nth-child(2) {
  margin-left: 30px;
}
.news_items:nth-child(3) {
  margin-left: 30px;
}
.news_items>div {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.news_items>div>a {
  display: block;
  width: 100%;
}
.news_items>div img {
  height: 100%; 
}
.transition_3 {
  transition: transform .3s;
}
.news_items_Plate {
  width: 100%;
  height: 130px;
  background: rgba(74, 93, 99, 0.8);
  position: absolute;
  bottom: 0;
  left: 0;
}
.news_items_Plate h4 {
  font-size: 18px;
  color: #ffffff;
  font-weight: 500;
  padding: 24px 0 12px 0;
}
.new_content li p {
  font-family: PingFangSC-Regular;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
}
.news_items_Plate h4,
.new_content li p {
  width: 90%;
  margin: 0 auto;
}
.new_content li div {
  border-radius: 5px;
}

.scale_102:hover img {
  transform: scale(1.02);
}
.see_more {
  text-align: center;
}
.see_more_btn {
  border: 1px solid #137AC0;
  background: #ffffff;
  outline: none;
  padding: 6px 37px;
  border-radius: 17px;
  font-weight: 600;
}
.see_more_btn:hover {
  text-decoration: none;
  background: #137AC0;
  color: #ffffff;
}

/* -----------------------------------------------  events  --------------------------------------------- */
.events_content {
  margin: 68px 0 50px 0;
}
.events_content>.content {
  /* border-bottom: 1px solid #DCDCDC; */
  padding-bottom: 50px;
}
.events_content ul {
  margin: 68px 0 50px 0;
}
.events_items {
  display: flex;
  justify-content: space-between;
  height: 335px;
}
.events_items:nth-child(2) {
  margin-top: 60px;
  flex-direction: row-reverse;
}
.events_items:nth-child(2) .events_items_right {
  text-align: right;
}
.events_items:nth-child(2) .events_items_right a>div>div {
  display: flex;
  justify-content: flex-end;
}
.events_items_left,
.events_items_right {
  width: 48%;
}
.events_items_left a {
  display: block;
  overflow: hidden;
}
.events_items_left a img {
  width: 100%;
}
.events_items_right a {
  display: block;
  padding: 20px 0;
  color: #999999;
}
.events_items_right a:hover {
  text-decoration: none;
}
.events_items_right a h4 {
  font-family: PingFangSC-Semibold;
  font-size: 20px;
  color: #333333;
}
.events_items_right a>div {
  margin: 22px 0;
}
.events_items_right a>div>div {
  display: flex;
}
.events_items_right p {
  font-size: 16px;
  line-height: 28px;
}
.events_items_date,
.events_items_label {
  padding: 10px 15px;
  background-color: #EFEFEF;
  display: flex;
  align-items: center;
}
.events_items_date span,
.events_items_label span {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 10px;
}
.events_items_date {
  margin-right: 10px;
}
.events_items_date span {
  background: url(../img/calendar.png) no-repeat;
}
.events_items_label span {
  background: url(../img/label.png) no-repeat;
}


/* ----------------------------------------  video   --------------------------------------- */
.content_video_title {
  position: relative;
}
.swiper_video {
  width: 100%;
  height: 360px;
}


/* ----------------------------------------  partners  ----------------------------------------------- */
.client {
  background-color: #F7FCFF;
}

.content .content_user .content_user_icon {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 40px 0;
}

.content .content_user .content_user_icon li {
  width: 30%;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5% 3%;
}

.content .content_user .content_user_icon li img {
  max-width: 100%;
  max-height: 100%;
}

.content_college {
  height: 450px;
  margin-top: 90px;
  position: relative;
}

.content_college .content_college_mask {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: #467FBF;
  opacity: 0.09;
  /* z-index: -1; */
}

.content_college .content_college_content {
  width: 1140px;
  margin: 0 auto;
}

.content_college .content_college_content .content_college_title {
  padding-top: 60px;
}

.content_college .content_college_content .content_college_title h3 {
  width: 160px;
  margin: 0 auto;
  font-family: PingFangSC-Regular;
  font-size: 40px;
  font-weight: 400;
  color: #333333;
  line-height: 36px;
  text-align: center;
}



.content_college .content_college_content .content_college_icon {
  margin-top: 63px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.content_college .content_college_content .content_college_icon li {
  width: 227px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content_college .content_college_content .content_college_icon li img {
  width: 50%;
  height: 50%;
}





.navbar {
  min-height: 58px;
}

.navbar-brand {
  padding: 0;
  padding-top: 5px;
  height: 58px;
}

.navbar-nav>li>a {
  font-family: 'PingFangSC-Regular';
}

.navbar ul.navbar-left>li>a {
  border-top: solid 4px transparent;
}

.navbar ul.navbar-left>li/* :not(:last-child) */>a:hover {
  border-top: solid 4px #467fbf;
}

.navbar ul.navbar-left>li.active>a,
.navbar ul.navbar-left>li.open>a {
  border-top: solid 4px #294d76;
}

/* .navbar ul.navbar-left > li:not(:last-child) > a:hover {
  border-top: solid 5px #467fbf;
} */

/* .navbar-left > li:last-child {
  margin-left: 10px;
} */

/* .navbar-left>li:last-child>a:hover {
  background: #467fbf;
  color: #ffffff;
}

.navbar-left>li:last-child>a>.contact {
  width: auto;
  height: 12px;
  vertical-align: baseline;
} */

.navbar-right>li {
  padding: 0 12px;
  width: auto /* !important */;
  height: 58px;
  position: relative;
}

.navbar-collapse>.navbar-right>li>a {
  padding: 0 /* !important */;
  border: 0 /* !important */;
  letter-spacing: 0 /* !important */;
  line-height: 58px;
}

.navbar-right>li:active,
.navbar-right>li:hover,
.navbar-right>li:focus {
  background-color: transparent /* !important */;
}

.navbar-right>li>a:active,
.navbar-right>li>a:hover,
.navbar-right>li>a:focus {
  cursor: pointer;
  padding: 0;
  border: 0;
  background-color: transparent;
  border: none;
  outline: none;
}



.navbar-right>.language-li {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

/* .navbar-right>.open>.dropdown-toggle {
  color: #555 !important;
} */

.navbar-right>li>.language-icon {
  width: 18px;
  height: 18px;
}

.community-parters {
  background: #F7FCFF;
  padding: 30px;
}

.community-parters-item {
  margin-top: 60px;
  text-align: center;
}



 


/* ---------------------------------------------------  same style  ------------------------------------------------------- */
/* ---       home 标题下横线       --- */
.content .content_character .content_character_title h3::after,
.content .content_success .content_success_title h3::after,
.content .content_user .content_user_title h3::after,
.content .content_video .content_video_title h3::after,
.content_college .content_college_content .content_college_title h3::after,
.new_title h3::after,
.events_title h3::after,
.community_parters_title h3::after {
  content: '';
  width: 60px;
  height: 3px;
  display: block;
  margin-top: 20px;
  background: #467FBF;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.content .content_character .content_character_title h3::after,
.content .content_success .content_success_title h3::after,
.content .content_user .content_user_title h3::after,
.content .content_video .content_video_title h3::after,
.content_college .content_college_content .content_college_title h3::after,
.new_title h3::after,
.events_title h3::after,
.community_parters_title h3::after {
  margin-bottom: 40px;
}

/* ---       home 页面板块统一 margin-top       --- */
.content_character_title h3,
.new_title h3,
.events_title h3,
.content .content_video .content_video_title h3,
.content .content_user .content_user_title h3,
.community_parters_title h3 {
  font-size: 34px;
  color: #1A1C33;
  line-height: 36px;
  text-align: center;
  position: relative;
}

.content .content_user,
.content .content_video {
  padding: 60px 0 60px;
}

.content .content_user .content_user_title h3,
.content .content_character .content_character_title h3,
.content .content_video .content_video_title h3,
.new_title h3,
.events_title h3,
.community_parters_title h3 {
  font-weight: 600;
}

/* .content_user_title,
.content_success_title,
.content_video_title {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
} */