@media (min-width: 1280px) {
  .content,
  .news {
    width: 80%;
    max-width: 1140px;
  }
  
}
@media (min-width: 768px) and (max-width: 1280px) {
  .content {
    width: 90%;
  }
  .banner_content {
    width: 88%;
    top: 30%;
  }
  .banner_content h1 {
    font-size: 0.8rem;
  }
  .banner_content h4 {
    font-size: 0.4rem;
    margin: 0.3rem 0;
  }
  .home_video_infro_bg {
    width: 100%;
    height: 2.8rem;
  }
  .swiper_video {
    height: 300px;
  }
}
@media (max-width: 768px) {
  .mobile_hide {
    display: none;
  }
  .banner {
    height: 3.5rem;
  }
  .banner_swiper {
    height: 100%;
  }
  .banner_content {
    width: 88%;
    top: 16%;
  }
  .banner_content h1 {
    font-size: 0.4rem;
  }
  .banner_content h4 {
    font-size: 0.28rem;
    margin: 0.2rem 0;
  }
  .banner .banner_btn a:last-child {
    margin-left: 0.2rem;
  }
  .banner .banner_btn a {
    width: 1.6rem;
    height: 0.52rem;
    line-height: 0.52rem;
  }
  .banner_swiper_pagination {
    display: none;
  }
  .content_character_title p {
    width: 100%;
    font-size: 0.24rem;
    line-height: 0.44rem;
    margin: 0.56rem auto 0.4rem auto;
  }

  .content {
    width: 90%;
    height: auto;
  }
  .content_character_lists {
    width: 100%;
  }
  .content_character_lists ul {
    flex-direction: column;
  }
  .content_character_lists ul li {
    width: 100%;
    height: auto;
    padding: 0.2rem 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .content_character_lists ul li img {
    width: 22px;
    height: 22px;
  }
  .content_character_lists ul li h4 {
    margin: 0;
    font-size: 0.32rem;
  }
  .content_character_lists_far li>div {
    padding-top: 0;
    padding-right: 5px;
  }
  .content_character_lists ul li p {
    width: 100%;
    font-size: 0.24rem;
    padding: 0;
    margin: 0.2rem 0;
    line-height: .4rem;
  }
  .content_character_lists ul li:nth-child(1) {
    border-bottom: none;
    border-right: none;
  }
  .content_character_lists ul li:nth-child(2) {
    border-bottom: none;
  }
  .content_character_lists ul li:nth-child(3) {
    border-right: none;
  }

  .content .content_user, .content .content_video {
    padding: 20px 0 5px;
  }
  
  .content .content_user .content_user_icon li {
    width: 33%;
    height: 1.4rem;
  }

  .content_character_lists_far {
    /* display: none !important; */
    padding: 0;
  }
  .content .content_character .content_character_lists ul li div div {
    margin: 0;
  }
  .content_character_lists .content_character_lists_far div svg {
    width: 0.3rem;
    height: 0.3rem;
  }
  .content .content_character .content_character_lists ul li div div h4 {
    font-size: 0.3rem;
    line-height: 20px;
    margin-left: 8px;
  }
  
  
  body .content .content_success {
    margin-top: 0.6rem;
  }

  

  .content .content_character {
    flex-direction: column;
    width: 100%
  }
  

  .content .content_character .content_character_title {
    width: auto;
  }
  .content .content_character .content_character_title h3,
  .content .content_success .content_success_title h3,
  .content .content_user .content_user_title h3,
  .content .content_video .content_video_title h3,
  .new_title h3,
  .events_title h3 {
    font-size: 0.4rem;
    line-height: 0.4rem;
  }

  body
    .content
    .content_success
    .swiper-container
    .swiper-slide
    .swiper_slide_warp
    .swiper_slide_content
    div
    h4 {
    font-size: 0.4rem;
  }

  .content .content_success .swiper-container .swiper-slide .swiper_slide_warp {
    width: 7rem;
  }

  /* body .content .content_success .swiper-container div:nth-child(2) .swiper_slide_warp {
      background: url(../img/kubecon-eu-1.png) no-repeat;
    }
    body .content .content_success .swiper-container div:nth-child(3) .swiper_slide_warp {
      background: url(../img/kubecon-eu-2.png) no-repeat;
    }
    body .content .content_success .swiper-container div:nth-child(4) .swiper_slide_warp {
      background: url(../img/kubecon-eu-3.png) no-repeat;
    } */

  /* swiper */
  .content .content_success .swiper-container .swiper-slide .swiper_slide_warp .swiper_slide_content {
    margin: 0 /* !important */;
    width: 100%;
    height: 100%;
  }
  .content .content_success .swiper-container .swiper-slide .swiper_slide_warp .swiper_slide_content div {
    width: 80%;
    height: 80%;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
  }
  .content .content_success .swiper-container .swiper-slide .swiper_slide_warp:hover .swiper_slide_content div {
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
  .content .content_success .swiper-container .swiper-slide .swiper_slide_warp:hover .swiper_slide_content div h4 {
    padding-top: 1rem;
    font-size: .48rem;
    line-height: .62rem;
  }
  .content .content_success .swiper-container .swiper-slide .swiper_slide_warp .swiper_slide_content div h4,
.content .content_success .swiper-container .swiper-slide .swiper_slide_warp .swiper_slide_content div p {
  width: 80%;
  margin-left: .64rem;
  transition: all 0.5s;
}
.content .content_success .swiper-container .swiper-slide .swiper_slide_warp .swiper_slide_content div p:last-child {
    font-size: .24rem;
    line-height: .4rem;
    margin-top: 30%;
  }
  .content .content_success .swiper-container .swiper-slide {
    justify-content: center /* !important */;
  }
  .content .content_success .content_success_title p {
    display: none;
  }
/* ---------------------------        新闻            -------------------------------------- */
  .news {
    flex-direction: column;
    padding-top: 0;
  }
  .new_content {
    width: 100%;
    padding-top: .8rem;
  }
  .new_title span {
    font-size: .46rem;
    font-weight: 600;
    line-height: .4rem;
  }
  .new_content li div {
    font-size: .28rem;
    display: inline-block;
  }
  .new_content li p {
    font-size: .24rem;
    line-height: .4rem;
  }
  .new_title {
    position: relative;
    text-align: center;
  }
  .new_title a {
    font-size: .24rem;
    font-weight: 100;
    position: absolute;
    right: 0;
    line-height: .48rem;
  }

  
/* ---------------------------        新闻            -------------------------------------- */
  .new_content {
    padding: 20px 0;
  }
  .news_items {
    width: 3.24rem;
    height: 4.78rem;
  }
  .news_items_Plate {
    height: 2rem;
  }
  .news_items_Plate h4 {
    font-size: 13px;
    padding: 10px 0 6px 0;
  }
  .news_items:nth-child(2) {
    margin-left: 10px;
  }
  .see_more_btn {
    padding: 3px 15px;
    border-radius: 17px;
  }
  .events_content {
    margin: 34px 0 20px 0;
  }
  .new_content .isH5 ul {
    margin: 44px 0 30px 0;
  }
  .events_content .isH5 ul
  {
    margin: 44px 0 10px 0;
  }
  .events_content>.content {
    padding-bottom: 20px;
  }
  .events_items {
    flex-direction: column;
    height: auto;
  }
  .events_items_left, .events_items_right {
    width: 100%;
    height: auto;
  }
  .events_items_right a h4 {
    font-size: 0.28rem;
  }
  .events_items_date, .events_items_label {
    padding: 5px 5px;
  }
  .events_items_right a>div {
    margin: 10px 0;
  }
  .events_items_right p {
    font-size: 0.24rem;
    line-height: 22px;
  }

  /* ---       home 标题下横线       --- */
  .content .content_character .content_character_title h3::after,
  .content .content_success .content_success_title h3::after,
  .content .content_user .content_user_title h3::after,
  .content_college .content_college_content .content_college_title h3::after,
  .new_title h3::after, 
  .events_title h3::after {
    width: 45px;
    margin-top: .2rem;
    margin-bottom: .4rem;
  }
  
  
  /* ---       home 页面板块统一 margin-top       --- */
  .content .content_character {
    padding: 34px 0 30px 0;
  }

/* -------------------------------            视频            ------------------------------- */
  .content .content_video {
    padding: 0.6rem 0 0.6rem 0;
  }
  .content .content_video .content_video_title h3::after {
    margin-bottom: 0;
  }
  .content_video_title a {
    font-size: .24rem;
    font-weight: 100;
    position: absolute;
    right: 0;
    line-height: .48rem;
    color: #3399FF;
  }
  .home_video_infro_bg {
    width: 100%;
    height: auto;
  }
  .swiper_video {
    height: 4rem;
  }
  .swiper_video .swiper-button-next, .swiper_video .swiper-button-prev {
    width: 18px;
    height: 40px;
    border-radius: 0;
  }
}


@media (min-width: 768px) and (max-width: 1366px) {
  .content .content_user .content_user_icon li {
    width: 25%;
  }
  .content .content_character .content_character_lists ul li {
    height: 5rem;
  }
  .content .content_character {
    flex-direction: column;
    width: 100%;
  }
  .content_character_lists_far li>div {
    padding-top: 10px;
  }
  .content_character_lists_far li>div img {
    width: 40px;
    height: 40px;
  }
  .content_character_lists ul li h4 {
    margin: 14px 0 8px 0;
  }
  .content_character_lists ul li p {
    width: 90%;
    font-size: 14px;
  }



  .news {
    flex-direction: column;
    padding-top: 0;
  }
  .new_content {
    width: 100%;
    padding-top: .8rem;
  }
  .new_content ul {
    padding: 0 0.4rem;
  }
  .new_title {
    position: relative;
    text-align: center;
  }
  .new_title a {
    font-size: .24rem;
    font-weight: 100;
    position: absolute;
    right: 0;
    line-height: .48rem;
  }
  .new_content li div {
    font-size: .28rem;
    display: inline-block;
  }
}

@media (min-width: 768px) {
  .navbar-nav {
    margin-left: 30px;
  }

  .navbar-nav > li > a {
    padding: 17px 17px;
  }

  /* .navbar-nav > li:last-child:not(.language-li) {
    padding: 10px 0;
  }
  .navbar-left > li:last-child > a {
    padding: 7px 17px;
    background: #467fbf;
    color: #ffffff;
    border-radius: 2px;
  }
  .navbar-left > li:last-child > a:visited {
    background: #467fbf;
    color: #ffffff;
    border-radius: 2px;
  }
  .navbar-left > li:last-child > a:active {
    background: #467fbf;
    color: #ffffff;
    border-radius: 2px;
  }
  .navbar-left > li:last-child > a:focus {
    background: #467fbf;
    color: #ffffff;
    border-radius: 2px;
  } */
}
@media screen and (max-width: 1280px) and (min-width: 768px) {
  .isPad {
    width: 100%;
  }
  header .topbar {
    margin: 0 0 0 80%;
  }
}
