/*

  banner:                16
  Wechat QR code:        100
  about opengauss:       144
  news:                  217
  events:                313
  video:                 399
  partners:              409
  same style:            602


*/


/* ------------------------------------- banner -------------------------------------- */
body {
    --theme: #7D32EA
}
.banner {
    position: relative;
}
.banner-pc {
    display: block;
}
.banner-mobile {
    display: none;
}
.banner_swiper {
    height: 480px;
}
.banner_swiper .swiper-button-next {
    background: url("/img/home_banner/arrow-right.svg");
    height: 36px;
    width: 36px;
    margin-right: 20px;
}
.banner_swiper .swiper-button-prev {
    background: url("/img/home_banner/arrow-left.svg");
    height: 36px;
    width: 36px;
    margin-left: 20px;
}
.banner_swiper .swiper-button-prev:after,
.banner_swiper .swiper-button-next:after {
    display: none;
}
.banner_swiper .swiper-pagination-clickable .swiper-pagination-bullet {
    width: 20px;
    height: 3px; 
	border-radius: 1.5px;
	background:rgba(207, 211, 215, 0.6);
	opacity: 1;
}
.banner_swiper .swiper-pagination-bullet-active {
    background: #42D0EA !important;   
}
.banner_swiper_slide {
    position: relative;
}
.banner_swiper_slide img {
    width: 100%;
    height: 100%;
}
.video-player-btn {
    cursor: pointer;
}
.banner_content {
    position: absolute;
    width: 1140px;
    top: 24%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}
.banner_btn {
    z-index: 100;
    text-align: left;
}
.banner_btn_two {
    margin-top: 240px;
}
.banner .banner_btn a {
    display: inline-block;
    width: 116px;
    height: 32px;
    background-color: #42D0EA;
    border-radius: 4px;
    font-family: PingFangSC-Medium;
    font-size: 14px;
    color: #fff;
    text-align: center;
    line-height: 32px;
    text-decoration: none;
}
.review{
    border-radius: 5px;
    width:100px;
    height:35px;
    position:absolute;
    left:calc(50% - 50px);
    bottom:20px;
    background-color:#42D0EA;
    border-color: #42D0EA;
}
.review:hover{
    background-color:#42D0EA;
    border-color: #42D0EA;
}

.banner .banner-img {
    max-width: 100%;
    display: block;
    height: 100%;
    margin: 0 auto;
}
.banner .banner-img.img-center {
    width: 1170px;
    margin: 0 auto;
}
.banner .banner_btn a:nth-child(2) {
    margin-left: 30px;
}
.banner_content h1,
.banner_content h4 {
    color: #ffffff;
    font-weight: 500;
}
.banner_content h1 {
    font-size: 40px;
    text-align: left;
}
.banner_content h4 {
    font-size: 14px;
    margin: 40px 0 60px;
    text-align: left;
}
.banner_swiper_pagination .swiper-pagination-bullet {
    background: #666;
    opacity: 1;
}
.banner_swiper_pagination .swiper-pagination-bullet-active {
    width: 16px;
    height: 16px;
}
.banner_swiper_pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 1000px){
    .banner-pc {
        display: none;
    }
    .banner-mobile {
        display: block;
    } 
}
/*  banner 自适应修改  2021-11-24 */ 
.banner-body-bg {
    position: absolute;
    background-color: #fff;
    display: flex;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: all .33s;
}
.center-img{
   max-width:1920px;
   background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
} 
.swiper-container-horizontal>.swiper-pagination-bullets{
    bottom: 15px;
} 
.isH5show{
    display: none;
}
.isPCshow{
    display: block;
}


.summitInfo{
    padding-top: 140px; 
    width: 1140px;
    margin:0 auto;
}
.summitInfo h2{
    font-size: 38px; 
    font-weight: bold;
    color: #594599;
    line-height: 48px;
    font-family: Helvetica Neue,Helvetica,Arial,PingFang SC,Hiragino Sans GB,STHeiti,Microsoft YaHei,Microsoft JhengHei,SimSun,sans-serif;
}
.summitInfo h3{
    font-size: 20px; 
    font-weight: normal;
    color: #594599;
    line-height: 24px;
    margin: 16px 0 24px;
    font-family: Helvetica Neue,Helvetica,Arial,PingFang SC,Hiragino Sans GB,STHeiti,Microsoft YaHei,Microsoft JhengHei,SimSun,sans-serif;
}
.summitInfo .txt{
    font-size: 15px;  
    color: #000000;
    line-height: 20px;
    letter-spacing: 1px;
    margin-bottom: 8px;
}
.summitInfo .txt::before{
    width:20px ;
    height: 20px;
    display: inline-block;
    content: '';
    vertical-align: middle;
    margin-right: 8px;
}
.summitInfo .time::before{
    background: url("/img/summit/time1.png") no-repeat center/cover;
}
.summitInfo .address::before{
    background: url("/img/summit/address.png") no-repeat center/cover;
}


@media screen and (min-width: 1921px) {
   .banner-body-bg .block{
        display:-webkit-inline-box!important;
        display: -ms-inline-flexbox!important;
        display: inline-flex!important;
        background-size: contain;
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1
   }
   .center-img{
        -webkit-box-flex: 222;
        -ms-flex: 222;
        flex: 222
   }
   .banner-body-bg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
   }
}  
@media screen and (max-width:1050px) {   
    .banner_swiper { 
        height: 400px;
    }
    .summitInfo{
        padding-top: 80px;
        padding-left: 20px;
    }
    .bar.background-white .col-md-6.mt62{
        max-width: 100%;
    }  
} 
@media screen and (min-width:640px) and (max-width:824px) {    
    .banner_swiper { 
        height: 320px;
    }
} 
@media screen and (max-width:639px) {
    .swiper-button-next, .swiper-button-prev{
        display: none;
    } 
    .swiper-pagination-clickable .swiper-pagination-bullet{
        width: 4px;
    }
    .isPCshow,.banner-body-bg .block{
        display: none;
    }
    .banner-body-bg{
        position: static;
    }
    .banner_swiper { 
        height: auto !important;
    }
    .isH5show{
        display: block;
        width: 100%;
    }
}



/* end */


.content {
    margin: auto;
}
header .navbar-brand > img {
    margin-top: 10px;
}
header #nav .menu_list {
    margin-top: -5px;
}
header #nav .menu_list p {
    padding: 0 0 10px 0;
}
.navbar li a {
    font-size: 16px;
    font-weight: normal!important;
    text-align: center;
}
.navbar ul.dropdown-menu li a {
    color: #4d4d4d;
}
.navbar ul.dropdown-menu li a:hover {
    color: var(--theme);
}


/* -----------------------------------------  Wechat QR code  ----------------------------------------- */
.navbar-right>li>.wechat {
    height: 0;
    width: auto;
    background: #ffffff;
    position: absolute;
    left: 50%;
    transition: all .5s;
    overflow: hidden;
    transform: translateX(-50%);
    z-index: 100;
}
.navbar-right>li>.wechat>p {
    font-weight: bold;
    letter-spacing: 0.08em;
    color: #555555;
}
.navbar-right>.weixin:hover .wechat{
    height: 288px;
}
/* h5二维码 */
.goBack {
    text-decoration: none;
    color: #467FBF;
}
.qrCode {
    position: absolute;
    top: 100px;
    left: 50%;
    width: 80%;
    height: auto;
    transform: translateX(-50%);
}
.qrCode img {
    width: 100%;
    height: auto;
}
.qrCode p {
    text-align: center;
    background: #ffffff;
    font-size: .28rem;
}


/* ----------------------------------------  about opengauss  ----------------------------------------- */

.content .content_character {
    width: 100%;
}

.content .content_character {
    padding: 60px 50px 60px 50px;
}

.content_character_title p {
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #4d4d4d;
    line-height: 32px;
    margin: 40px 0 40px 0;
}

.content_character_lists ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.content_character_lists ul li {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 500px;
    height: 444px;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0px 6px 30px 0px rgba(0, 0, 0, 0.1);;
}
.content_character_lists ul li:nth-child(1) {
    border: none;
    position: absolute;
    top: 60px;
    right: 50px;
}
.content_character_lists ul li:nth-child(2) {

}
.content_character_lists ul li:nth-child(3) {
    position: absolute;
    top: 544px;
    right: 50px;
}
.content_character_lists ul li:nth-child(4) {
    margin-top: 40px;
}
.content_character_lists ul .download-overview {
    height: unset;
    box-shadow: none;
    position: absolute;
    top: 1096px;
    right: 50px;
}
.content_character_lists ul .download-overview span {
    display: block;
    color: var(--theme);
    text-align: left;
    line-height: 32px;
}
.content_character_lists ul .download-overview a {
    text-align: left;
    color: var(--theme);
}
.content_character_lists ul .download-overview a:hover {
    color: var(--theme);
    text-decoration: none;
}
.content_character_lists_far li>div {
    padding-top: 40px;
    text-align: center;
}

.content_character_lists ul li h4 {
    font-family: PingFangSC-Semibold;
    font-size: 24px;
    color: #000;
    font-weight: normal;
    margin: 40px 0 20px 0;
}

.content_character_lists ul li p {
    font-family: PingFangSC-Regular;
    width: 80%;
    font-size: 14px;
    color: #4d4d4d;
    line-height: 30px;
    text-align: center;
}

.content .content_character {
    position: relative;
}
.content_character_title {
    width: 500px;
}
.content_character_lists ul {
    display:block;
}

.content .content_character .content_character_title h3::after {
    display: none!important;
}
.content_character_title h3 {
    text-align: left!important;
}
.content_character_lists_far .img-gif.hidding{
    display:none;
}
.content_character_lists_far .img-static.hidding{
    display:none;
}


/* ----------------------------------------  statistics opengauss  ----------------------------------------- */
.content.statistics .isPc {
    display: flex;
    align-items: center;
}
.content .content_statistics {
    width: 674px;
    height: 600px;
    background: url("/img/statistics/statictics_bg.png") no-repeat;
    position: relative;
    left: -144px;
}
@media screen and (max-width: 1000px){
    .content .content_statistics {
        flex-direction: column;
    }
    .content .content_statistics .statistics_item img {
        margin-top: 40px;
    }
    .content .content_statistics .statistics_item:first-child img {
        margin: 0;
    }
}

.content .content_statistics .statistics_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
}
.content .content_statistics .statistics_item .count {
    margin: 12px 0 8px 0;
    font-size: 50px;
    line-height: 100%;
    font-family: Roboto-Bold, Roboto;
    font-weight: bold;
    color: var(--theme);
}
.content .content_statistics .statistics_item .desc {
    max-width: 154px;
    font-size: 14px;
    color: #4d4d4d;
    word-wrap:break-word;
    word-break:normal;
    text-align: center;
}
.content .content_statistics .statistics_item img {
    width: 80px;
    margin-top: 17px;
}
.content_statistics li {
    width: 160px;
    height: 200px;
    box-shadow: 0px 0px 20px 0px #E3DEFF;
    border-radius: 10px;
}
.content_statistics li:nth-child(1) {
    position: absolute;
    left: 194px;
    top: 64px;
}
.content_statistics li:nth-child(2) {
    position: absolute;
    left: 394px;
    top: 184px;
}
.content_statistics li:nth-child(3) {
    position: absolute;
    left: 194px;
    top: 304px;
}
.desc_statistics {
    margin-left: 60px;
    position: relative;
    left: -144px;
}
.desc_statistics h3 {
    font-size: 32px;
    color: #000;
    line-height: 36px;
    position: relative;
    font-weight: normal;
}
.desc_statistics p {
    margin: 40px 0;
    color: #4d4d4d;
    line-height: 32px;
}
.desc_statistics a {
    display: inline-block;
    width: 158px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    background: var(--theme);
    border-radius: 4px;
    color: #fff;
    text-decoration: none;
}

/* ------------------------------------------  news  ------------------------------------------ */
/* -------------------    news     -------------------- */
.new_content ul {
    display: flex;
    justify-content: flex-start;
    margin: 68px 0 50px 0;
}
.news_items {
    width: 360px;
    height: 540px;
    flex: auto;
}
/* .news_items:nth-child(1) {
  flex: auto;
} */
.news_items:nth-child(2) {
    margin-left: 30px;
}
.news_items:nth-child(3) {
    margin-left: 30px;
}
.news_items>div {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}
.news_items>div>a {
    display: block;
    width: 100%;
}
.news_items>div img {
    width: 100%;
    height: auto;
}
.transition_3 {
    transition: transform .3s;
}
.news_items_Plate {
    width: 100%;
    height: 130px;
    background: rgba(74, 93, 99, 0.8);
    position: absolute;
    bottom: 0;
    left: 0;
}
.news_items_Plate h4 {
    font-size: 18px;
    color: #ffffff;
    font-weight: 500;
    padding: 24px 0 12px 0;
}
.new_content li p {
    font-family: PingFangSC-Regular;
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
}
.news_items_Plate h4,
.new_content li p {
    width: 90%;
    margin: 0 auto;
}
.new_content li div {
    border-radius: 5px;
}

.scale_102:hover img {
    transform: scale(1.02);
}
.see_more {
    text-align: center;
}
.see_more_btn {
    border: 1px solid #137AC0;
    background: #ffffff;
    outline: none;
    padding: 6px 37px;
    border-radius: 17px;
    font-weight: 600;
}
.see_more_btn:hover {
    text-decoration: none;
    background: #137AC0;
    color: #ffffff;
}
.content-video-home .see_more {
    margin-top: 30px;
}
.content-video-home .see_more_btn {
    color: var(--theme);
    border: none;
    font-weight: normal;
}
.news-content {
    display: flex;
}
.new_content .news-list {
    margin: 30px 0 60px 0;
}
.new_content h2 {
    font-weight: normal;
    margin-top: 60px;
    font-size: 24px;
    color: #000;
}
.blog .blog-empty {
    margin: 20px 0 30px;
}

/* -----------------------------------------------  events  --------------------------------------------- */
.events_content {
    margin: 68px 0 50px 0;
}
.events_content>.content {
    /* border-bottom: 1px solid #DCDCDC; */
    /*padding-bottom: 50px;*/
}
.events_content ul {
    margin: 68px 0 50px 0;
}
.events_items {
    display: flex;
    justify-content: space-between;
    height: 335px;
}
.events_items:nth-child(2) {
    margin-top: 60px;
    flex-direction: row-reverse;
}
.events_items:nth-child(2) .events_items_right {
    text-align: right;
}
.events_items:nth-child(2) .events_items_right a>div>div {
    display: flex;
    justify-content: flex-end;
}
.events_items_left,
.events_items_right {
    width: 48%;
}
.events_items_left a {
    display: block;
    overflow: hidden;
}
.events_items_left a img {
    width: 100%;
}
.events_items_right a {
    display: block;
    padding: 20px 0;
    color: #999999;
}
.events_items_right a:hover {
    text-decoration: none;
}
.events_items_right a h4 {
    font-family: PingFangSC-Semibold;
    font-size: 24px;
    color: #000;
    font-weight: normal;
    line-height: 32px;
}
.events_items_right a>div {
    margin: 22px 0;
}
.events_items_right a>div>div {
    display: block;
}
.events_items_right p {
    font-size: 16px;
    line-height: 28px;
}
.events_items_date,
.events_items_label {
    padding: 10px 0;
    display: flex;
    align-items: center;
    color: #4d4d4d;
}
.events_items_date span,
.events_items_label span {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 10px;
}
.events_items_date span {
    background: url(../img/icon_date.svg) no-repeat;
}
.events_items_label span {
    background: url(../img/events/icon_tag.svg) no-repeat;
}
.events_items_label.location span {
    background: url(../img/icon_location.svg) no-repeat;
}
.events_title h3::after {
    display:none!important;
}
.events_items_right {
    margin-left: 40px;
}
.events_items_right .see_more {
    margin-top: 30px;
}
.events_items_right .see_more_btn {
    color: var(--theme);
    border: none;
    text-align: left;
    padding: 0;
    font-weight: normal;
}
.events_items_right .see_more_btn:hover {
    background: #fff;
    color: var(--theme);
}
.events_items_right a {
    padding: 25px 0 30px;
}
.events_items_left {
    width: 700px;
    height: 293px;
}
.events_items_left a {
    width: 700px;
    height: 293px;
}
.events_title {
    height: 100px;
    position: relative;
}
.events_title .title-box {
    background: url("../img/event_title.png") 100% center no-repeat;
    position: absolute;
    right: 40px;
    width: 392px;
}
.events_title h3 {
    line-height: 100px!important;
    text-align: left!important;
    margin-left: 40px;
}
.new_title .title-box {
    width: 392px;
    height: 100px;
    background: url("../img/news_title.png") no-repeat;
}
.new_title h3 {
    text-align: right!important;
    line-height: 100px!important;
    margin-right: 20px;
}
.new_title h3::after {
    display: none!important;
}
.new_content .news-list {
    display: block;
}
.news-list li h4 {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #000;
}
.news-list li p {
    color: #000;
    font-size: 12px;
    margin: 20px 0 30px;
    line-height: 16px;

}
.news-list a {
    width: 480px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    cursor: pointer;
}
.news-list a:hover {
    text-decoration: none;
}
.news-list .see_more {
    text-align: left;
}
.news-list .see_more_btn {
    border: none;
    color: var(--theme);
    font-size: 14px;
    font-weight: normal;
    padding: 0 2px;
}
.news-list .see_more_btn:hover {
    background: #fff;
    color: var(--theme);
}
.news-detail span {
    vertical-align: middle;
}
.new_content .news-line {
    width: 1px;
    height: 16px;
    display: inline-block;
    border-left: 1px solid #000;
    margin: 0 10px;
}

/* ----------------------------------------  video   --------------------------------------- */
.content_video {
    padding-top: 0!important;
}
.content .content_video .content_video_title h3::after {
    display: none!important;
}
.content_video_title {
    position: relative;
    margin-bottom: 40px;
}
.swiper_video {
    width: 100%;
    height: 360px;
}
.swiper_video .swiper-button-next.swiper-button-disabled,
.swiper_video .swiper-button-prev.swiper-button-disabled {
    display: none;
}

.home_video_infro_bg img {
    width: 240px;
    height: 150px;
    border-radius: 6px 6px 0 0;
}
.home_video .video-total-home {
    display: flex;
}
.home_video .video-in-home {
    width: 240px;
    margin-right: 60px;
}
.home_video .video-in-home a {
    color: #000;
    font-size: 16px;
    line-height: 24px;
}
.home_video .video-in-home a:hover {
    text-decoration: none;
}
.home_video .video-img-home {
    width: 240px;
}
.video-in-home a p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.video-in-home .home_video_title {
    padding: 10px;
    height: 68px;
    border-radius: 0 0 10px 10px;
    box-shadow: 0px 0px 40px 0px #F4F4F4;
}
.content-video-home .see_more_btn:hover {
    background: none;
}
/* ----------------------------------------  partners  ----------------------------------------------- */
.client {
    background-color: #F7FCFF;
}

.content .content_user .content_user_icon {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 40px 0;
}

.content .content_user .content_user_icon li {
    width: 30%;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5% 3%;
}

.content .content_user .content_user_icon li img {
    max-width: 100%;
    max-height: 100%;
}

.content_college {
    height: 450px;
    margin-top: 90px;
    position: relative;
}

.content_college .content_college_mask {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: #467FBF;
    opacity: 0.09;
    /* z-index: -1; */
}

.content_college .content_college_content {
    width: 1140px;
    margin: 0 auto;
}

.content_college .content_college_content .content_college_title {
    padding-top: 60px;
}

.content_college .content_college_content .content_college_title h3 {
    width: 160px;
    margin: 0 auto;
    font-family: PingFangSC-Regular;
    font-size: 40px;
    font-weight: 400;
    color: #333333;
    line-height: 36px;
    text-align: center;
}



.content_college .content_college_content .content_college_icon {
    margin-top: 63px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.content_college .content_college_content .content_college_icon li {
    width: 227px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content_college .content_college_content .content_college_icon li img {
    width: 50%;
    height: 50%;
}




header {
    padding: 0;
}
.navbar {
    min-height: 60px;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    padding: 0;
    padding-top: 5px;
    height: 58px;
}

.navbar-nav>li>a {
    font-family: 'PingFangSC-Regular';
}

.navbar ul.navbar-left>li>a {
    border-top: solid 4px transparent;
}

/*.navbar ul.navbar-left>li!* :not(:last-child) *!>a:hover {
  border-top: solid 4px #467fbf;
}*/

.navbar-right>li {
    padding: 0 10px;
    width: auto /* !important */;
    height: 58px;
    position: relative;
}

.navbar-collapse>.navbar-right>li>a {
    padding: 0 /* !important */;
    border: 0 /* !important */;
    letter-spacing: 0 /* !important */;
    line-height: 58px;
}

.navbar-right>li:active,
.navbar-right>li:hover,
.navbar-right>li:focus {
    background-color: transparent /* !important */;
}

.navbar-right>li>a:active,
.navbar-right>li>a:hover,
.navbar-right>li>a:focus {
    cursor: pointer;
    padding: 0;
    border: 0;
    background-color: transparent;
    border: none;
    outline: none;
}



.navbar-right>.language-li {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

/* .navbar-right>.open>.dropdown-toggle {
  color: #555 !important;
} */

.navbar-right>li>.language-icon {
    width: 18px;
    height: 18px;
}

.navbar-header .navbar-brand.home {
    margin: 0;
}

.community-parters {
    background: #fff;
    padding: 0;
}

.community-partners-item {
    margin: 40px 0 100px;
    text-align: center; 
    overflow: hidden;
}
.community_partners_title h3::after {
    display: none!important;
}
.community_partners_title h3 {
    font-size: 32px!important;
    font-weight: normal;
}

.community-partners-item .partners-item{
    border: 1px solid #dfe1e8;  
    border-right: 0;
    height: 100px;
    padding: 10px;
    box-sizing: border-box;
}
.community-partners-item .partners-item:last-child{ 
    border-right: 1px solid #dfe1e8;
}
/*  ------------  partner ship -------------- */
.partner-ship_title h3 {
    font-size: 32px!important;
    font-weight: normal;
}
.partner-ship-content {
    margin-top: 45px;
    margin-bottom: 60px; 
}
.organization .partner-ship-content{
    /* border-top: 1px solid #dfe1e8; */
}
.ship-item {
    text-align: center; 
    height: 100px;
    border: 1px solid #dfe1e8;
    border-top: 0;
    border-right: 0;
    padding: 10px;
    box-sizing: border-box;
}
.to-flex .ship-item img {
    width: unset;
}
.three-a-line.to-flex,
.four-a-line.to-flex {
    display: flex;
    justify-content: space-around;
}
.four-a-line {
    /* margin-top: 20px;*/
    height: 100px; 
	margin: 0;
	border-top: 1px solid #dfe1e8;
}
.ship-item:last-child{
    border-right: 1px solid #dfe1e8;
}
.three-a-line.to-left {
    max-width: unset;
    justify-content: unset;
    margin-top: 20px;
}

.three-a-line {
    max-width: 80%;
    margin: 0 auto;
}
.three-a-line .ship-item{
    border-bottom: 0;
}
.partner-ship-content p {
    text-align: center;
    color: var(--theme);
    margin-top: 20px;
}
.three-a-line .ship-item{
    border-top:1px solid #dfe1e8
}
@media screen and (max-width: 1000px){
    .three-a-line.to-flex,
    .four-a-line.to-flex {
        display: block;
    }
    .ship-item img {
        height: 64px;
        width: unset;
        max-width: 100%;
    }
    .three-a-line {
        max-width: 100%;
    }
    .ship-item.isPc {
        display: none;
    }
    .partner-ship-content .h5-hide {
        display: none;
    }
    .four-a-line {
        border-top: 1px solid #dfe1e8;
        height: unset;
        margin: 0 auto; 
    } 
    .partner-ship-content{ 
        border:0 none !important
    }
    .ship-item{
        border:1px solid #dfe1e8;
        border-top:0 none;
        height: unset;
    }
}


/* ---------------------------------------------------  same style  ------------------------------------------------------- */
/* ---       home 标题下横线       --- */
.content .content_character .content_character_title h3::after,
.content .content_success .content_success_title h3::after,
.content .content_user .content_user_title h3::after,
.content .content_video .content_video_title h3::after,
.content_college .content_college_content .content_college_title h3::after,
.new_title h3::after,
.events_title h3::after,
.community_partners_title h3::after {
    content: '';
    width: 60px;
    height: 3px;
    display: block;
    margin-top: 20px;
    background: #467FBF;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.content .content_character .content_character_title h3::after,
.content .content_success .content_success_title h3::after,
.content .content_user .content_user_title h3::after,
.content .content_video .content_video_title h3::after,
.content_college .content_college_content .content_college_title h3::after,
.new_title h3::after,
.events_title h3::after,
.community_partners_title h3::after {
    margin-bottom: 40px;
}

/* ---       home 页面板块统一 margin-top       --- */
.content_character_title h3,
.new_title h3,
.events_title h3,
.content .content_video .content_video_title h3,
.content .content_user .content_user_title h3,
.community_partners_title h3,
.partner-ship_title h3 {
    font-size: 32px;
    color: #000;
    line-height: 36px;
    text-align: center;
    position: relative;
}

.content .content_user,
.content .content_video {
    padding: 60px 0 60px;
}

.content .content_user .content_user_title h3,
.content .content_character .content_character_title h3,
.content .content_video .content_video_title h3,
.new_title h3,
.events_title h3,
.community_parters_title h3 {
    font-weight: normal;
}

/* .content_user_title,
.content_success_title,
.content_video_title {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
} */

/* new banner */
.navbar ul.navbar-left > li.active > a,
.navbar ul.navbar-left > li.open > a {
    border-top: solid 4px #fff;
    background-color: #fff;
}

.navbar ul.navbar-left > li.active::after {
    content: "";
    width: 20px;
    height: 3px;
    border-radius: 2px;
    background: var(--theme);
    position: absolute;
    bottom: 7px;
    left: 50%;
    transform: translateX(-50%);
}
.navbar ul.navbar-left > li.hovered::after {
    content: "";
    width: 20px;
    height: 3px;
    border-radius: 2px;
    background: var(--theme);
    position: absolute;
    bottom: 7px;
    left: 50%;
    transform: translateX(-50%);
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
    background-color: #fff;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    background-color: #fff;
    color: #000;
}

.navbar-default .navbar-nav > li > a {
    color: #000;
    font-family: FZLTZHJW-GB1-0;
}

.navbar-nav > li > .dropdown-menu {
    border: 1px solid var(--theme);
    border-radius: 4px;
    background: #fff;
    padding: 10px 0;
}
.navbar-nav > li > .dropdown-menu > li a {
    font-size: 14px;
}
.dropdown .dropdown-menu {
    min-width: 60px;
    top: 50px;
    left: 50% !important;
    transform: translate(-50%);
}
.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover {
    background: #fff;
}

.navbar ul.dropdown-menu li {
    border: none;
}

.dropdown.nav-lang {
    font-weight: bold;
}

.dropdown-menu li:last-child {
    border-radius: 4px;
}
.dropdown-menu .active.open,
.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover {
    background: none;
    color: #4d4d4d;
}

html[lang=zh-cn] .dropdown:nth-child(4) .dropdown-menu {
    left: 0;
}
html[lang=zh-cn] .dropdown:nth-child(6) .dropdown-menu {
    left: -10px;
}
html[lang=en-us] .dropdown .dropdown-menu {
    left: 0;
}
html[lang=en-us] .dropdown:nth-child(3) .dropdown-menu {
    left: -15px;
}
html[lang=en-us] .dropdown:nth-child(4) .dropdown-menu {
    left: 8px;
}

html[lang=en-us] .dropdown:nth-child(6) .dropdown-menu {
    left: -5px;
}
.footer-wechat.isH5 {
    display: none;
}
.footer-wechat.isPc {
    display: block;
}
.footer-wechat p {
    font-size: 12px;
}
.foot a {
    font-size: 12px;
}
footer .foot {
    max-width: 1140px;
}
.footer-copyright a {
    font-size: 16px;
}
.footer-copyright p {
    font-size: 12px;
    color: #B0B0B0;
}
.footer-copyright .footer-link {
    font-size: 16px;
}


/* ------------------------------------- nav-cookie -------------------------------------- */
.read-cookie {
    display: block;
    height: 43px;
    text-align: center;
    padding: 10px 0;
    background: #ccc;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    color:#000;
    z-index: 99;
}
.read-cookie a {
    text-decoration: underline;
    color: var(--theme);
}
.read-cookie img {
    width: 24px;
    height: 24px;
    margin-left: 10px;
}
.read-cookie.visited {
    display: none;
}
@media screen and (max-width: 1000px){
    .read-cookie { 
        height: unset;
    }
}