.banner_content h4 {
    margin: 35px 0 30px;
    width: 456px;
    line-height: 32px;
    font-weight: normal;
    
}
.banner_content.isPc h1{
    font-weight: normal;
    
    font-size: 32px;
}
.content_character_lists ul li h4 {
    font-weight: normal;
    
}
.desc_statistics {
    flex: 1;
}
.content.statistics .isPc {
    width: 1284px;
}
.desc_statistics a {
    width: 200px;
}
.events_title .title-box {
    width: 420px;
    right: 0;
}
.events_title h3 {
    margin-left: 25px;
}
@media (max-width: 768px) {

    .content_character_lists ul li {
        height: auto;
      }

    .banner_content h4 {
        margin: 10px 0 20px;
    }
    header #nav p,
    header #nav .second_menu {
        font-size: 16px;
        padding-left: 15px;
        color: #000;
    }
    header #nav .menu_list p {
        font-size: 14px;
        padding-left: 25px;
        color: #4d4d4d;
        border-bottom: none;
    }
    header #nav .active p {
        color: var(--theme);
    }
    #nav .second_menu.active {
        color: var(--theme);
        border-bottom: none;
    }
    .events_title .title-box {
        width: 100%;
    }
    .content.statistics .isPc {
        width: unset;
    }
    .events_title h3 {
        margin-left: 0;
    }

}

@media (max-width: 1366px) and (min-width: 768px) {
    .content .content_character .content_character_lists ul li {
        height: 5.8rem;
    }
}

