
.type-title {
    font-size: 24px;
    color: #000000;
    line-height: 32px;
    border-bottom: 1px solid #E4E6ED;
    padding: 20px;
}

.item-frame {
    margin-bottom: 30px;
    box-shadow: 0px 12px 20px 0px rgb(190 196 204 / 20%)
}

.item-title {
    font-size: 16px;
}

.item-title:hover {
    color: #39f;
}
.item-pos {
    padding: 10px;
}
.down{

}

.itemevent{
    cursor: pointer;
}

.up {
    transform: rotate(-90deg);
}

.item-desc {
    margin-left: 20px;
    font-size: 14px;
    color: #999;
}
.item-detail{
    width: 33%;
    float: left;
}
.item-detail-frame {
    /* float: left; */
    display: inline-block;
    width: 100%;
    padding: 10px 20px;
    border: 1px solid #eee;
    background: #ccdde60d;
    margin-top: 5px;
    display: none;
    /* visibility: hidden; */
}
.detail-type-title {
    border-bottom: 1px solid #ddd;
    display: block;
    margin: 0 20px 0 0;
}