.module-container {
    padding: 24px 0 24px 0;
    background: #FFFFFF;
    box-shadow: 0px 6px 30px 0px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    position: relative;
    margin-bottom: 24px;
}
.module-title {
    position: absolute;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: table;
    width: 180px;
    padding: 16px 0 16px 0;
    
}
.module-title-txt {
    text-align: center;
    border-right: 1px solid rgba(0, 0, 0, 0.04);
    font-size: 20px;
    
    font-weight: normal;
    color: #000000;
    vertical-align: middle;
    display: table-cell;
    vertical-align: middle;
    
}

.module-type {
    display: inline-block;
    margin-left: 220px;
    padding-right: 40px;
}
.module-type .type-bg {
    width: 100px;
    height: 30px;
    border-radius: 4px;
    display: inline-block;
    text-align: center;
    float: left;
}
.module-type .type-bg .type-title {
    width: 64px;
    height: 22px;
    font-size: 16px;
    
    font-weight: normal;
    color: #000000;
    line-height: 22px;
    padding: 5px 0 5px 0;
    display: inline-block;
    text-align: center;
}
.module-type .item {
    height: 26px;
    font-size: 14px;
    
    font-weight: normal;
    line-height: 26px;
    margin-right: 24px;
    cursor: pointer;
}
.module-type .item:hover {
    text-decoration: underline;
}
.module-type .item-pos {
    margin-left:120px;
    line-height: 30px;
}


.color0 {
    color: #4D7DFF;
}
.bg-color0 {
    background: rgba(77, 125, 255, 0.2);

}
.color1 {
    color: #DB7C61
}
.bg-color1 {
    background: rgba(219, 124, 97, 0.2);

}
.color2 {
    color: #2A9D8F;
}
.bg-color2 {
    background: rgba(42, 157, 143, 0.2);
}

.color3 {
    color: #9e6fe4; 
}
.bg-color3 {
    background: #d7c0f9;
}

.type-title {
    font-size: 30px;
    
    font-weight: normal;
    color: #000000;
    padding: 20px 0 20px 0;
}

.step-item {
    margin-right: 2%;
    position: absolute;
    width: 18%;
    bottom: 0;
}
.step-container {
    box-shadow: 0px 6px 30px 0px #ccc;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}
.step-title {
    position: absolute;
    bottom: -40px;
    text-align: center;
    margin: 0;
    font-size: 20px;
    
    font-weight: normal;
    color: #000000;
    width: 100%;
}

.step-container li {
    list-style-type: disc;
    margin: 10px 20px;
}
.step-container li:hover {
    cursor: pointer;
    text-decoration: underline;
}

.step-h-con0 {
    min-height: 100px;
}
.step-h-con1 {
    min-height: 120px;
}
.step-h-con2 {
    min-height: 140px;
}
.step-h-con3 {
    min-height: 160px;
}
.step-h-con4 {
    min-height: 180px;
}

.step-l-con1 {
    margin-left: 20%;
}
.step-l-con2 {
    margin-left: 40%;
}
.step-l-con3 {
    margin-left: 60%;
}
.step-l-con4 {
    margin-left: 80%;
}