a {
    color: var(--theme);
}
a:hover {
    text-decoration: none;
    color: var(--theme);
}
.member {
    margin-bottom: 100px;
}
.member-tech{
  margin-top: 100px;
}
.member-tech:first-child{
  margin-top: 0;
}
.member-sigs h2,
.member-tech h2 {
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    font-weight: normal;
    margin-top: -140px;
    padding-top: 140px;
}
.member-tech h2 {
    margin-top: -100px;
    padding-top: 100px;
}
.detail {
    margin: 10px 0;
}
.detail img {
    height: 24px;
    width: 24px;
    margin-right: 12px;
}
.card h4 {
    font-size: 24px;
    font-weight: normal;
    margin-bottom: 20px;
}
.card-item {
    display: inline-block;
    width: 100px;
    margin-right: 46px;
}
.card-item p {
    text-align: center;
}
.m-name {
    margin-top: 10px;
    font-size: 16px;
    color: #000;
}
.m-title {
    margin-top: 5px;
    font-size: 12px;
    color: #4d4d4d;
}
.m-company {
  margin-top: 5px;
  font-size: 12px;
  color: #4d4d4d;
}
.m-title.wider {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.m-img {
    margin-top: 10px;
}
.m-img a:last-child img {
    margin-left: 16px;
}
.member-sigs {
    margin-top: 100px;
    min-height: 100vh;
}
.member-sigs.part {
    margin-top: 60px;
}
.boxs {
    display: inline-block;
    width: 545px;
    margin: 20px 0;
    padding: 40px 55px;
    box-shadow: 0px 6px 30px 0px rgba(0, 0, 0, 0.1);
}
.left-box {
    display: inline-block;
    width: 530px;
}
.right-box {
    display: inline-block;
    width: 530px;
    margin-left: 50px;
    vertical-align: top;

}
.boxs .card-item {
    width: 135px;
    margin-bottom: 20px;
    text-align: center;
    margin-right: 10px;
}
.card-item >img{ 
  border-radius: 50%;
}
.boxs .card-item:nth-child(3n) {
    margin-right: 0;
}
.new-box {
    height: 378px;
    padding: 0 60px;
    position: relative;
}
.new-box h4 {
    line-height: 32px;
}
.new-box .box-contain {
    width: 420px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.fixed-nav {
    position: fixed;
    top: 480px;
    right: 185px;
    text-align: right;
}
.to-top img {
    position: relative;
    left: 16px;
    width: 32px;
}
.fixed-nav ul {
    padding-right: 9px;
    margin-top: -12px;
    padding-top: 12px;
    border-right: 2px solid #fff;
}
.fixed-nav ul li {
    margin: 12px 0;
}
.icon-line {
    width: 2px;
    height: 175px;
    display: inline-block;
    position: absolute;
    top: 32px;
    background: #bfbfbf;
    right: 0px;
}
.icon-circle {
    display: inline-block;
    width: 12px;
    height: 12px;
    background: url("/img/member/icon_circle.svg");
    position: relative;
    left: 16px;
    z-index: 1;
}
.active .icon-circle {
    background: url("/img/member/icon_circle_active.svg");
}
.fixed-nav a {
    color: #000;
}
.fixed-nav .active a {
    color: var(--theme);
}
.part .m-img a:last-child img {
    margin: 0;
}
html[lang=en-us] .card-item {
    margin-right: 15px;
    text-align: center;
    width: 140px;
}
html[lang=en-us] .boxs .card-item {
    margin-right: 2px;
}

.card.tc {
    padding: 0 70px;
}
.card.tc .card-item{
    margin-right: 76px;
    margin-bottom: 20px;
}
.card.tc .card-item:nth-child(6n){
    margin-right: 0 !important;
}
html[lang=en-us] .card.tc .card-item {
    margin-right: 28px; 
}
.card.tc.bc .card-item,
.card.tc.uc .card-item,
.card.tc.board .card-item{
  vertical-align: top;
  
}
.board .card-item> img{
  max-width: 100px;
}
.board .m-img a:last-child img,
.bc .m-img a:last-child img,
.uc .m-img a:last-child img{
  margin: 0;
  
}
@media (max-width: 768px) {
    .fixed-nav {
        display: none;
    }
    .member-sigs h2, .member-tech h2 {
        font-size: 18px;
        padding: 0;
        margin: 0 0 10px 0!important;
    }
    .card.tc{
        padding: 0;
    }
    .item-det {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        margin: 0 auto;
    }
    .card-item {
        width: 140px;
        margin-right: 0;
        margin-top: 20px;
    }
    .card.tc {
        padding-left: 15px;
    }
    .card h4 {
        font-size: 18px;
    }
    .boxs {
        width: 345px;
        padding: 40px 15px;
    }
    .boxs .card-item {
        margin-right: 0;
    }
    .right-box {
        margin-left: 0;
        width: 100%;
    }
    .left-box {
        width: 100%;
    }
    .member {
        margin-bottom: 60px;
    }
    .new-box .box-contain {
        width: 100%;
    }
    html[lang=en-us] .too-long {
        line-height: 32px;
        margin-left: 40px;
    }
    .flow-right.new-box {
        display: inline-block!important;
    }
    .flow-left.new-box {
        display: none!important;
    }
    html[lang=en-us] .card.tc .card-item {
        margin-right: 28px !important; 
    }
    
}

@media (max-width: 760px) {
    html[lang=en-us] .card.tc .card-item ,.card-item {
        margin-right: 0px !important; 
    }
}