/*----------  news detail list ---------*/
.pager li > a,
.pager li > span {
    border-radius: 4px;
    color: var(--theme);
    border-color: #fff;
    font-weight: 700;
}
.pager li>a:focus, .pager li>a:hover {
    /*  color: #ffffff;*/
    background-color: #fff;
}
.newsDetail_content:hover {
    box-shadow: unset;
}
.newsDetail_content_right {
    margin-left: 60px;
}
.newsDetail_content_right .newsDetail_right_tips img:first-of-type{
    display: inline-block;
    margin-top: -2px;
}
.newsDetail_content_warp {
    border: none;
    padding: 0;
    margin-bottom: 40px;
}
.newsDetail_content_left img {
    width: 478px;
    height: 200px;
}
.newsDetail_content .newsDetail_content_warp .newsDetail_content_right h3 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.newsDetail_content_right h3 a {
    font-size: 24px;
    color: #000;
    font-weight: normal;
}
.newsDetail_right_content a {
    line-height: 32px;
    color: #4d4d4d;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.newsDetail_right_tips span {
    display: inline-block;
    height: 32px;
    line-height: 32px;
    margin: 0 45px 0 10px;
    font-size: 14px!important;
    color: #4d4d4d!important;
}
.newsDetail_right_tips {
    display: block;
    margin: 20px 0;
}
.btn-template-main {
    color: var(--theme);
    border: none;
    font-weight: normal;
    font-size: 14px;
    font-family: FZLTZHJW-GB1-0;
}
.btn-template-main:hover {
    background: #fff;
    color: var(--theme);
}
.newsDetail_right_btn {
    position: unset;
    margin-top: 30px;
    line-height: 32px;
}
.newsDetail_right_btn a:hover {
    text-decoration: none;
}
.news-list-box {
    margin-bottom: 60px;
}
/*----------  news detail page ---------*/
.news-detail-content a {
    color: var(--theme);
}
#post-content h4 {
    margin: 40px 0 20px 0;
    color: #000;
}
.newsDetail_content {
    padding: 0;
}
.news-detail-content {
    color: #4d4d4d;
}
#blog-post .text-muted {
    color: #4d4d4d;
}
.news-detail-title {
    margin-bottom: 60px;
}
@media screen and (max-width: 768px){
    /*----------  news detail list ---------*/
    .newsDetail_content_left img {
        width: 100%;
        height: unset;
    }
    .newsDetail_content_warp {
        display: block;
    }
    .newsDetail_content .newsDetail_content_warp .newsDetail_content_right h3 {
        margin: 30px 0 20px 0;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
    }
    .newsDetail_content_right {
        margin-left: 0;
    }
    .newsDetail_content_right h3 a {
        font-size: 18px;
        line-height: 24px;
    }
    .newsDetail_right_btn {
        position: unset;
        margin-top: 20px;
    }
    .newsDetail_right_btn a {
        padding: 0;
    }
    .newsDetail_right_content {
        display: block;
        margin-bottom: 20px;
    }
    .newsDetail_right_content a {
        line-height: 32px;
    }
    .newsDetail_right_tips {
        margin: 20px 0 10px;
    }
    .newsDetail_content_warp:last-child {
        margin-bottom: 40px;
    }
    .news-list-box {
        margin-bottom: 20px;
    }
    /*----------  news detail page ---------*/
    #blog-post h1 {
        font-size: 24px;
        line-height: 32px;
    }
    #post-content h4 {
        font-size: 18px;
    }
    .news-detail-title {
        margin-bottom: 20px;
    }
}