.questionnaire{

}
.banner { 
    margin: 100px auto;
    height: 264px;
    width: 100%;
    position: relative
}
.banner .common-img {
    height: 264px;
    width: 475px;
    position: absolute;
    right: 0;
    top: 0px
}

.banner .inside {
    position: absolute;
    left: 0;
    top: 81px;
    font-size: 54px;
    line-height: 60px;
    text-transform: uppercase;
    color: rgba(0,0,0,.05)
}

.banner .outside {
    position: absolute;
    left: 0;
    top: 111px;
    font-size: 40px;
    line-height: 48px;
    color: #000;
    font-weight: 400
} 

.shadow{
    box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
.panel1{
    padding: 48px;
    background: url(../img/questionnaire/bg.png) no-repeat right bottom/cover;
    height: 300px;
    justify-content: space-between;
    margin: 0 10px 60px;  
    box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding-left: 180px;
} 
.panel1 p{
    font-size: 32px;  
    color: #000;
    line-height: 64px; 
} 
.panel1 p:last-child{
    margin: 0;
}
.panel1 .codebox{
    margin: 0 48px;
    width: 160px; 
}
.panel1 .codebox img{
    width: 160px;
    height: 160px;
    display: block;
    margin-bottom: 12px;
}
.panel1 .codebox .btns{
    width: 160px;
    line-height: 40px;
    background: #7D32EA;
    box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: block;
    text-align: center;
    font-size: 18px;
    color: #fff;
}

.panel2{
    padding: 48px;
    background: url(../img/questionnaire/bg1.png) no-repeat; 
    position: relative;
    margin: 0 10px 40px;  
}
.panel2.bg2{
    background-image: url(../img/questionnaire/bg2.png)
}
.panel2.bg3{
    background-image: url(../img/questionnaire/bg3.png)
}
.panel2 h3{ 
    font-size: 32px;  
    color: #7D32EA;
    line-height: 40px;
    margin-bottom: 32px;
    text-align: center;
}
.panel2 p{ 
    font-size: 24px; 
    color: #555555;
    line-height: 32px;
}
.panel2 .cover{
    position: absolute;
    left: 0px;
    top:0px;
}
.panel2 .cover img{ 
    width: 364px;
    height: 200px;
}
.panel2.bg2 .cover {
    left: auto;
    right: 85px;
    top:20px;
}
.panel2.bg2 .cover img{   
    width: 153px;
    height: 120px;
}
.panel2.bg3 .cover{
    left: 64px; 
    top:250px;
}
.panel2.bg3 .cover img{   
    width: 121px;
    height: 144px;
}
.panel2.bg4 .cover{
    left: auto;
    right: 68px; 
    top:22px;
}
.panel2.bg4 .cover img{  
    width: 85px;
    height: 112px;
}
.panel2.bg4 {
    background-image: url(../img/questionnaire/bg4.png)
}

.winnersTit{
    font-size: 32px;
    line-height: 32px;
    margin-bottom: 40px;
    color: #000;
    text-align: center;
}

.questionnaireTable{
    width: 800px;
    margin: 0 auto;
}

.questionnaireTable td,.questionnaireTable th{
    line-height: 64px;
    font-size: 18px;
    color: #555;
    border-bottom: 1px solid #eee;
    text-align: left;
}
.questionnaireTable th{
    color: #000;
    font-weight: bold;
}
.questionnaireTable td:first-child,
.questionnaireTable th:first-child{
    padding-left: 140px;
}

.panel3{
    justify-content: space-between;
    margin: 0 10px 60px; 
    display: flex;
}
.panel3 .tile{
    flex: 1;
    height: 336px;
    background: #FFFFFF; 
    text-align: center;
}
.panel3 .tile:first-child{
    margin-right: 40px;
}
.panel3 .tile .cover{
    height: 200px;
    background: url(../img/questionnaire/bg3.png) no-repeat;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 28px 0; 
}
.panel3 .tile .cover img{ 
    height: 144px;
}
.panel3 .tile .cover img:nth-child(2){
    margin-left: 40px;
}
.panel3 .tile h3{
    font-size: 28px; 
    color: #7D32EA;
    line-height: 40px;
    margin:24px 0 16px;
}
.panel3 p{ 
    font-size: 18px; 
    color: #555555;
    line-height: 32px;
}

.mdContent{
    padding: 0 20px;
}
.mdContent h2{
    text-align: center;
    margin-bottom: 24px;
    font-size: 32px;
    font-weight: normal;
}
.mdContent ol{
    list-style-type:decimal
}
.mdContent li{
    margin-bottom: 32px;
    font-size: 14px;
    line-height: 32px;
    color:#555;
}
.mdContent li blockquote { 
    border:0 none; 
} 
.mdContent li blockquote p{
    font-size: 14px;
    line-height: 24px;
    margin: 12px 0;
} 
.mdContent li strong{color:#A70000 ;}



@media (max-width: 1050px) {
    .banner{
        margin: 20px 0 40px;
    }
    .panel1 {
        padding: 24px;
        height: auto; 
    }
    .panel1 p{
        font-size: 24px;
        line-height: 32px;  
        margin-bottom:24px;
        text-align: left;
    }
    .winnersTit{
        font-size: 24px;
    }
    .banner{
        text-align: center;
        margin-top: 0;
        padding:20px;
        height: auto;
    }
    .banner .common-img{
        position: static;    
        max-width: 100%;
        height: auto;
    }
    .banner .outside{
        position: static;
        margin:0 0  24px;
        font-size: 24px;
        display: block;
    }
    .banner .inside{
        display: none;
    }
    .questionnaireTable{
        width: 96%;
    }
    .questionnaireTable td,
    .questionnaireTable th{
        font-size: 14px;
        line-height: 48px;
    }
    .questionnaireTable td:first-child, .questionnaireTable th:first-child {
        padding-left: 12px; 
    }
    .panel1 .codebox{
        margin: 20px auto 0;
    } 
    .panel2 .cover,.panel3 .tile .cover{
        height: 200px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        background: url('../img/questionnaire/bg5.png');
        background-size: cover;
        position: static;
    }
    .panel2{
        height: auto;
        padding: 0px; 
        background: none !important;
    }
    .questionnaire .panel2 .cover img{
        height: 128px;
        width: auto;
        position: static !important;
    } 
    .panel2.bg1 .cover img{
        height: 160px;
    }
    .questionnaire .shadow .info{
        padding: 16px 0;
        text-align: center;
    } 
    .questionnaire .shadow{
        height: auto;
    }
    
    .questionnaire .shadow .info h3{
        font-size: 20px; 
        margin: 0 0 8px;
        line-height: 30px;
    }
    .questionnaire .shadow .info p{
        font-size: 14px; 
        line-height: 30px;
        padding: 0 34px;
    }
    .mdContent li{
        line-height: 30px;
        margin-bottom: 16px;
        text-align: justify;
    }
    .mdContent{
        padding: 30px;
    }
    .mdContent h2 { 
        font-size: 24px; 
    }

}


