.search-area {
    width: 355px;
    position: relative;
}
.area-input {
    width: 100%;
    height: 36px;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    padding: 0 10px;
}
#area-icon {
    font-size: 16px;
    color: #7d32ea;
    position: absolute;
    top: 10px;
    right: 10px;
}
.search-detail {
    margin-top: 40px;
}
.detail-title {
    padding-left: 27px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}
.detail-title p {
    display: inline-block;
    font-size: 16px;
    color: #000;
    font-family: FZLTZHJW-GB1-0;
    margin-right: 55px;
    padding-bottom: 20px;
    position: relative;
    cursor: pointer;
}
.detail-title .active::after {
    content: "";
    width: 60px;
    height: 2px;
    background: #7d32ea;
    position: absolute;
    bottom: -1px;
    left: 50%;
    border-radius: 2px;
    transition: all 0.2s;
    transform: translate(-50%);
}
#content {
    margin-bottom: 100px;
    padding: 0;
}
.content-box {
    margin-top: 40px;
}
.content-box p {
    font-size: 14px;
    font-family: FZLTXIH;
    color: rgba(0, 0, 0, 0.5);
    margin-top: 15px;
    word-wrap: break-word;
}
.content-box .content-title {
    font-size: 20px;
    font-family: FZLTZHJW-GB1-0;
    color: #000;
    cursor: pointer;
}
.content-title span,
.content-desc span {
    color: #7d32ea;
}
.content-desc {
    cursor: pointer;
}
.content-box .tag {
    color: #000;
}
@media screen and (max-width: 1000px) {
    #content {
        margin-bottom: 60px;
    }
    .search-area {
        width: 300px;
        margin: 0 auto 0;
    }
    .detail-title span {
        display: none;
    }
    .content-box p {
        margin-top: 20px;
    }
    .detail-title {
        padding-left: 15px;
    }
    .detail-title p {
        margin-right: 30px;
        padding-bottom: 5px;
    }
    .content-box .content-title {
        font-size: 16px;
    }
}
.empty-box {
    margin-top: 40px;
}
.detail-content p {
    text-align: justify;
}