p {
    font-size: 16px;
    color: #4D4D4D;
}
.info-table li {
    display: inline-block;
    padding: 15px 0;
    color: #4D4D4D;
}
.info-table ul li:nth-child(1) {
    width: 100px;
    margin-left: 30px;
}
.info-table ul li:nth-child(2) {
    width: 220px;
}
.info-table ul li:nth-child(3) {
    width: 220px;
}
.info-table ul li:nth-child(4) {
    width: 140px;
}
.info-table ul li:nth-child(5) {
    width: 140px;
}
.info-table ul li:nth-child(6) {
    width: 140px;
}
.info-table li input {
    height: 32px;
    width: 138px;
    padding: 0 10px;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.25);
}
.organization-info ul li:nth-child(3) {
    width: 140px;
}
.con-statistics h4 {
    font-size: 24px;
    font-weight: normal;
    margin-bottom: 40px;
}
.quota-title {
    color: #000;
    margin-bottom: 40px;
    line-height: 24px;
    line-height: 32px;
}
#id-organization-quota,
#id-organization-pages,
#id-individual-pages {
    margin-left: 10px;
    width: 128px;
    height: 32px;
    color: #4D4D4D;
    padding: 0 16px;
    /*appearance: none;*/
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.5);
}
#id-organization-pages,
#id-individual-pages {
    /*width: 66px;*/
    width: 70px;
    margin-right: 10px;
    margin-bottom: 16px;
}
.organization-info {
    display: flex;
    justify-content: space-between;
}
.table-title input {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(0, 0, 0, 0.25);
}
.con-statistics ul:nth-child(even) {
    background: rgba(0, 0, 0, 0.03);
}
.info-table .table-title {
    color: #000;
    font-size: 16px;
    background: rgba(0, 0, 0, 0.05);
}
._pages_2 li {
    background: #fff;
    display: inline;
}
._page_container ._pages_2 {
    display: inline-block;
    background: #fff!important;
}
.up {
    position: relative;
    top: -8px;
    left: -8px;
}
.con-individual {
    margin-top: 60px;
}
.search-cancel {
    position: relative;
    right: 22px;
}
.organ-quota-content {
    margin-right: 7px;
}
._page_container ul li:nth-child(1) {
    width: unset;
    margin-left: unset;
}
._page_container ul li:nth-child(2) {
    width: unset;
    padding: unset;
}
._page_container ul li:nth-child(3) {
    width: unset;
}
._page_container li {
    height: unset;
    line-height: unset;
}
.con-statistics {
    margin-bottom: 100px;
}
.wraper {
    display: none;
}
@media screen and (max-width: 1000px) {
    .organization-info {
        display: block;
    }
    .info-table ul li:nth-child(1) {
        width: 50px;
        margin-left: 15px;
    }
    .info-table ul li:nth-child(2) {
        width: 183px;
    }
    ._page_container {
        display: flex;
        justify-content: space-between;
        margin-top: 15px !important;
    }
    ._page_container ul li:nth-child(1) {
        width: unset;
        margin-left: unset;
    }
    ._page_container ul li:nth-child(2) {
        width: unset;
    }
    ._page_container li {
        height: unset;
        line-height: unset;
    }
    #id-stats-pie {
        margin-top: 30px;
    }
    .individual-info {
        overflow: hidden;
        overflow-x: auto;
    }
    .individual-info .info-table {
        width: 760px;
        overflow: hidden;
    }
    .info-table ul li:nth-child(4) {
        width: 75px;
    }
    .info-table ul li:nth-child(3) {
        width: 200px;
    }
    .info-table ul li:nth-child(5) {
        width: 85px;
    }
    .info-table ul li:nth-child(6) {
        width: 115px;
    }
    .organization-info ul li:nth-child(3) {
        width: 87px;
    }
    ._page_container ul li:nth-child(3) {
        width: unset;
    }
    .con-statistics {
        margin-bottom: 60px;
    }
    .con-statistics h4 {
        text-align: center;
    }
    .quota-title {
        text-align: center;
    }
    .wraper {
        display: block;
        color: rgba(0, 0, 0, 0.4);
        text-align: center;
        margin-bottom: 10px;
        font-size: 12px;
    }
}