.clearfix:before,
.clearfix:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after {
  content: " ";
  display: table;
}

.clearfix:after,
.navbar:after,
.navbar-header:after {
  clear: both;
}

.hide {
  display: none !important;
}
.show {
  display: block !important;
}

.hidden {
  display: none !important;
  visibility: hidden !important;
}
.affix {
  position: fixed;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.breadcrumbs_top {
  margin-top: 58px;
}
/* general styles */
a,
button {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

#all {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#content {
  flex-grow: 1;
  padding-bottom: 40px;
}
.body_content {
  flex-grow: 1;
}

.navbar {
  border: none;
}

.navbar li a {
  font-size: 14px;
}

.navbar ul.navbar-left > li > a {
  /* text-transform: uppercase; */
  text-decoration: underline;
  font-weight: bold;
  letter-spacing: 0.08em;
  border-top: solid 5px transparent;
}

.navbar ul.navbar-left > li.active > a,
.navbar ul.navbar-left > li.open > a {
  text-decoration: none !important;
  border-top: solid 5px #294d76;
}

.navbar ul.dropdown-menu {
  margin: 0;
  padding: 0;
}
.navbar ul.dropdown-menu li {
  list-style-type: none;
  border-bottom: solid 1px #eeeeee;
  /* text-transform: uppercase; */
  letter-spacing: 0.08em;
  padding: 4px 0;
}
.navbar ul.dropdown-menu li a {
  position: relative;
  color: #333333;
  font-size: 12px;
  display: block;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  left: 0;
}

.navbar .navbar-buttons {
  float: right;
}
.navbar .navbar-buttons button,
.navbar .navbar-buttons a.btn,
.navbar .navbar-buttons .btn-default.navbar-toggle {
  margin-top: 11px;
  margin-bottom: 11px;
  margin-left: 0;
  margin-right: 5px;
}

.navbar-affixed-top {
  top: -32px;
}
.navbar-affixed-top.affix-top {
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.navbar-affixed-top.affix {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  -webkit-box-shadow: 0 0 5px #cccccc;
  box-shadow: 0 0 5px #cccccc;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

/* nav */
.nav > li > a {
  padding: 10px 15px;
}
.nav > li > a:hover,
.nav > li > a:focus {
  background-color: #eeeeee;
}

/* navbar */
.navbar {
  position: relative;
  min-height: 62px;
  margin-bottom: 0;
  border-bottom: 1px solid transparent;
}

@media (min-width: 768px) {
  .navbar {
    border-radius: 0px;
  }
}

@media (min-width: 768px) {
  .navbar-header {
    float: left;
  }
}
.navbar-collapse {
  overflow-x: visible;
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-collapse.in {
  overflow-y: auto;
}
@media (min-width: 768px) {
  .navbar-collapse {
    width: auto;
    border-top: 0;
    box-shadow: none;
  }
  .navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }
  .navbar-collapse.in {
    overflow-y: visible;
  }
  .navbar-fixed-top .navbar-collapse,
  .navbar-static-top .navbar-collapse,
  .navbar-fixed-bottom .navbar-collapse {
    padding-left: 0;
    padding-right: 0;
  }
}
.navbar-fixed-top .navbar-collapse,
.navbar-affixed-top .navbar-collapse,
.navbar-fixed-bottom .navbar-collapse {
  max-height: 340px;
}
@media (max-width: 480px) and (orientation: landscape) {
  .navbar-fixed-top .navbar-collapse,
  .navbar-affixed-top .navbar-collapse,
  .navbar-fixed-bottom .navbar-collapse {
    max-height: 200px;
  }
}
.container > .navbar-header,
.container-fluid > .navbar-header,
.container > .navbar-collapse,
.container-fluid > .navbar-collapse {
  margin-right: -15px;
  margin-left: -15px;
}
@media (min-width: 768px) {
  .container > .navbar-header,
  .container-fluid > .navbar-header,
  .container > .navbar-collapse,
  .container-fluid > .navbar-collapse {
    margin-right: 0;
    margin-left: 0;
  }
}

.navbar-brand {
  float: left;
  padding: 10px 15px;
  font-size: 18px;
  line-height: 20px;
  height: 62px;
}
.navbar-brand:hover,
.navbar-brand:focus {
  text-decoration: none;
}
@media (min-width: 768px) {
  .navbar > .container .navbar-brand,
  .navbar > .container-fluid .navbar-brand {
    margin-left: -15px;
  }
}
.navbar-toggle {
  position: relative;
  float: right;
  margin-right: 15px;
  padding: 9px 10px;
  margin-top: 14px;
  margin-bottom: 14px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 0;
}
.navbar-toggle:focus {
  outline: 0;
}
.navbar-nav {
  margin: 10.5px -15px;
}
.navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 20px;
}
@media (max-width: 767px) {
  .navbar-nav .open .dropdown-menu > li > a,
  .navbar-nav .open .dropdown-menu .dropdown-header {
    padding: 5px 15px 5px 25px;
  }
  .navbar-nav .open .dropdown-menu > li > a {
    line-height: 20px;
  }
  .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-nav .open .dropdown-menu > li > a:focus {
    background-image: none;
  }
}
@media (min-width: 768px) {
  .navbar-nav {
    float: left;
    margin: 0;
  }
  .navbar-nav > li {
    float: left;
  }
  .navbar-nav > li > a {
    padding-top: 21px;
    padding-bottom: 21px;
  }
  .navbar-nav.navbar-right:last-child {
    margin-right: -15px;
  }
}
@media (min-width: 768px) {
  .navbar-left {
    float: left !important;
  }
  .navbar-right {
    float: right !important;
  }
}

.navbar-nav > li > .dropdown-menu {
  margin-top: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.navbar-default {
  background-color: #ffffff;
  border-color: #cccccc;
  border-bottom: none;
}

.navbar-default .navbar-brand {
  color: #555555;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #3b3b3b;
  background-color: transparent;
}
.navbar-default .navbar-text {
  color: #777777;
}
.navbar-default .navbar-nav > li > a {
  color: #555555;
}
.navbar-default .navbar-left > li/* :not(:last-child) */ > a:hover,
.navbar-default .navbar-left > li/* :not(:last-child) */ > a:focus {
  color: #555555;
  background-color: #92b3d9;
}
.navbar-default .navbar-left > .active > a,
.navbar-default .navbar-left > .active > a:hover,
.navbar-default .navbar-left > .active > a:focus {
  color: #ffffff;
  background-color: #467fbf;
}
.navbar-default .navbar-nav > .disabled > a,
.navbar-default .navbar-nav > .disabled > a:hover,
.navbar-default .navbar-nav > .disabled > a:focus {
  color: #cccccc;
  background-color: transparent;
}
.navbar-default .navbar-toggle {
  border-color: #dddddd;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #467fbf;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #888888;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #cccccc;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  background-color: #467fbf;
  color: #ffffff;
}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #555555;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #467fbf;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #467fbf;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #cccccc;
    background-color: transparent;
  }
}
.navbar-default .navbar-link {
  color: #555555;
}
.navbar-default .navbar-link:hover {
  color: #555555;
}
.navbar-default .btn-link {
  color: #555555;
}
.navbar-default .btn-link:hover,
.navbar-default .btn-link:focus {
  color: #555555;
}

.navbar-default .btn-link[disabled]:hover,
fieldset[disabled] .navbar-default .btn-link:hover,
.navbar-default .btn-link[disabled]:focus,
fieldset[disabled] .navbar-default .btn-link:focus {
  color: #cccccc;
}

/* scaffolding */
body {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555555;
}
a {
  color: #467fbf;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #2f5a89;
  text-decoration: underline;
}
a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

/* dropdowns */
.dropdown-menu {
  z-index: 1000;
  font-size: 14px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}

.dropdown-menu > li > a {
  padding: 5px 20px;
  line-height: 1.42857143;
  color: #333333;
  white-space: nowrap;
}

.form-control {
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
}
.form-control:focus {
  border-color: #467fbf;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(70, 127, 191, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(70, 127, 191, 0.6);
}
.form-group {
  margin-bottom: 20px;
}

/* type */
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: PingFangSC-Medium, sans-serif;
  font-weight: 900;
  line-height: 1.1;
  color: #333333;
}
h1,
.h1,
h2,
.h2,
h3,
.h3 {
  margin-top: 20px;
  margin-bottom: 20px;
}
p {
  margin: 0 0 10px;
}

/*!
 * Yamm!3 - Yet another megamenu for Bootstrap 3
 * http://geedmo.github.com/yamm3
 * 
 * @geedmo - Licensed under the MIT license
 */
.yamm .nav,
.yamm .collapse,
.yamm .dropup.use-yamm,
.yamm .dropdown.use-yamm {
  position: static;
}
.yamm .container {
  position: relative;
  width: 1350px;
}
.yamm .dropdown-menu {
  left: auto;
}
.yamm .nav.navbar-right .dropdown-menu {
  left: auto;
  right: 0;
}
.yamm .yamm-content {
  padding: 20px 30px;
}
.yamm .dropdown.yamm-fw .dropdown-menu {
  left: 15px;
  right: 15px;
}

/* 404 */
#error-page {
  text-align: center;
  margin-top: 6%;
}
#error-page h4 {
  margin: 20px 0;
}
#error-page img {
  width: 400px;
}
.text-muted {
  color: #333333;
}
.box {
  background: #fff;
  margin: 0 0 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px 0;
}
.btn {
  font-weight: 700;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  letter-spacing: 0.08em;
  padding: 6px 12px;
  font-size: 13px;
  line-height: 1.42857143;
  border-radius: 0;
}
.btn-template-main {
  color: #467fbf;
  background-color: #ffffff;
  border-color: #467fbf;
}
.notFound {
  height: 100vh;
  margin-top: -62px;
  margin-bottom: -122px;
}

/* buttons  */

.btn-download {
  text-transform: none;
  margin-top: 15px;
}
.input-group .btn {
  font-size: 14px;
}
.btn-lg {
  padding: 10px 16px;
  font-size: 14px;
  line-height: 1.33;
  border-radius: 0;
}
.btn-sm {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 0;
}
.btn-xs {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 0;
}

.btn-template-main:hover,
.btn-template-main:focus,
.btn-template-main:active,
.btn-template-main.active,
.open > .dropdown-toggle.btn-template-main {
  color: #467fbf;
  background-color: #e6e6e6;
  border-color: #336194;
}
.btn-template-main:active,
.btn-template-main.active,
.open > .dropdown-toggle.btn-template-main {
  background-image: none;
}
.btn-template-main.disabled,
.btn-template-main[disabled],
fieldset[disabled] .btn-template-main,
.btn-template-main.disabled:hover,
.btn-template-main[disabled]:hover,
fieldset[disabled] .btn-template-main:hover,
.btn-template-main.disabled:focus,
.btn-template-main[disabled]:focus,
fieldset[disabled] .btn-template-main:focus,
.btn-template-main.disabled:active,
.btn-template-main[disabled]:active,
fieldset[disabled] .btn-template-main:active,
.btn-template-main.disabled.active,
.btn-template-main[disabled].active,
fieldset[disabled] .btn-template-main.active {
  background-color: #ffffff;
  color: #467fbf;
  border-color: #467fbf;
}
.btn-template-main .badge {
  color: #ffffff;
  background-color: #467fbf;
}
.btn-template-main:hover,
.btn-template-main:focus,
.btn-template-main:active,
.btn-template-main.active {
  background: #467fbf;
  color: #ffffff;
  border-color: #467fbf;
}
.btn-template-transparent-primary {
  color: #ffffff;
  background-color: transparent;
  border-color: #ffffff;
}
.btn-template-transparent-primary:hover,
.btn-template-transparent-primary:focus,
.btn-template-transparent-primary:active,
.btn-template-transparent-primary.active,
.open > .dropdown-toggle.btn-template-transparent-primary {
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0);
  border-color: #e0e0e0;
}
.btn-template-transparent-primary:active,
.btn-template-transparent-primary.active,
.open > .dropdown-toggle.btn-template-transparent-primary {
  background-image: none;
}
.btn-template-transparent-primary.disabled,
.btn-template-transparent-primary[disabled],
fieldset[disabled] .btn-template-transparent-primary,
.btn-template-transparent-primary.disabled:hover,
.btn-template-transparent-primary[disabled]:hover,
fieldset[disabled] .btn-template-transparent-primary:hover,
.btn-template-transparent-primary.disabled:focus,
.btn-template-transparent-primary[disabled]:focus,
fieldset[disabled] .btn-template-transparent-primary:focus,
.btn-template-transparent-primary.disabled:active,
.btn-template-transparent-primary[disabled]:active,
fieldset[disabled] .btn-template-transparent-primary:active,
.btn-template-transparent-primary.disabled.active,
.btn-template-transparent-primary[disabled].active,
fieldset[disabled] .btn-template-transparent-primary.active {
  background-color: transparent;
  border-color: #ffffff;
}
.btn-template-transparent-primary .badge {
  color: transparent;
  background-color: #ffffff;
}
.btn-template-transparent-primary:hover,
.btn-template-transparent-primary:focus,
.btn-template-transparent-primary:active,
.btn-template-transparent-primary.active {
  background: #fff;
  color: #467fbf;
  border-color: #fff;
}
.btn-template-transparent-black {
  color: #ffffff;
  background-color: transparent;
  border-color: #ffffff;
}
.btn-template-transparent-black:hover,
.btn-template-transparent-black:focus,
.btn-template-transparent-black:active,
.btn-template-transparent-black.active,
.open > .dropdown-toggle.btn-template-transparent-black {
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0);
  border-color: #e0e0e0;
}
.btn-template-transparent-black:active,
.btn-template-transparent-black.active,
.open > .dropdown-toggle.btn-template-transparent-black {
  background-image: none;
}
.btn-template-transparent-black.disabled,
.btn-template-transparent-black[disabled],
fieldset[disabled] .btn-template-transparent-black,
.btn-template-transparent-black.disabled:hover,
.btn-template-transparent-black[disabled]:hover,
fieldset[disabled] .btn-template-transparent-black:hover,
.btn-template-transparent-black.disabled:focus,
.btn-template-transparent-black[disabled]:focus,
fieldset[disabled] .btn-template-transparent-black:focus,
.btn-template-transparent-black.disabled:active,
.btn-template-transparent-black[disabled]:active,
fieldset[disabled] .btn-template-transparent-black:active,
.btn-template-transparent-black.disabled.active,
.btn-template-transparent-black[disabled].active,
fieldset[disabled] .btn-template-transparent-black.active {
  background-color: transparent;
  border-color: #ffffff;
}
.btn-template-transparent-black .badge {
  color: transparent;
  background-color: #ffffff;
}
.btn-template-transparent-black:hover,
.btn-template-transparent-black:focus,
.btn-template-transparent-black:active,
.btn-template-transparent-black.active {
  background: #fff;
  color: #000;
  border-color: #fff;
}
.btn-template-primary {
  color: #ffffff;
  background-color: #467fbf;
  border-color: #467fbf;
}
.btn-template-primary:hover,
.btn-template-primary:focus,
.btn-template-primary:active,
.btn-template-primary.active,
.open > .dropdown-toggle.btn-template-primary {
  color: #ffffff;
  background-color: #36669c;
  border-color: #336194;
}
.btn-template-primary:active,
.btn-template-primary.active,
.open > .dropdown-toggle.btn-template-primary {
  background-image: none;
}
.btn-template-primary.disabled,
.btn-template-primary[disabled],
fieldset[disabled] .btn-template-primary,
.btn-template-primary.disabled:hover,
.btn-template-primary[disabled]:hover,
fieldset[disabled] .btn-template-primary:hover,
.btn-template-primary.disabled:focus,
.btn-template-primary[disabled]:focus,
fieldset[disabled] .btn-template-primary:focus,
.btn-template-primary.disabled:active,
.btn-template-primary[disabled]:active,
fieldset[disabled] .btn-template-primary:active,
.btn-template-primary.disabled.active,
.btn-template-primary[disabled].active,
fieldset[disabled] .btn-template-primary.active {
  background-color: #467fbf;
  border-color: #467fbf;
}
.btn-template-primary .badge {
  color: #467fbf;
  background-color: #ffffff;
}

/* -----------------------        法律声明         ---------------------------- */
#heading-breadcrumbs {
  background: url("../img/banner_new.png") center center repeat;
  padding: 20px 0;
  margin-bottom: 40px;
}
#heading-breadcrumbs.no-mb {
  margin-bottom: 0;
}
#heading-breadcrumbs h1 {
  color: #ffffff;
  text-transform: none;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.08em;
}
.col-md-12 h1 {
  margin: 20px 0;
}
.col-md-12 h2 {
  margin: 20px 0;
}
.container .col-md-12 > div > p {
  font-family: FZLTHJW-GB1-0;
  color: #333333;
  line-height: 2;
  letter-spacing: 0.05px;
}
.container .col-md-12 > div > h3 {
  margin: 16px 0;
}
.container .col-md-12 > div > h4,
.container .col-md-12 > div > h5 {
  margin: 10px 0;
}
.col-md-12 ul {
  display: block;
  list-style-type: disc;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-left: 40px;
}
.col-md-12 > div > ul > li {
  display: list-item;
  text-align: -webkit-match-parent;
  list-style-type: disc;
}
.col-md-12 > div > ul > li > ul > li {
  list-style-type: circle;
}
.col-md-12 > div > ul > li > ul > li > ul > li {
  list-style-type: square;
}
.col-md-12 li p {
  margin: 0 0 10px;
}
@media (max-width: 991px) {
  #heading-breadcrumbs h1 {
    text-align: left;
  }
  #heading-breadcrumbs {
    margin-bottom: 0.6rem;
  }
}
/* ------------------------------------------------------------------- */

/* --------------------       新闻、活动详情       --------------------- */
.newsDetail_content {
  padding: 0 0.4rem;
}
#heading-breadcrumbs .detailTitle {
  text-transform: none;
}
.newsDetail_content:hover {
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.1);
}
.newsDetail_content:hover .newsDetail_content_warp {
  border-bottom: none;
}
.newsDetail_content_warp {
  display: flex;
  border-bottom: 1px solid #dddddd;
  padding: 0.4rem 0;
}
.newsDetail_content_left img {
  width: 360px;
  height: 240px;
}
.newsDetail_content_right {
  width: 100%;
  margin-left: 0.6rem;
  position: relative;
}
.newsDetail_content_right h3 a {
  font-family: FZLTZHJW-GB1-0;
  font-size: 0.48rem;
  color: #666666;
  letter-spacing: 0;
  text-align: justify;
  text-decoration: none;
}
.newsDetail_content_right h3 a,
.newsDetail_right_content a {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
}
.newsDetail_content_right p,
.newsDetail_content_right p span,
.newsDetail_content_right div button {
  font-family: FZLTHJW-GB1-0;
}
.newsDetail_content_right p span {
  font-size: 0.24rem;
  color: #999999;
}
.newsDetail_right_tips {
  margin: 0.32rem 0 0.5rem 0;
  display: flex;
  justify-content: space-between;
}
.newsDetail_right_content a {
  line-height: 0.4rem;
  text-decoration: none;
  color: #666666;
}
.newsDetail_right_btn {
  position: absolute;
  bottom: 0.4rem;
}
.col-md-12 .pager {
  margin: 60px 0;
  padding-left: 0;
}
.pager li > a,
.pager li > span {
  border-radius: 0;
  color: #467fbf;
  border-color: #467fbf;
  font-weight: 700;
}
.pager li>a:focus, .pager li>a:hover {
  color: #ffffff;
  background-color: #467fbf;
}
.pager .disabled>a, .pager .disabled>a:focus, .pager .disabled>a:hover, .pager .disabled>span {
  color: #467fbf;
  border-color: #467fbf;
}
#post-content p {
  font-family: FZLTHJW-GB1-0;
  margin-bottom: 10px;
  line-height: 0.4rem;
}
.text-right {
  margin-bottom: 20px;
}
#post-content ul {
  margin-left: 2em;
  margin-bottom: 1rem;
}
#post-content ul li {
  list-style: disc;
}

/* -----------------------mail lists------------------------ */
.divmail h3 {
  margin: 0.4rem 0;
}
.divmail p {
  margin-bottom: 0.2rem;
}
.divmail ol {
  margin-bottom: 0.2rem;
  padding-left: 15px;
}
.divmail ol li {
  line-height: 30px;
  list-style-type: decimal;
}
.div-archives ul {
  margin-bottom: 10px;
}
.table-responsive {
  position: relative;
}
.div-archives > div > ul {
  position: relative;
  padding-left: 15px;
}
.div-archives > div > ul li {
  line-height: 25px;
}
.div-archives > div > ul li::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 0;
  border-radius: 50%;
  background: #000;
  width: 5px;
  height: 5px;
}
/* --------------------------------------------------------- */

/* --------------------------meeting-------------------------- */
.meeting p {
  margin-bottom: 10px;
}
.meeting h3 {
  margin: 20px 0;
}
.meeting h4,
.meeting h5 {
  margin-bottom: 10px;
}
.meeting pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.42857143;
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.meeting ul {
  padding-left: 40px;
  margin-bottom: 10px;
}
.meeting ul li {
  list-style-type: disc;
}

/* --------------------------文档--------------------------- */
.docscontainer {
  display: flex;
  max-width: 1160px;
  margin: 0 auto;
}
#docsMenu {
  animation: fadeIn .8s linear;
  -webkit-animation: fadeIn .8s linear;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.jstree-open .jstree-ocl,
.jstree-closed .jstree-ocl {
  display: inline-block;
  width: 32px;
  height: 32px;
  line-height: 32px;
  cursor: pointer;
}
.jstree-closed>.jstree-ocl {
  background: url(/img/docs/close.png) no-repeat center;
}
.jstree-open>.jstree-ocl {
  background: url(/img/docs/open.png) no-repeat center;
}
.jstree-anchor p {
  display: inline-block;
}
.book-menu .jstree-default .jstree-anchor {
  display: inline-block;
  padding: 6px 0;
  margin-right: 32px;
  word-break: break-word;
}
.book-menu a {
  color: #000;
}
.book-menu a:focus {
  outline: none;
}
.book-menu .jstree-anchor:hover,
.book-menu .jstree-clicked {
  color: #467fbf;
  text-decoration: none;
}
.jstree-children {
  padding-left: 0.12rem;
  margin-left: 0.12rem;
  border-left: 1px solid #E6EBF5;
}
.jstree-clicked::before {
  content: '';
  width: 2px;
  height: 20px;
  background: #467fbf;
  position: absolute;
  left: -0.15rem;
  top: 0.12rem;
}
.jstree-container-ul {
  padding-left: 0;
  margin-left: 0;
  border-left: none;
}
.book-menu {
  width: 300px;
  margin-right: 20px;
  transition: .5s;
  background: #ffffff;
  flex-shrink: 0;
}
.book-menu nav {
  box-shadow: 0 1px 3px 0;
  padding: 0.24rem;
}
.jstree {
  width: 100%;
}
.jstree-node {
  position: relative;
}
.jstree-icon {
  position: absolute;
  right: 0;
}
.book-page {
  width: 100%;
}
.affirm {
  margin-top: 20px;
  word-break: break-all;
  font-size: 12px;
}
.slide_nav {
  height: 32px;  
}
.book-page table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}
.book-page tbody tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}
.book-page table td,
.book-page table th {
  border: 1px solid #dddddd;
  padding: 8px 12px;
  white-space: normal;
  word-break: break-all;
}
.markdown p,
.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown ul,
.markdown pre,
.markdown blockquote,
.markdown img {
  margin-bottom: 0.2rem;
}
.markdown blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 14px;
  border-left: 5px solid #467fbf;
}
.markdown pre {
  padding: 8px 12px;
}
.markdown ul>li {
  list-style: disc;
  margin-left: 0.48rem;
}
.docsVersion {
  margin-bottom: 0.4rem;
}
.selectVersion {
  width: 100%;
  outline: none;
  height: 32px;
}
/* ------------------mask-------------------- */
.maskLayer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}
/* ------------------download-------------------- */
.table-nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
}
.table-option {
  width: 358px;
  height: 114px;
  border: 1px solid #D4D4D4;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}
.table-nav .table-option .icon {
  width: 36px;
  height: 36px;
  margin-bottom: 8px;
  background-size: 90%;
}
.table-option .icon1 {
  background: url(../img/openGaussServer.svg) no-repeat center;
}
.table-option .icon2 {
  background: url(../img/openGaussConnectors.svg) no-repeat center;
}
.table-option .icon3 {
  background: url(../img/openGaussTools.svg) no-repeat center;
}
.table-nav>.active {
  background: #467fbf;
  color: #ffffff;
}
.table-hide {
  display: none;
}
.table>tbody>tr>td[rowspan] {
  background: #ffffff;
  vertical-align: middle;
}
.table-nav>.table-option.active>.icon1 {
  background: url(../img/openGaussServerWhilte.svg) no-repeat center;
  background-size: 90%;
}
.table-nav>.table-option.active>.icon2 {
  background: url(../img/openGaussConnectorsWhilte.svg) no-repeat center;
  background-size: 90%;
}
.table-nav>.table-option.active>.icon3 {
  background: url(../img/openGaussToolsWhilte.svg) no-repeat center;
  background-size: 90%;
}
.building {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.building img {
  max-width: 400px;
}
.building h4 {
  margin: 20px 0;
}

/* ----------------------------------video--------------------------------- */
.video_title {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.video_more {
  text-align: right;
}
.video_more a {
  font-family: HuaweiSans;
  font-weight: 900;
  color: #3399FF;
  line-height: 36px;
}
.video_more a:hover {
  text-decoration: none;
}
.video_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}
.video_title {
  margin-bottom: 20px;
  position: relative;
}
.video_list::after,
.video_title::after {
  content: "";
  width: 100%;
  height: 2px;
  display: block;
  background: #e8ebef;
}
.video_title::after {
  margin-top: 16px;
}
.video_list::after {
  margin-top: 150px;
}
.video_infro {
  margin: 1.5%;
  width: 30%;
}
.video_infro a {
  display: block;
}
.video_infro a:hover,
.video_infro a:focus {
  text-decoration: none;
}
.video_infro .video_infro_bg{
  width: 100%;
  height: auto;
}
.video_infro .video_infro_bg img {
  width: 100%;
  height: 100%;
}
.video_infro h4 {
  font-size: 0.32rem;
  margin: 0.2rem 0;
}
.video_infro p {
  color: #999999;  
}
.video_infro p,
.video_infro h4,
.home_video_infro h4,
.home_video_infro p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.video_infro:hover p,
.video_infro:hover h4 {
  color: #467fbf;
}
.video_detail video {
  width: 100%;
  height: 650px;
}
.video_content_top {
  display: flex;
  justify-content: space-between;
  margin: 0.4rem 0;
}
.video_content_top h3 {
  font-size: 0.48rem;
}
.video_content_top ul,
.video_tags .tags-list {
  display: flex;
}
.video_content_top ul li,
.video_tags .tags-list li {
  margin-right: 0.2rem;
}
.video_tags .tags-list li:last-child {
  margin-right: 0;
}
.video_content_top ul li:last-child {
  margin-right: 0;
  font-size: 14px;
  color: #9c9fae;
  line-height: 24px;
}
.video_content_top ul li a,
.video_tags .tags-list li a {
  min-width: 70px;
  text-align: center;
  display: inline-block;
  padding: 2px 8px;
  border: 1px solid #467fbf;
  border-radius: 0.28rem;
  color: #467fbf;
  font-size: 12px;
  font-weight: 600;
}
.video_tags .tags-list li.active a {
  color: #ffffff;
  background-color: #467fbf;
}
.video_content_top a:hover,
.video_tags .tags-list li a:hover,
.video_content_top a:focus,
.video_tags .tags-list li a:focus {
  text-decoration: none;
  color: #ffffff;
  background-color: #467fbf;
}
.video_content_bottom {
  margin-bottom: 250px;
}
.video_content_bottom h4 {
  margin-bottom: 0.2rem;
}
.video_content_bottom p {
  font-size: 18px;
  color: #9c9fae;
  margin-bottom: 0.2rem;
}
.home_video_infro {
  height: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
}
.home_video_infro_bg {
  width: 360px;
  height: auto;
  overflow: hidden;
}
.home_video_infro_bg img {
  width: 100%;
  height: 100%;
  border-radius: 6px;
}
.home_video_infro a {
  text-decoration: none;
}
.home_video_infro h4 {
  margin: 10px 0 5px 0;
}
.home_video_infro p {
  color: #999999;
}
.swiper_video .swiper-button-next, 
.swiper_video .swiper-button-prev {
  width: 50px;
  height: 50px;
  background: rgba(246,242,242,0.57);
  border-radius: 50%;
  transition: all .3s;
}
.swiper_video .swiper-button-next:hover, 
.swiper_video .swiper-button-prev:hover {
  background: rgba(36,35,35,0.4);
}
.swiper_video .swiper-button-next {
  right: 20px;
}
.swiper_video .swiper-button-prev {
  left: 20px;
}
.swiper_video .swiper-button-next:after, 
.swiper_video .swiper-button-prev:after {
  content: "";
  width: 16px;
  height: 16px;
}
.swiper_video .swiper-button-next:after {
  background: url(/img/video/xiangyou2.png) no-repeat center;
}
.swiper_video .swiper-button-prev:after {
  background: url(/img/video/xiangzuo2.png) no-repeat center;
}
.content_text table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-collapse: collapse;
}
.content_text table th,
.content_text table td {
  border: 1px solid #ddd;
  padding: 8px;
  line-height: 1.42857143;
}
.content_text table>tbody>tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}
.table_auto table th,
.table_auto table td {
  white-space: normal;
  word-break: break-all;
}