 
.summitPoster{
    height: 480px;
    background: no-repeat 50%/cover; 
    margin-bottom: 60px; 
} 
.summitPoster .poster {
    position: relative;
    width: 1120px;
    margin: 0 auto;
    height: 100%; 
}
.summitPoster .info{
    padding-top: 140px; 
}
.summitPoster h2{
    font-size: 38px; 
    font-weight: bold;
    color: #594599;
    line-height: 48px;
    font-family: Helvetica Neue,Helvetica,Arial,PingFang SC,Hiragino Sans GB,STHeiti,Microsoft YaHei,Microsoft JhengHei,SimSun,sans-serif;
}
.summitPoster h3{
    font-size: 20px; 
    font-weight: normal;
    color: #594599;
    line-height: 24px;
    margin: 16px 0 24px;
    font-family: Helvetica Neue,Helvetica,Arial,PingFang SC,Hiragino Sans GB,STHeiti,Microsoft YaHei,Microsoft JhengHei,SimSun,sans-serif;
}
.summitPoster .txt{
    font-size: 15px;  
    color: #000000;
    line-height: 20px;
    letter-spacing: 1px;
    margin-bottom: 8px;
}
.summitPoster .txt::before{
    width:20px ;
    height: 20px;
    display: inline-block;
    content: '';
    vertical-align: middle;
    margin-right: 8px;
}
.summitPoster .time::before{
    background: url("/img/summit/time1.png") no-repeat center/cover;
}
.summitPoster .address::before{
    background: url("/img/summit/address.png") no-repeat center/cover;
}
.summitPoster .btns{
    padding: 0 32px;
    line-height: 32px;
    background: #FFFFFF;
    border-radius: 4px;
    border: 2px solid #594599;
    position: absolute;
    bottom: 120px;
    display: block;
    text-align: center;
    font-size: 16px;
    color: #594599;
}
.summitPoster .btns:hover{ 
    background: #594599; 
    border: 2px solid #594599; 
    color: #fff;
    text-decoration: none;
}
.summitMain .text{
    font-size: 18px;  
    color: #000000;
    line-height: 40px;
    text-indent: 2em;
    margin-bottom: 16px;
    text-align: justify;
}
.summitMain h2{
    text-align: center;
    font-size: 36px; 
    font-weight: normal;
    color: #000000;
    line-height: 84px;
    background-repeat: no-repeat;
    margin: 60px 0 30px;

} 
.summitMain .tit0{
    background: url("/img/summit/tit0.png") no-repeat  center;
}
.summitMain .tit1{
    background: url("/img/summit/tit1.png") no-repeat  center;
}
.summitMain .tit2{
    background: url("/img/summit/tit2.png") no-repeat  center;
}
.summit-container h3{
    font-size: 24px; 
    font-weight: normal;
    color: rgba(0, 0, 0, 0.85);
    line-height: 24px;
    margin-bottom: 16px;
    /* text-align: center */
}

.summit-container{
    margin-top: 32px;
}
.dataItem{
    display: flex;
    border-bottom:1px solid rgba(0, 0, 0, 0.15);
    padding: 8px 0;
    height: 64px;
    line-height:32px ;
    transition: background-color .25s ease;
    
    align-items: center;
}
.dataItem:hover{
    background-color: #f5f7fa;
}
.dateList span{
    font-size: 18px; 
    color: #000;
    line-height: 24px;
}
.dateList .time{
    width: 240px;
    background: url("/img/summit/time.png") no-repeat left center;
    padding-left: 30px; 
    color: rgba(0, 0, 0, 0.5);
}
.dateList .info{   
    width: 460px;
    margin-right:40px;
    /* display: flex; */
}
.dateList .speaker{  
    min-width: 90px;
}
.dateList .position{ 
    font-size: 16px;  
    line-height: 24px;
}
.partnersInfo .titleBar{
    margin: 32px 0 24px;
    text-align: center;
}
.partnersInfo .caption{ 
    font-size: 24px;
    color: #000;
    line-height: 24px; 
}
.partnersInfo .txt{ 
    font-size:16px;  
    margin-top: 8px;
}
.partnersInfo .links-imgs{
    display: flex; 
    width: 100%;
    flex-wrap: wrap;
}
.partnersInfo .links-imgs.one{
    width: 570px;
    margin: 0 auto;
}
.partnersInfo .links-imgs.one .line + .line{
    border-top:0 none;
}
.partnersInfo .links-imgs.one .line{
    width: 570px;
    border-right: 1px solid #DFE1E8;
}
.partnersInfo .links-imgs .line {
    display: block; 
    border: 1px solid #DFE1E8;
    border-right: 0;
    text-align: center;
    padding: 10px;
    height: 100px;
    box-sizing: border-box;
    width: 285px; 
}
.partnersInfo .links-imgs .line.long{
    width: 570px;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    display: flex;
    flex-direction: column;
}
.partnersInfo .links-imgs .line:last-child {
    border-right: 1px solid #DFE1E8;
}
.partnersInfo img {
    vertical-align: top;
    max-width: 100%;
}
.links-box{
    border-top: 1px solid #DFE1E8;
    width: 1140px;
}
.links-box  .links-imgs .line{
    border-top:0 none;
}


.timeTabs{
    margin-top: 40px;
}
.timeTabs li{
    display: inline-block;
    font-size: 24px;
    color: #000;
    padding-bottom: 8px;
    border-bottom:2px solid transparent;
    margin-right: 64px;
    cursor: pointer;
    line-height: 24px;
}
.timeTabs li.active{
    color: #755BC7;
    border-color:#755BC7 ;
}

.sub-tab{
    display: flex;
    width: 100%;
    margin-bottom:16px;
}
.sub-tab li{
    margin-right: 20px;
    line-height: 64px;
    background: #FFFFFF;
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    font-size: 20px;
    color: #000;
    flex: 1;
    text-align: center;
    cursor: pointer;
}
.sub-tab li:last-child{
    margin-right: 0;
}
.sub-tab li.active{ 
    background: #755BC7; 
    color: #fff;
}
.sub-container,.summit-container{
    display: none; 
    overflow: hidden;
}
.sub-container.show,.summit-container.show{
    display: block;
}

.sub-container .speaker{
    max-width: 400px;
} 
.dataItem .box1{
    flex: 1;
    display: flex; 
    align-items: center;
}



.fixed-nav {
    position: fixed;
    top: 480px;
    right: 85px;
    text-align: right;
}
.to-top img {
    position: relative;
    left: 16px;
    width: 32px;
}
.fixed-nav ul {
    padding-right: 9px; 
    border-right: 2px solid #fff;
}
.fixed-nav ul li {
    padding-top: 24px;
}
.icon-line {
    width: 2px;
    height:125px;
    display: inline-block;
    position: relative;
    top: -141px;
    background: #bfbfbf;
}
.icon-circle {
    display: inline-block;
    width: 12px;
    height: 12px;
    background: url("/img/member/icon_circle.svg");
    position: relative;
    left: 16px;
    z-index: 1;
}
.active .icon-circle {
    background: url("/img/member/icon_circle_active.svg");
}
.fixed-nav a {
    color: #000;
    font-size: 16px;
}
.fixed-nav .active a {
    color: var(--theme);
}
.js-to-top{
    cursor: pointer;
    height: 32px;
}

.summit-container + .summit-container .dataItem .info{
    width: auto;
}

@media screen and (max-width: 1550px){ 
    .fixed-nav {
        display: none;
    }
}

@media screen and (max-width: 1050px){ 
    
    .summitPoster{
        height: 400px;
        overflow: hidden;
    }
    .summitPoster .poster{
        width: 100%;
    }
    .summitPoster .btns{ 
        bottom: 100px;
    }
    .links-box{
        border-top:0 none;
        width: 100%;
    }
    .partnersInfo .links-imgs{
        width: 100% !important;
    }
    .partnersInfo .links-imgs{
        display: block;
    }
    .partnersInfo .links-imgs .line{
        width: 100% !important;
        border: 1px solid #DFE1E8;
        border-bottom: 0 none;
    }
    .partnersInfo .links-imgs.one .line + .line {
        border-top: 1px solid #DFE1E8;
    }
    .partnersInfo> .links-imgs .line:last-child{
        border: 1px solid #DFE1E8;
    }
    .partnersInfo .links-box{
        border-bottom: 1px solid #DFE1E8;
    }
    .summitPoster .btns{
        left: 20px;
    }
    .summitPoster .info{
        padding-top: 80px;
        padding-left: 20px;
    }
    .timeTabs li{
        font-size: 16px;
        margin-right: 20px;
    }
    .sub-tab li{
        margin-right: 10px;
        line-height: 48px;
        font-size: 14px;
    }
    .dataItem .box1 {
        margin-top: 6px;
    }
    .dataItem .box1 .speaker{ 
        min-width:50px;
    }
    .dataItem .box1 .position{
        flex: 1;
        font-size: 12px;
    }
    .dataItem{
        display: block;
        height: auto;
        padding: 12px 0;
        padding-left: 90px;
        position: relative;
        min-height:42px;
    }
    .dateList span{
        display: block;
        color: #333;
        font-size: 12px; 
        line-height: 21px !important; 
    }
     
    .dateList .info{
        width: auto;
        margin-right: 0;
    }
    .dateList .time{ 
        font-size: 12px;
        background: none;
        padding-left: 0;
        width: auto;
        position: absolute;
        left:0 ;
        top:12px;
    }
    
   
} 
@media screen and (max-width: 768px){ 
    .summitMain{
        width: 90% !important;
        padding: 0;
    }
    .summitPoster .info{
        display: none;
    }
    .summitPoster{
        background-image: url("/img/summit/homeBanner_mo.png") !important;
        height: 320px;
        background-size: contain; 
        margin-bottom: 40px;
        text-align: center;
    }
    .summitPoster .btns{ 
        position: static;
        margin: 125px auto 0;
        line-height: 24px;  
        font-size: 12px;
        padding: 0 24px;
        display: inline-block;
    }
    .summitMain .text {
        font-size: 12px; 
        line-height: 26px; 
    }
    
    .summitMain h2{
        font-size: 18px;
        margin: 40px 0 24px;
        line-height: 36px;
        background-size: cover !important;
        font-weight: bold;
        padding-left: 6px;
    }
    .summit-container h3{
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        font-weight: bold;
    }
    .dateList li{
        line-height: 20px;
    }
    .partnersInfo .titleBar{margin: 24px 0 16px;}
    .partnersInfo .caption{
        font-weight: bold;
        font-size: 14px;
        
    }

}
#livePage{
    border:0 none;
    width: 1140px;
    display: block;
}
.liveBox{
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 24px;
}
.liveBox a{
    line-height: 96px;
    font-size: 20px;
    text-align: center;
    width: 300px;
    color: #000;
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.1);
    transition: all .3s cubic-bezier(.645,.045,.355,1);
    border-radius: 8px;
    text-decoration: none !important; 
    margin-left: 10px;
}
.liveBox a:first-of-type{    
    margin-left: 0;
} 
.liveBox a.center{
    flex: 1;
}
.liveBox a.active{
    background: #755BC7;
    color: #fff;
} 
.liveBox.mo{
    display: none;
    margin: 0 0 20px;
}
@media screen and (max-width: 1000px) {
    #livePage {
        width:100%; 
    } 
    .liveBox.mo{
        display:flex
    }
    .liveBox.pc{
        display:none
    } 
    .liveBox a.center{
        flex:inherit;
        width: 100%;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        margin: 0;
    }
    .liveBox{
        position: relative;
        padding-top: 58px;
    }
    .liveBox a { 
        flex:1; 
        margin: 0 5px;
        font-size: 14px;
        line-height: 48px; 
    } 
    
}

