 
.summitPoster{
    height: 380px;
    background: no-repeat 50%/cover; 
    margin-bottom: 64px; 
} 
.summitPoster .poster {
    position: relative;
    width: 1140px;
    margin: 0 auto;
    height: 100%; 
    overflow: hidden;  
    padding: 72px 0;
}
.postertext{ 
    width: 424px;
    height: 160px;
    background: no-repeat center/cover;
    margin-bottom: 24px;
}
.summitPoster .info{ 
    height: 0;
    overflow: hidden;
    padding-top:371px;
}
.summitPoster h2{
    font-size: 38px; 
    font-weight: bold;
    color: #594599;
    line-height: 48px; 
}
.summitPoster h3{
    font-size: 20px; 
    font-weight: normal;
    color: #594599;
    line-height: 24px;
    margin: 16px 0 24px; 
}
.summitPoster .txt{
    font-size: 15px;  
    color: #000000;
    line-height: 20px;
    letter-spacing: 1px;
    margin-bottom: 8px;
}
.summitPoster .txt::before{
    width:20px ;
    height: 20px;
    display: inline-block;
    content: '';
    vertical-align: middle;
    margin-right: 8px;
}
.summitPoster .time::before{
    background: url("/img/summit/time1.png") no-repeat center/cover;
}
.summitPoster .address::before{
    background: url("/img/summit/address.png") no-repeat center/cover;
}
.summitPoster .btns{
    padding: 0 20px 0 28px;
    line-height: 48px;
    background: #7D32EA;
    border: 0 none;
    display: inline-flex; 
    font-size: 16px;
    color: #fff;
    transition: all .3s ease-in-out;
    align-items: center;
}
.summitPoster .btns .arrow{
  width:24px ;
  height: 24px;
  display: inline-block;
  background: url("/img/summit/arrow.png") no-repeat center/cover;
  margin-left: 8px;
  transition: all .2s linear;
}
.summitPoster .btns:hover{  
    text-decoration: none;
}
.summitPoster .btns:hover .arrow{  
  transform: translate(4px);
}
.summitMain .text{
    font-size: 18px;  
    color: #000000;
    line-height: 40px;
    text-indent: 2em;
    text-align: justify;
}
.summitMain h2{
    text-align: center;
    font-size: 36px; 
    font-weight: normal;
    color: #000000;
    line-height: 84px;
    background-repeat: no-repeat;
    margin: 64px 0 40px;

} 
.summitMain .tit0{
    background: url("/img/summit/tit0.png") no-repeat  center;
}
.summitMain .tit1{
    background: url("/img/summit/tit1.png") no-repeat  center;
}
.summitMain .tit2{
    background: url("/img/summit/tit2.png") no-repeat  center;
}
.summitMain .tit3{
    background: url("/img/summit/tit3.png") no-repeat  center;
}
.summitMain .tit4{
    background: url("/img/summit/tit4.png") no-repeat  center;
}
#livePage{
  border:0 none;
  width: 1140px;
  display: block;
}
.liveBox{
  display: grid;
  grid-template-columns:repeat(4,1fr) ;
  gap: 16px;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 24px;
}
.liveBox a{
  height: 88px;
  font-size: 18px;
  text-align: center; 
  color: #000; 
  box-shadow: 0px 12px 32px 0px rgba(190,196,204,0.2000);
  transition: none;
  border-radius: 2px;
  text-decoration: none !important;
  border: 1px solid #7D32EA;
  display: grid;
    align-items: center;
    line-height: 24px;
}
.liveBox a span{display: block;}
.liveBox a:first-of-type{
  grid-column: 1/5;
} 
.liveBox a.center{
  flex: 1;
}
.liveBox a.active{
  background:  url('../img/summit/live-active-bg.png') no-repeat center;
  color: #fff;
  border-color: transparent;
} 
.liveBox.mo{
  display: none;
  margin: 0 0 20px;
}
.live-select{
  width: 100%;
  height: 48px;
  line-height: 48px;
  padding: 0 12px;
  font-size: 16px;
  background: none;
  outline:none;
}
.live-select option{
  font-size: 14px;
  padding: 8px 0;
  line-height: 24px;
}
.guidepath{
  margin: 16px 0 40px;
  text-align: center;
}
.guidepath a{
  font-size: 14px; 
  color: #7D32EA;
  line-height: 22px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.guidepath .arrow{
  width: 16px;
  height: 16px;
  display: inline-block;
  background: url(../img/summit/arrow1.png) no-repeat center/cover;
  transition: all .2s linear;
}
.guidepath a:hover .arrow{
  transform: translate(4px);
}

@media screen and (max-width: 1000px) {
  #livePage {
      width:100%; 
  } 
  .liveBox.mo{
      display:flex
  }
  .liveBox.pc{
      display:none
  } 
  .liveBox a.center{
      flex:inherit;
      width: 100%;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      margin: 0;
  }
  .liveBox{
      position: relative; 
  }
  .liveBox a { 
      flex:1; 
      margin: 0 5px;
      font-size: 14px;
      line-height: 48px; 
  } 
  
}
.summit-container h3,.meetingtitle{
    font-size: 24px; 
    font-weight: normal;
    color: rgba(0, 0, 0, 0.85);
    line-height: 32px;
    margin-bottom: 24px;
    text-align: center;
}

.summit-container{
    margin-top: 40px;
}
.dateList{
  margin-bottom: 40px;
}
.agendaList{
  margin-bottom: 40px;
}
.agendaItem{
    display: flex;
    line-height:32px ;
    margin-bottom: 16px;
    align-items: center;
}

.agendaItem span{
    font-size: 18px; 
    color: #000;
    line-height: 24px;
}
.agendaItem .time{
    width: 192px;
    background: url("/img/summit/time.png") no-repeat left center;
    padding-left: 30px; 
    color: rgba(0, 0, 0, 0.5);
}
.agendaItem .info{   
    /* width: 460px; 
    margin-right:40px;
     display: flex; */
     flex: 1;
     display: flex; 
     align-items: center;
     height: 64px;
     justify-content: center;
     gap: 24px;
}
.dataItem .info {
  display: flex;
  align-items: center;
}
.agendaItem .info span{
  line-height: 64px;
  background: #FFFFFF;
  box-shadow: 0px 12px 32px 0px rgba(190, 196, 204, 0.2);
  border-radius: 2px;
  border: 1px solid #7D32EA;
  flex: 1; 
  font-size: 18px;
  text-align: center;
}
.dataItem{
  display: grid;
  grid-template-columns: 192px 500px 90px 345px;
  border-bottom:1px solid rgba(0, 0, 0, 0.15);
  padding: 20px 0; 
  line-height:24px ;
  transition: background-color .25s ease; 
  align-items: center;
  min-height: 64px;
}
.dataItem:hover{
  background-color: #f5f7fa;
}
.dataItem .db{
  grid-column-start: 3;
  grid-column-end: 5; 
}
.dataItem .db .inline:nth-child(2){
  margin-top: 16px;
}
.dateList .desc{
  font-size: 18px; 
  color: #000;
  line-height: 24px;
  display: inline-block;
  margin-right: 36px;
} 
.sub-container .dataItem{
  grid-template-columns: 192px auto 96px 410px;
} 
.dateList .name{
  width:100px;
  display: inline-block; 
  color: #555555;
  font-size: 16px;
}
.dateList .post{
  width:345px;
  display: inline-block;
  color: #555555;
  font-size: 16px;
  word-break: keep-all;
}
.post-more{
  width:345px;
}
.dateList .inline{
  display: flex;
  align-items: center;
}
.dateList .time{
  width: 192px;
  font-size: 18px;
  background: url("/img/summit/time.png") no-repeat left center;
  padding-left: 30px; 
  color: rgba(0, 0, 0, 0.5);
}
.dateList .info .desc{   
  width: 460px; 
  margin-right:40px;
  display: inline-block;
}

.dateList .speaker{  
    min-width: 90px;
}
.dateList .position{ 
    font-size: 16px;  
    line-height: 24px;
} 
.links-box{
    border-top: 1px solid #DFE1E8;
    width: 1140px;
}
.links-box  .links-imgs .line{
    border-top:0 none;
}


.sig-list{
  display: flex;
  justify-content: space-between;
}
.sig-list .time{
  width: 192px;
  background: url(/img/summit/time.png) no-repeat left center;
  padding-left: 30px;
  color: rgba(0, 0, 0, 0.5);
  height: 20px;
  font-size: 18px;
}
.sig-content{
  flex: 1;
}
.sig-item{ 
    background: #FFFFFF;
    box-shadow: 0px 12px 32px 0px rgb(190 196 204 / 20%);
    border-radius: 2px;
    border: 1px solid #7D32EA; 
    font-size: 18px; 
    padding: 16px 24px ;
    position: relative;margin-bottom: 16px; 
} 
.sig-item .name{
  font-size: 18px; 
  color: #000000;
  line-height: 24px;
  display: block;
  font-weight: 500;
}
.sig-item .desc{
  font-size: 14px; 
  color: #555;
  line-height: 22px;
  margin-top: 10px;
  display: block;
}
.sig-item .link{
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  line-height: 40px;
  background: rgba(125, 50, 234, .1);
  border-radius: 0px 2px 0px 0px;
  font-size: 14px; 
  color: #7D32EA;
  display: block;
  text-align: center;
}

.timeTabs{
    margin: 24px 0 40px;
    text-align: center;
}
.timeTabs li{
    display: inline-block; 
    margin-right: 40px;
    cursor: pointer; 
    border-radius: 8px ;
    border: 1px solid #CBCBCB; 
    color: #CBCBCB;
    width: 120px;
    text-align: center;
}
.timeTabs li .taber-top{
  line-height: 64px; 
  font-size: 24px; 
  
}
.timeTabs li .taber-bottom{
  border-top: 1px solid #CBCBCB;
  font-size: 20px; 
  line-height: 36px;
}
.timeTabs li.active{
    color: #fff;
    background: #7D32EA;
    border-color:#7D32EA ;
}
.timeTabs li:last-child{
  margin-right: 0;
}

.sub-tab{
    display: grid;
    gap:16px;
    grid-template-columns: repeat(4,266px);
    width: 100%;
    margin-bottom:40px;
}
.sub-tab li{ 
    height: 88px;  
    background: #FFFFFF;
    box-shadow: 0px 12px 32px 0px rgba(190, 196, 204, 0.2);
    border-radius: 2px;
    border: 1px solid #7D32EA;
    font-size: 18px;
    color: #000; 
    text-align: center;
    cursor: pointer;
    padding:  0 16px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.sub-tab li span{
    display: block;
}
.sub-tab li.active{ 
    background: #755BC7; 
    color: #fff;
}
.sub-container,.summit-container{
    display: none; 
}
.sub-container.show,.summit-container.show{
    display: block;
}

.sub-tab-mo{
  display: none;
}
.sub-tab-mo .btn{
  cursor: pointer;
  padding: 5px;
  width: 8px;
  height: 16px;
  box-sizing: content-box;
  background: url(../img/summit/prev.svg) center center no-repeat;
}
.sub-tab-mo .next{
  transform: rotate(-180deg);
}


.sub-container .speaker{
    max-width: 400px;
} 
.dataItem .box1{
    flex: 1;
    display: flex; 
    align-items: center;
    display: none; 
}
.sub-container .meetingtitle{
  margin-bottom: 16px;
}
.co-host{
  font-size: 18px; 
  color: #000000;
  line-height: 24px;
  text-align: center;
  margin-bottom: 24px;
}



.fixed-nav {
    position: fixed;
    top: 520px;
    right: 85px;
    text-align: right;
}
.to-top img {
    position: relative;
    left: 16px;
    width: 32px;
}
.fixed-nav ul {
    padding-right: 9px; 
    border-right: 2px solid #fff;
}
.fixed-nav ul li {
    padding-top: 24px;
}
.icon-line {
    width: 2px;
    height:130px;
    display: inline-block;
    position: relative;
    top: -147px;
    background: #bfbfbf;
}
.icon-circle {
    display: inline-block;
    width: 12px;
    height: 12px;
    background: url("/img/member/icon_circle.svg");
    position: relative;
    left: 16px;
    z-index: 1;
}
.active .icon-circle {
    background: url("/img/member/icon_circle_active.svg");
}
.fixed-nav a {
    color: #000;
    font-size: 16px;
}
.fixed-nav .active a {
    color: var(--theme);
}
.js-to-top{
    cursor: pointer;
    height: 32px;
}

.summit-container + .summit-container .dataItem .info{
    width: auto;
}

 
 
.review-wrapper{
  margin-top: 64px;
}
.review-wrapper .tile{
text-align: center;
}
.review-wrapper .link{
color: #7D32EA;
font-size: 20px;
line-height: 24px;
margin-bottom: 24px;
cursor: pointer;
}


.partnersInfo .titleBar{
  margin: 32px 0 24px;
  text-align: center;
}
.partnersInfo .caption{ 
  font-size: 24px;
  color: #000;
  line-height: 24px; 
}
.partnersInfo .txt{ 
  font-size:16px;  
  margin-top: 8px;
}
.partnersInfo .links-imgs{
  display: flex; 
  width: 100%;
  flex-wrap: wrap;
}
.partnersInfo .links-imgs.one{
  width: 570px;
  margin: 0 auto;
}
.partnersInfo .links-imgs.one .line + .line{
  border-top:0 none;
}
.partnersInfo .links-imgs.one .line{
  width: 570px;
  border-right: 1px solid #DFE1E8;
}
.partnersInfo .links-imgs .line {
  display: block; 
  border: 1px solid #DFE1E8;
  border-right: 0;
  text-align: center;
  padding: 10px;
  height: 100px;
  box-sizing: border-box;
  width: 285px; 
}
.partnersInfo .links-imgs .line.long{
  width: 570px;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  display: flex;
  flex-direction: column;
}
.partnersInfo .links-imgs .line:last-child {
  border-right: 1px solid #DFE1E8;
}
.partnersInfo img {
  vertical-align: top;
  max-width: 100%;
  transform: scale(.9);
}
.links-box{
  border-top: 1px solid #DFE1E8;
  width: 1140px;
}
.links-box  .links-imgs .line{
  border-top:0 none;
}


.lecturer-content{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap:40px ;
}
.lecturer-item {
  text-align: center;
}
.lecturer-item p{
  font-size: 14px; 
  color: #000000;
  line-height: 22px;
  margin-top: 4px;
}
.lecturer-item img{
  width: 120px;
  height: 120px;
}
.lecturer-item .title{ 
color: #7D32EA;
margin: 16px 0 8px;
}





@media screen and (max-width: 1550px){ 
    .fixed-nav {
        display: none;
    }
}

@media screen and (max-width: 1050px){ 
    .exhibitionContent  {
        overflow-x: scroll;
    }
    .summitPoster{
        height: 400px;
        overflow: hidden;
    }
    .summitPoster .poster{
        width: 100%;
        justify-content: center;
    }
    .summitPoster .btns{ 
         padding:0 12px;
    }
    .links-box{
        border-top:0 none;
        width: 100%;
    }
    .partnersInfo .links-imgs{
      width: 100% !important;
    }
    .partnersInfo .links-imgs{
        display: block;
    }
    .partnersInfo .links-imgs .line{
        width: 100% !important;
        border: 1px solid #DFE1E8;
        border-bottom: 0 none;
    }
    .partnersInfo .links-imgs.one .line + .line {
        border-top: 1px solid #DFE1E8;
    }
    .partnersInfo> .links-imgs .line:last-child{
        border: 1px solid #DFE1E8;
    }
    .partnersInfo .links-box{
        border-bottom: 1px solid #DFE1E8;
    }
     
    .summitPoster .btns{
        left: 20px;
    }
    .summitPoster .info{
        padding-top: 80px;
        padding-left: 20px;
    }
    .timeTabs li{
        font-size: 16px;
        margin-right: 16px;
        width: 88px;
    }
    .timeTabs li .taber-top {
      line-height: 48px;
      font-size: 16px;
    }
    .timeTabs li .taber-bottom { 
      font-size: 14px;
      line-height: 32px;
    }

    .sub-tab li{
        margin-right: 10px;
        line-height: 48px;
        font-size: 14px;
    }
    
    .dataItem .box1 {
        margin-top: 6px;
    }
    .dataItem .box1 .speaker{ 
        min-width:50px;
    }
    .dataItem .box1 .position{
        flex: 1;
        font-size: 12px;
    }
    .dataItem{
        display: block;
        height: auto;
        padding: 12px 0;
        padding-left: 80px;
        position: relative;
        min-height:42px;
        white-space: normal;
    }
    
    .dateList span,.dataItem .company{
        display: block !important;
        color: #555;
        font-size: 12px !important; 
        line-height: 21px !important; 
    }
    .dateList .inline{
      display: block
    }
    .dateList .desc{
      margin: 0;
      color: #000;
      
      font-weight: 600;
    }
    
    .dateList .info{
        width: auto;
        margin-right: 0;
    }
    .dateList .time{ 
        font-size: 12px;
        background: none;
        padding-left: 0;
        width: auto;
        position: absolute;
        left:0 ;
        top:12px;
    }
    .agendaList span{
        display: block;
        color: #333;
        font-size: 12px;
        line-height: 40px
    }
    .agendaList .info span{
      min-height: 40px;
      line-height: 1.25;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 12px;
    }
    .agendaList .info span.inline{
      height: 48px;
    }
    .agendaList .info{
        width: auto;
        margin-right: 0;
        height: auto;
        gap: 8px;
    }
    .agendaList .time,.sig-list .time{ 
        font-size: 12px;
        background: none; 
        width: 80px;
        padding: 0;
        white-space: nowrap;
    }
    .sig-item{
      padding: 8px 36px 8px 16px;
      margin-bottom: 8px;
    }
    .sig-item .name{
      font-size: 14px;
      line-height: 24px; 
    }
    .sig-item .desc{
      font-size: 12px;
      line-height: 16px;
      margin-top: 4px;
    }
    .sig-item .link{
      width: 32px;
      bottom: 0;
      padding: 0 5px;
      line-height: 24px;
      display: flex;
      align-items: center;
    }
    .meeting-content{
      display: block;
      margin-top: 40px;
    }
    .meeting-item{
      margin: 16px auto 0;
    }
    .lecturer-content { 
      grid-template-columns: repeat(2,1fr); 
    }
    .lecturer-content .txt{font-size: 12px;
      line-height: 18px;}
} 

@media screen and (min-width:768px) and (max-width:960px) {
    .summitPoster { 
        height: 320px;
    }
    .summitPoster .btns {
        bottom: 50px;
        font-size: 12px;
        line-height: 24px;
    }
} 

@media screen and (max-width: 768px){
    .summitMain{
        width: 100% !important;
        padding: 0 16px;
        overflow: hidden;
    }
    .summitPoster .info{
        display: none;
    }
    .summitPoster{
        background-image: url("/img/summit/banner_mo.png") !important;
        height: 320px;
        background-size: cover; 
        margin-bottom: 40px;
        text-align: center;
    }
    .summitPoster .poster { 
      padding-bottom: 40px;
    }
    .postertext{
      background-image: url("/img/summit/text_mo.png") !important;
      width: 248px ;
      height: 94px;
      margin: 0 auto 16px;
    }
    .summitPoster .btns{ 
        padding: 0 14px 0 18px;
        font-size: 14px;
        line-height:40px;
    }
    .summitPoster .btns .arrow{
      width: 16px;
      height: 16px;
    }
    .summitMain .text {
        font-size: 12px; 
        line-height: 26px; 
    }
    
    .summitMain h2{
        font-size: 18px;
        margin: 40px 0 24px;
        line-height: 36px;
        background-size: cover !important;
        font-weight: bold;
        padding-left: 6px;
    }
    .summit-container h3,.meetingtitle{
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        font-weight: bold;
    }
    .co-host {
      font-size: 14px; 
      line-height: 21px; 
      margin-bottom: 24px;text-align: center;
  }
    .dateList li{
        line-height: 20px;
    }
    .partnersInfo .titleBar{margin: 24px 0 16px;}
    .partnersInfo .caption{
        font-weight: bold;
        font-size: 14px;
        
    }
    .sub-tab-mo{
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin-bottom: 10px;
    }
    .sub-tab-mo .title{
      flex: 1;
      text-align: center;
    }
    .sub-area{
      overflow: hidden;
      width: 335px;
      margin: 0 auto;
    }
    .transform-box{
      white-space: nowrap;
      width: 100%; 
      position: relative;
      font-size: 0;
      vertical-align: top;
    }
    .sub-tab{
      display: none;
    }
    .sub-container{
      display: inline-block !important;
      width: 100%;
      vertical-align: top;
    }
    .guidepath {
      margin: 12px 0 24px 
  }
} 


