.support-tools {
    display: flex;
    margin-bottom: 60px;
}
.support-head img{
     width: 100%;
    margin-bottom: 60px;
 }
.support-head h2{
    font-size: 32px;
    line-height: 32px;
    text-align: center;
    font-weight: normal;
    margin-bottom: 32px;
}
.support-head p {
    margin-bottom: 24px;
    line-height: 32px;
}
.left-tools {
    box-shadow: 0px 12px 32px 0px rgba(190, 196, 204, 0.2);
    padding: 20px 20px;
    margin-right: 25px;
    position: fixed;
    top: 200px;
}
.left-tools div {
    width: 145px;
    padding: 10px 0;
    position: relative;
}
.left-tools div a {
    color: #000;
    display: block;
    width: 100%;
    height: 100%;
}
.left-tools div a:hover,
.left-tools div a:visited,
.left-tools div a:link {
    color: #000;
    text-decoration: none;
}
a:link {
    text-decoration: none;
}
.left-tools .active::after {
    content: "";
    width: 1px;
    height: 46px;
    background: #7D32EA;
    position: absolute;
    left: -21px;
    top: 0;
}

.support-tools a {
    color: #7D32EA;
}
.support-tools a:hover,
.support-tools a:visited {
    text-decoration: none;
    color: #7D32EA;
}

.tool-item {
    padding: 26px 32px;
    box-shadow: 0px 12px 32px 0px rgba(190, 196, 204, 0.2);
    margin-bottom: 32px;
    width: 920px;
    margin-left: 200px;
}
.item-title {
    font-size: 24px;
    color: #000000;
    line-height: 32px;
    padding-bottom: 20px;
    border-bottom: 1px solid #E4E6ED;
}
.item-detail {
    display: flex;
    flex-wrap: wrap;
}
.item-box {
    width: 265px;
    font-size: 14px;
    color: #000000;
    margin-right: 30px;
}
.item-box:nth-child(3n) {
    margin-right: 0;
}
.item-box p {
    margin: 4px 0;
    line-height: 24px;
}
.item-name {
    font-size: 18px;
    margin-top: 25px!important;
}
.item-desc {
    color: #4d4d4d;
}
.item-link a:first-child {
    margin-right: 25px;
}

@media screen and (max-width: 1000px){
    .support-tools {
        display: none;
    }
    .support-head h2{
        font-size: 24px;
    }
    .tool-item {
        width: 100%;
        margin-left: 0;
        box-shadow: none;
        padding: 0;
        margin-bottom: 13px;
    }

    .h5-support a {
        color: #7D32EA;
    }
    .h5-support a:hover,
    .h5-support a:visited {
        text-decoration: none;
        color: #7D32EA;
    }
    .item-box {
        width: 100%;
        margin-right: 0;
        margin-left: 40px;
        padding-bottom: 15px;
        border-bottom: 1px solid #E4E6ED;
    }
    .item-box:last-child {
        border-bottom: none;
    }
   .item-title{
       font-size: 18px;
       padding-left: 40px;
       padding-bottom: 13px;
       display: flex;
       justify-content: space-between;
   }
   .item-title img {
       margin-right: 30px;
   }
}