a {
    color: #7D32EA;
}
a:hover {
    text-decoration: none;
    color: #7D32EA;
}
.training {
    margin-bottom: 60px;
}
.training h2 {
    height: 32px;
    font-size: 24px;
    font-weight: normal;
    text-align: center;
    margin: -40px 0 70px;
    padding-top: 120px;
}
.train-introduction h2 {
    margin-top: 0;
    padding: 0;
}
.intro-info {
    display: flex;
    justify-content: space-between;
    min-width: 1140px;
}
.intro-info p {
    width: 450px;
    line-height: 32px;
}
.adv-box {
    display: flex;
    flex-wrap: wrap;
    min-width: 1140px;
}
.adv-item {
    height: 160px;
    width: 377px;
    text-align: center;
    border: 4px solid rgba(125, 50, 234, 0.05);
}
.adv-item h3 {
    font-size: 18px;
    font-weight: normal;
    margin: 35px 0 13px;
}
.adv-item p {
    font-size: 14px;
    line-height: 32px;
}
.adv-item.dark {
    background: #7D32EA;
    color: #fff;
    border: 4px solid #7D32EA
}
.dark h3 {
    color: #fff;
}
.qa-item {
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-bottom: none;
    padding: 20px 24px;
    position: relative;
    cursor: pointer;
}
.qa-item p {
    line-height: 32px;
}
.qa-item:last-child {
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
.qa-item .qa-question {
    font-size: 16px;
    color: #000;
}
.open-icon {
    display: inline-block;
    width: 12px;
    height: 12px;
    background: url("/img/training/icon-close.svg");
    position: absolute;
    top: 30px;
    right: 24px;
}
.icon-close {
    display: inline-block;
    width: 12px;
    height: 12px;
    background: url("/img/training/icon-open.svg");
    position: absolute;
    top: 30px;
    right: 24px;
}
.qa-answer {
    display: none;
    margin-top: 12px;

}
.qa-answer.active {
    display: block;
    transition: .3ms ease-in-out;
}
.step-box {
    min-width: 1140px;
    display: flex;
    flex-wrap: nowrap;
}
.step-item {
    width: 116px;
    height: 144px;
    position: relative;
}
.step-box img {
    margin: 0 8px;
    display: inline;
}
.step-1 {
    background: url("/img/training/01.png");
}
.step-2 {
    background: url("/img/training/02.svg");
}
.step-3 {
    background: url("/img/training/03.svg");
}
.step-4 {
    background: url("/img/training/04.svg");
}
.step-5 {
    background: url("/img/training/05.svg");
}
.step-6 {
    background: url("/img/training/06.svg");
}
.step-7 {
    background: url("/img/training/07.svg");
}
.step-1:hover {
    background: url("/img/training/hover1.png");
    cursor: pointer;
}
.step-item p {
    display: block;
    position: absolute;
    bottom: 8px;
    left: 50%;
    transform: translateX(-50%);
    color: #000;
}
.step-box a {
    text-align: center;
    color: #000;
    position: relative;
}
.step-box a:hover {
    color: #fff;
    text-decoration: none;
}
.step-item p {
    position: absolute;
    bottom: 8px;
    left: 50%;
    transform: translateX(-50%);
}
.step-box a:hover p {
    color: #fff;
}
.step-item .longer {
    width: 115px;
    text-align: center;
}
.head-box {
    padding: 20px 40px;
    height: 123px;
    display: flex;
    position: relative;
    cursor: pointer;
}
.sys-header {
    width: 1130px;
}
.sys-ogca,
.sys-ogcp,
.sys-ogce {
    display: none;
}
.sys-ogca.alive,
.sys-ogcp.alive,
.sys-ogce.alive {
    display: block;
}
.sys-ogca .head-box {
    background: #E1BAFF;
}
.sys-ogcp .head-box {
    background: #A183EB;
}
.sys-ogce .head-box {
    background: #7D32EA;
}
.sys-header {
    border: 1px solid rgba(0, 0, 0, 0.05);
    background: #fff;
}
.head-left {
    margin-right: 40px;
    color: #fff;
    width: 280px;
    line-height: 24px;
}
.head-title {
    font-size: 18px;
    margin-bottom: 7px;
}
.head-left span {
    display: inline-block;
    height: 30px;
    width: 56px;
    text-align: center;
    background: #fff;
    line-height: 30px;
    border-radius: 2px;
    margin-right: 10px;
}
.sys-ogca .head-left span {
    color: #E1BAFF;
}
.sys-ogcp .head-left span {
    color: #A183EB;
}
.sys-ogce .head-left span {
    color: #7D32EA;
}
.sys-footer p {
    margin: 0 0 5px 40px;
}
.head-right {
    width: 610px;
    color: #fff;
    line-height: 24px;
    font-size: 12px;
}
.outline-box {
    min-width: 1100px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 30px 13px;
}
.outline-head {
    width: 315px;
    height: 88px;
    box-shadow: 0px 6px 30px 0px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    margin-right: 45px;
    margin-top: 16px;
    padding: 12px 16px;
    position: relative;
    cursor: pointer;
}
.outline-head:nth-child(3n) {
    margin-right: 0;
}
.outline-num {
    font-size: 36px;
    color: #7D32EA;
    line-height: 64px;
    width: 64px;
    height: 64px;
    border-radius: 12px;
    border: 2px solid #7D32EA;
    text-align: center;
}
.outline-card {
    margin-left: 16px;
    width: 170px;
}
.outline-card p {
    margin: 0;
}
.outline-card p:first-child {
    margin: 8px 0 10px;
}
.card-icon {
    display: inline-block;
    width: 12px;
    height: 12px;
    background: url("/img/training/icon-close.svg");
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
}
.sys-footer a {
    color: #7D32EA;
}
.sys-footer a:hover {
    text-decoration: none
}
.outline-head.hovered {
    background: #7D32EA;
    height: unset;
}
.default-card,
.detail-card {
    display: flex;
    flex-wrap: wrap;
}
.detail-card {
    background: #7D32EA;
    color: #fff;
    width: 315px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    border-radius: 4px;
}
.detail-card .outline-num {
    color: #fff;
    border: 2px solid #fff;
    margin: 12px 16px;
}
.detail-card .outline-card {
    margin-top: 16px;
    margin-left: 0;
}
.visible-card {
    margin: 0px 16px 16px;
}
.visible-card p {
    margin: 0;
    line-height: 24px;
}
.card-icon.opened {
    background: url("/img/training/opened.svg");
    position: absolute;
    right: 16px;
    top: 38px;
}
@keyframes fadeInOut {
    0% {
        display: block;
        opacity: 1;
    }
    25% {
        opacity: 0.75;
    }
    50% {
        opacity: 0.5;
    }
    75% {
        opacity: 0.25;
    }
    100% {
        opacity: 0;
    }
}
.sys-content {
    position: relative;
}
.sys-ogca,
.sys-ogcp,
.sys-ogce {
    position: absolute;
    left: 0;
    top: 0;
}
.sys-short {
    display: flex;
}
.sys-mini-box {
    width: 360px;
    margin-right: 25px;
}
.mini-head {
    width: 360px;
    height: 123px;
    padding: 20px 40px;
    color: #fff;
    cursor: pointer;
}
.ogca .mini-head {
    background: #E1BAFF;
}
.ogcp .mini-head {
    background: #A183EB;
}
.ogce .mini-head {
    background: #7D32EA;
}
.mini-footer {
    padding: 32px 40px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    line-height: 32px;
    height: 320px;
}
.foot-module {
    margin-bottom: 16px;
}
.head-title span {
    color: #E1BAFF;
    display: inline-block;
    height: 30px;
    width: 56px;
    text-align: center;
    background: #fff;
    line-height: 30px;
    border-radius: 2px;
    margin-right: 10px;
}
.mini-head p {
    line-height: 24px;
}
.fixed-nav {
    position: fixed;
    top: 480px;
    right: 185px;
    text-align: right;
}
.to-top img {
    position: relative;
    left: 16px;
    width: 32px;
}
.fixed-nav ul {
    padding-right: 11px;
    margin-top: -12px;
    padding-top: 12px;
}
.fixed-nav ul li {
    margin: 12px 0;
}
.icon-line {
    width: 2px;
    height: 149px;
    display: inline-block;
    position: relative;
    top: -166px;
    background: #bfbfbf;
}
.icon-circle {
    display: inline-block;
    width: 12px;
    height: 12px;
    background: url("/img/member/icon_circle.svg");
    position: relative;
    left: 16px;
    z-index: 1;
}
.active .icon-circle {
    background: url("/img/member/icon_circle_active.svg");
}
.fixed-nav a {
    color: #000;
}
.fixed-nav .active a {
    color: var(--theme);
}
.fixed-nav a:hover {
    text-decoration: none;
}
.sys-footer {
    height: 320px;
    padding-top: 16px;
}
.mini-head p:last-child {
    font-size: 12px;
}
.head-left {
    font-size: 12px;
}
.ogcp .head-title span {
    color: #A183EB;
}
.ogce .head-title span {
    color: #7D32EA;
}
.head-box img {
    width: 36px;
    height: 36px;
    position: absolute;
    right: 26px;
    top: 50%;
    transform: translateY(-50%);
}
.outline-box.empty {
    margin: 30px;
    text-align: center;
    display: block;
}
.more-btn {
    display: none;
}
.train-contact {
    margin-top: 16px;
    color: #4d4d4d;
    line-height: 24px;
}
@media screen and (max-width: 1000px) {
    .more-btn {
        display: block;
    }
    .training {
        margin-bottom: 20px;
    }
    .training h2 {
        margin: 60px 0 20px;
        padding: 0;
    }
    .train-introduction h2 {
        margin: 0 0 20px;
    }
    .intro-info {
        max-width: 1000px;
        min-width: unset;
        display: block;
    }
    .intro-info p {
        width: 100%;
    }
    .intro-info img {
        width: 100%;
    }
    .adv-box {
        min-width: unset;

    }
    .mini-head {
        padding: 20px 22px;
    }
    .train-system {
        width: 100%;
    }
    .sys-short {
        display: block;
    }
    .step-box {
        min-width: unset;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0 20px;
    }
    .step-item {
        display: inline-block;
    }
    .sys-mini-box {
        width: 100%;
    }
    .mini-head {
        width: 100%;
    }
    .adv-item {
        border: none;
    }
    .step-box img {
        display: none;
    }
    .qa-item {
        padding: 16px 8px;
    }
    .qa-item .qa-question {
        width: 280px;
        line-height: 32px;
    }
    .open-icon {
        top: 25px;
    }
    .more-btn,
    .hide-btn {
        width: 100px;
        height: 24px;
        border-radius: 4px;
        cursor: pointer;
        text-align: center;
        line-height: 24px;
        margin: 16px auto 0;
    }
    .mini-footer .more-btn {
        background: #7D32EA;
        color: #fff
    }
    .hide-btn {
        border: 1px solid #7D32EA;
        color: #7D32EA;
    }
    .hide-btn .icon-up,
    .more-btn .icon-down {
        width: 16px;
        height: 16px;
        display: inline-block;
    }
    .hide-btn .icon-up {
        background-image: url(../img/video/icon-up.svg);
        margin: 0 0 -5px 3px;
    }
    .more-btn .icon-down {
        background-image: url(../img/video/icon-down.svg);
        margin: 0 0 -3px 3px;
    }
    .outline-box {
        min-width: unset;
        margin: 0 0 16px 0;
    }
    .mini-footer {
        height: unset;
        padding: 24px 22px;
    }
    .sys-footer {
        height: unset;
    }
    .sys-footer p {
        margin: 0;
    }
    .outline-head {
        margin-right: 0;
        height: unset;
    }
    .outline-card p:first-child {
        margin: 0;
    }
    .outline-box.empty {
        justify-content: center;
        margin: 0 0 16px 0;
    }
    .visible-card {
        margin: 8px 0 0;
        line-height: 24px;
    }
    .outline-head.high-light {
        background: #7D32EA;
        color: #fff;
    }
    .high-light .outline-num {
        color: #fff;
        border: 2px solid #fff;
    }
    .card-period {
        display: inline-block;
        width: 16px;
        height: 16px;
        background: url("/img/training/period.svg");
    }
    .high-light .card-period {
        background: url("/img/training/periodW.svg");
    }
}
.discount-limited {
    position: fixed;
    bottom: 600px;
    left: 200px;
}
.dis-box {
    position: relative;
}
.discount-info {
    width: 415px;
    height: 551px;
    padding: 48px 60px;
    position: absolute;
    top: 44px;
    left: 88px;
    z-index: -1;
    background: url("/img/training/event-bg.png");
    display: none;
}
.discount-limited:hover img {
    cursor: pointer;
}
.discount-limited:hover .discount-info {
    display: block;
}
.discount-info h5 {
    font-size: 16px;
    line-height: 24px;
    color: #000;
}
.discount-info .price {
    width: 240px;
    height: 88px;
    border: 1px solid #7D32EA;
    border-radius: 4px;
    padding: 16px;
}
.price {
    background: #fff;
    margin-top: 14px;
}
.exam-price {

    margin: 8px 0px 13px 50px;
}
.price p {
    font-size: 14px;
    color: #4d4d4d;
    letter-spacing: 1px;
}
.price .line-through {
    text-decoration: line-through;
}
.price .title {
    font-size: 16px;
    line-height: 24px;
    color: #000;
}
.price .discount {
    font-size: 16px;
    line-height: 32px;
    color: #f07a06;
}
.price .big-font {
    font-size: 32px;
    font-weight: 600;
}
.sign-up p {
    margin-bottom: 8px;
}
.sign-up {
    margin-bottom: 16px;
}
.des-title {
    color: #000;
}
.teacher {
    text-align: center;
    color: #000;
    line-height: 24px;
    border-top: 1px dashed #7D32EA;
    padding: 7px 0;
}
.teacher p {
    margin: 4px 0;
}
.teacher:last-child {
    border-bottom: 1px dashed #7D32EA;
}
@media screen and (max-width: 1820px) {
    .fixed-nav {
        display: none;
    }
}
@media (max-width: 1000px) {
    .discount-limited {
        bottom: 0;
        left: -20px;
    }
    .discount-info {
        display: none;
        top: -530px;
        left: 2px;
        z-index: 2;
    }
    .discount-limited:hover .discount-info {
        display: none;
    }
    .discount-limited.active .discount-info {
        display: block;
    }
    .discount-limited.active .masker {
        display: block;
    }
    .masker {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        z-index: 1;
        background: rgba(0, 0, 0, 0.3);
    }

}
