.support-tools {
    display: flex;
    margin-bottom: 60px;
}
.support-head img{
    height: 100%;
    margin-bottom: 60px;
 }
.support-head h2{
    font-size: 32px;
    line-height: 32px;
    text-align: center;
    font-weight: normal;
    margin-bottom: 32px;
}
.support-head p {
    margin-bottom: 24px;
    line-height: 32px;
}
.left-tools {
    box-shadow: 0px 12px 32px 0px rgba(190, 196, 204, 0.2);
    padding: 20px 20px;
    margin-right: 25px;
    position: sticky;
    top: 60px;
    height: fit-content;
    width: 250px;
}
.left-tools div {
    width: 210px;
    padding:20px 0;
    position: relative;
    display: grid;
    grid-template-columns: 24px auto;
    gap: 8px;
    line-height: 24px;
    align-items: center;
}
.left-tools div a {
    color: #000;
    flex: 1;
    font-size: 18px;
}
.left-tools div a:hover,
.left-tools div a:visited,
.left-tools div a:link {
    color: #000;
    text-decoration: none;
}
a:link {
    text-decoration: none;
}
.left-tools .active::after {
    content: "";
    width: 1px;
    height: 64px;
    background: #7D32EA;
    position: absolute;
    left: -21px;
    top: 0;
    transition: all .3s;
}
 
.right-tools{
  flex: 1;
}
.tool-item {
    padding: 24px;
    box-shadow: 0px 12px 32px 0px rgba(190, 196, 204, 0.2);
    margin-bottom: 24px;
    width: 920px;
    background: url(../img/userPractice/item-bg.png) no-repeat top right;
}
.item-title {
    font-size: 24px;
    color: #000000;
    line-height: 48px;
    padding-bottom: 16px;
    border-bottom: 1px solid #E4E6ED;
    display: flex;
    align-items: contain;
}
.item-title i,.left-tools i{
  width: 48px;
  height: 48px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 16px;
}
.left-tools i{
  width: 24px;
  height: 24px;
  margin-right: 8px;
}
.item-title i.isv,.left-tools .isv{
  background-image: url(../img/userPractice/isv.png)
}
.item-title i.dbv,.left-tools .dbv{
  background-image: url(../img/userPractice/dbv.png)
}
.item-title i.industrial,.left-tools .industrial{
  background-image: url(../img/userPractice/industrial.png)
}
.item-title i.finance,.left-tools .finance{
  background-image: url(../img/userPractice/finance.png)
}
.item-title i.developer,.left-tools .developer{
  background-image: url(../img/userPractice/developer.png)
}
.item-title i.other,.left-tools .other{
  background-image: url(../img/userPractice/other.png)
}
.item-title i.carriers,.left-tools .carriers{
  background-image: url(../img/userPractice/carriers.png)
}
.item-title i.energy,.left-tools .energy{
  background-image: url(../img/userPractice/energy.png)
}
.item-title i.safecity,.left-tools .safecity{
  background-image: url(../img/userPractice/safecity.png)
}
.item-title i.transportation,.left-tools .transportation{
  background-image: url(../img/userPractice/transportation.png)
}
.item-title i.oilgas,.left-tools .oilgas{
  background-image: url(../img/userPractice/oilgas.png)
}
.item-title i.science,.left-tools .science{
  background-image: url(../img/userPractice/science.png)
}
.item-title i.government,.left-tools .government{
  background-image: url(../img/userPractice/government.png)
}
.item-title i.education,.left-tools .education{
  background-image: url(../img/userPractice/education.png)
}

.isH5 .item-title i{
  width: 24px;
  height: 24px;
  margin-right: 8px;
}
.item-box { 
    font-size: 14px;
    color: #000000;
    margin:24px 0 0;
}
.item-box:nth-child(3n) {
    margin-right: 0;
}
.item-box p {
    margin-top:8px;
    font-size: 14px;
    line-height: 24px;
}
.item-box .item-name {
    font-size: 18px;
    color: #7D32EA;
    font-weight: 400;
    margin: 0;
}
.item-box .item-name a{
  color: #7D32EA;
}
.item-box .item-desc {
    color: #4d4d4d;
}
.item-desc a{  
  color: #7D32EA;
}
.item-link a:first-child {
    margin-right: 25px;
}


.questionnaire {
  position: fixed;
  right: 10%;
  bottom: 350px;
}
.ques-icon {
  position: relative;
}
.ques-icon img {
  z-index: 1;
  width: 80px;
}

.ques-info {
  display: none;
  width: 232px;
  height: 290px;
  color: #fff;
  background: url("/img/userPractice/tipsa-bg.png") no-repeat;
  background-size: cover;
  padding: 40px 24px;
  position: absolute;
  top: 21px;
  left: -172px;
  z-index: -1;
}
.ques-icon:hover .ques-info {
  display: block;
}
.ques-info p {
  font-size: 12px;
  line-height: 18px;
}
.ques-info .letter-2 {
  text-indent: 2em;
}
.ques-info .btn-jump {
  width: 96px;
  height: 32px;
  background: #25D3E7;
  line-height: 32px;
  margin: 16px auto ;
  text-align: center;
  color:#fff !important;
  display: block;
  box-shadow: 0px 9px 16px 0px rgba(62, 12, 132, 0.5);
}
.ques-card {
  display: block;
  color: #fff;
}
.ques-card:hover {
  color: #fff;
}
.ques-info p a{
  color:#25D3E7
}

@media screen and (max-width: 1000px){
    .support-tools {
        display: none;
    }
    .support-head img{
        height: 175px;
    }
    .support-head h2{
        font-size: 24px;
    }
    .tool-item {
        width: 100%;
        background: none;
        box-shadow:none;
        margin-bottom: 0;
        padding: 0;
    }
    .h5-support{
        padding: 28px 0 0;
    }
    .h5-support a {
        color: #7D32EA;
    }
    .h5-support a:hover,
    .h5-support a:visited {
        text-decoration: none;
        color: #7D32EA;
    }
    .item-box{
      padding-left: 40px;
      margin:16px 0;
    }
    .item-box:last-child {
        border-bottom: none;
    }
   .item-title{
       font-size: 18px; 
       padding: 16px 0;
       padding-left: 40px;
       display: flex;
       justify-content: space-between;
       line-height: 24px;
   }
   .item-title p{
    display: flex; 
    align-items: center;
   }
   .item-title img {
    margin-right: 30px;
  }
  .item-box .item-name{
    font-size: 14px;
    line-height: 22px;
  }
}