#heading-breadcrumbs .isPc {
    background-size: contain !important;
}
#video-box .video-content .video-title h3{
    font-size: 24px;
    font-weight: normal;
    color: #000000;
    line-height: 32px;
}
#content {
    padding-bottom: 100px;
}
#content>.container {
    width: 1140px;
    padding: 0;
}
.row {
    margin: 0;
}
.col-md-12 {
    padding: 0;
}
#video-box .video-content .video-title {
    margin-bottom: 40px;
}
#video-box .video-content {
    margin-bottom: 50px;
}
#video-box .video-content .video-list .list-box{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
}
#video-box .video-content .video-list .list-box .video-msg {
    margin: 0 60px 40px 0;
    width: 240px;
    height: 218px;
    background: #FFFFFF;
    box-shadow: 0px 6px 30px 0px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    cursor: pointer;
}
#video-box .video-content .video-list .list-box .video-msg:nth-of-type(4n) {
    margin-right: 0;
}
#video-box .video-content .video-list .list-box .video-msg img {
    display: block;
    width: 240px;
    height: 150px;
}
#video-box .video-content .video-list .list-box .video-msg p {
    color: #000000;
    line-height: 24px;
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
#video-box .video-content .video-list .list-box .video-msg .mobile-title {
    display: none;
}
#video-box .video-content .video-list .more-btn,#video-box .video-content .video-list .hide-btn {
    width: 100px;
    height: 24px;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 508px;
}
#video-box .video-content .video-list .more-btn {
    background: #7D32EA;
}
#video-box .video-content .video-list .hide-btn {
    border: 1px solid #7D32EA;
}
#video-box .video-content .video-list .more-btn p,#video-box .video-content .video-list .hide-btn p {
    text-align: center;
    line-height: 24px;
}
#video-box .video-content .video-list .more-btn span,#video-box .video-content .video-list .hide-btn span {
    font-size: 12px;
    line-height: 23px;
}
#video-box .video-content .video-list .more-btn span {
    color: #FFFFFF;
}
#video-box .video-content .video-list .hide-btn span {
    color: #7D32EA;
}
#video-box .video-content .video-list .hide-btn .icon-up,#video-box .video-content .video-list .more-btn .icon-down {
    width: 16px;
    height: 16px;
    display: inline-block;
}
#video-box .video-content .video-list .hide-btn .icon-up {
    background-image: url(../img/video/icon-up.svg);
    margin: 0 0 -5px 3px;
}
#video-box .video-content .video-list .more-btn .icon-down {
    background-image: url(../img/video/icon-down.svg);
    margin: 0 0 -3px 3px;
}
#video-box .video-content[index="database"] {
    margin-bottom: 0;
}
#video-detail {
    width: 1140px;
    margin: 40px auto;
}
#video-detail a {
    font-size: 24px;
    font-weight: normal;
    color: #7D32EA;
    line-height: 32px;
}
#video-detail h1 {
    margin: 20px 0;
    font-size: 32px;
    color: #000000;
    line-height: 40px;
    font-weight: normal;
}
#video-detail .video-date i,#video-detail .video-style i {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 0 10px -3px 0;
}
#video-detail .video-date span,#video-detail .video-style span {
    font-size: 14px;
    color: #4D4D4D;
    line-height: 32px;
}
#video-detail .video-date,#video-detail .video-style {
    display: inline-block;
}
#video-detail .video-date {
    margin-right: 40px;
}
#video-detail .video-date i {
    background-image: url(../img/video/video-date.svg);
}
#video-detail .video-style i {
    background-image: url(../img/video/video-tag.svg);
}
#video-box .video-content .video-list .list-box .video-msg .title-box {
    display: flex;
    align-items: center;
    width: 220px;
    height: 48px;
    margin: 10px auto 10px auto;
}
.container>.video_detail:focus,.container:focus,#content,#my-video {
    outline: 0;
}
@media screen and (max-width: 1000px) {
    #content {
        padding-bottom: 60px;
    }
    #content>.container {
        width: 100%;
    }
    .row {
        margin: 0;
    }
    #video-box .video-content .video-list .list-box .video-msg .web-title{
        display: none;
    }
    #video-box .video-content .video-list .list-box .video-msg .mobile-title {
        display: block;
    }
    #video-box .video-content {
        margin-bottom: 60px;
    }
    #video-box .video-content {
        width: 100%;
    }
    #video-box .video-content .video-title h3{
        font-size: 18px;
        line-height: 24px;
        text-align: center;
    }
    #video-box .video-content .video-list .list-box{
        width: 345px;
        margin: 0 auto;
    }
    #video-box .video-content .video-list .list-box .video-msg {
        margin: 0 25px 30px 0;
        width: 160px;
        height: 146px;
    }
    #video-box .video-content .video-list .list-box .video-msg:nth-of-type(2n) {
        margin-right: 0;
    }
    #video-box .video-content .video-list .list-box .video-msg img {
        width: 160px;
        height: 100px;
    }
    #video-box .video-content .video-list .list-box .video-msg .title-box {
        width: 146px;
        height: 44px;
        margin: 1px auto;
    }
    #video-box .video-content .video-list .list-box .video-msg p {  
        font-size: 10px;
        line-height: 18px;
    }
    #video-box .video-content .video-list .more-btn,#video-box .video-content .video-list .hide-btn {
        margin: 0 auto;
    }
    #video-detail {
        width: 100%;
        padding: 15px;
    }
    #video-detail h1,#video-detail a{  
        font-size: 24px;
        line-height: 32px;
        font-weight: normal;
    }
    .container .video_detail #my-video {
        height: 196px;
    }
    #all {
        min-height: 1px;
    }
}

