<div class="banner">
    <div class="swiper-container banner_swiper">
        <div class="swiper-wrapper banner_swiper_wrapper">
            {{ range (where .Data.Pages "Type" "banner") }}
            <div class="swiper-slide banner_swiper_slide">
                {{ if eq .Params.number "2" }} 
                    <a class="banner-body-bg" href={{.Params.link }}>
                        <div class="left-img block" style="background-image: url({{ .Site.BaseURL}}{{ .Params.bgLeft }})"></div> 
                        <div class="center-img isPCshow" style="background-image: url({{ .Site.BaseURL}}{{ .Params.bgUrl }})">
                            <div class="summitInfo">
                                <h2>{{ .Params.title }} </h2>
                                <h3>{{ .Params.info }} </h3>
                                <p class='txt time'>{{ .Params.time }} </p>
                                <p class='txt address'>{{ .Params.address }} </p> 
                            </div>
                        </div> 
                        <img loading="lazy" class="isH5show" src="{{ .Site.BaseURL}}{{ .Params.mobileUrl }}" alt=""> 
                        <div class="right-img block" style="background-image: url({{ .Site.BaseURL}}{{ .Params.bgRight }})"></div>
                    </a> 
                {{ else }} 
					<a class="banner-body-bg"  href={{.Params.link }}>
						<div class="left-img block" style="background-image: url({{ .Site.BaseURL}}{{ .Params.bgLeft }})"></div>                        
						<div class="center-img isPCshow" style="background-image: url({{ .Site.BaseURL}}{{ .Params.bgUrl }})"></div> 
						<img class="isH5show" src="{{ .Site.BaseURL}}{{ .Params.mobileUrl }}" alt="">                        
						<div class="right-img block" style="background-image: url({{ .Site.BaseURL}}{{ .Params.bgRight }})"></div>
					</a>  
                {{ end }}
                {{ if eq .Params.title_2 "openGauss" }}  
                    <div id="video-player" >
                        <img loading="lazy" class="video-player-btn" src="../img/breadcrumbs/video-player.gif" alt="">
                    </div>
                {{ end }}
            </div>
            {{ end }}
        </div>
        <div class="swiper-button-prev hide"></div>
        <div class="swiper-button-next hide"></div>
        <div class="swiper-pagination banner_swiper_pagination"></div>
    </div>
</div>
<div class='video-container video-remove hidding'>
    <div class='video-mask'></div>
    <div class="video-alert video-center">
        <video class="home-banner-video" width="100%" controls autoplay>
        </video>
    </div>
</div>
<div class="banner_intro isH5show">
    {{ range (where .Data.Pages "Type" "banner") }}
    {{ if eq .Params.number "1" }}
    <h1>{{ .Params.title_1 }}<span>{{ .Params.title_2 }}</span>{{ .Params.title_3 }}</h1>
    <h4>{{ .Params.info }}</h4>
    <div class="banner_btn">
        <a href="{{ i18n "main_docs_url" }}">{{ i18n "main_quickStart_title" }}</a>
    </div>
    {{ end }}
    {{ end }}
</div>
