<div class="banner">
    <h2 class="banner_title">
        {{ i18n "banner_title_one" }}
        <span>{{ i18n "banner_title_two" }}</span>
        {{ i18n "banner_title_three" }}
    </h2>
    <div class="banner_intro">
        <span>openGauss</span>
        {{ i18n "banner_intro" }}
    </div>
    <div class="banner_btn">
        <a href="{{ i18n "main_download_url" }}">{{ i18n "download_title" }}</a>
        <a href="{{ i18n "main_docs_url" }}">{{ i18n "main_quickStart_title" }}</a>
    </div>
</div>
