<div class="banner">
    <div class="swiper-container banner_swiper">
        <div class="swiper-wrapper banner_swiper_wrapper">
            {{ range (where .Data.Pages "Type" "banner") }}
            <div class="swiper-slide banner_swiper_slide">
                {{ if eq .Params.number "3" }}
                    <a href="{{ i18n "connect_url" }}" target="_blank">
                        <img src="{{ .Site.BaseURL}}{{ .Params.bgUrl }}">
                    </a>
                {{ else }}
                <img src="{{ .Site.BaseURL}}{{ .Params.bgUrl }}">
                {{ end }}

                <div class="banner_content">
                    <h1>{{ .Title }}</h1>
                    <h4>{{ .Params.info }}</h4>
                    {{ if eq .Params.number "1" }}
                        <div class="banner_btn">
                            <a href="{{ i18n "main_download_url" }}">{{ i18n "download_title" }}</a>
                            <a href="{{ i18n "main_docs_url" }}">{{ i18n "main_quickStart_title" }}</a>
                        </div>
                    {{ else if eq .Params.number "2" }}
                        <div class="banner_btn banner_btn_two">
                            <a href="{{ i18n "events_detail_url" }}">{{ i18n "look_back" }}</a>
                        </div>
                    {{ end }}
                </div>  
            </div>
            {{ end }}
        </div>
        
        <div class="swiper-pagination banner_swiper_pagination"></div>        
    </div>

</div>
