<div id="heading-breadcrumbs">
    <div class="container isPc"  style="background: url({{ .Params.bgImg }}); background-size: 1140px auto">
        <div class="row">
            <div class="col-md-12">
                {{ if .Params.author }}
                <h1 class="detailTitle">{{ .Title }}</h1>
                {{ else }}
                <h1>{{ .Title }}</h1>
                {{ end }}
            </div>
        </div>
    </div>
    <div class="container isH5">
        <div class="row">
            <div class="col-md-12">
                {{ if .Params.author }}
                <h1 class="detailTitle">{{ .Title }}</h1>
                {{ else }}
                <h1>{{ .Title }}</h1>
                {{ end }}
                <img src="{{ .Params.moImg }}" alt="">
            </div>
        </div>
    </div>
</div>
