<div id="meetings">

<div class="calendar-meeting hide">
    <div class="content sig-select">
        <select name="" id="id-select-sigs" class="form-control">
            <option value="All">{{ i18n "meeting_all_sigs"}}</option>
        </select>
    </div>
    <div class="calendar">
        <div class="content">
            <div class="cal-time cal-detail">
                <p class="js-up-btn up-btn cursor"><img src="/img/calendar/btn.svg" alt="up-btn"></p>
                <p class="js-down-btn down-btn cursor"><img src="/img/calendar/btn.svg" alt="down-btn"></p>
                <p class="det-title js-reserve-meeting cursor">
                    <img src="/img/calendar/date.png" alt="date">
                    {{ i18n "meeting_book_title"}}
                </p>
                <div class="time-box">
                    <div class="time-swiper"></div>
                </div>
            </div>
            <div class="cal-meeting js-meeting-data">
                <p class="js-left-btn left-btn cursor"><img src="/img/calendar/btn.svg" alt="left-btn"></p>
                <p class="js-right-btn right-btn cursor"><img src="/img/calendar/btn.svg" alt="right-btn"></p>
                <div class="visible-box">
                    <div class="cal-day js-meet-day"></div>
                    <div class="cal-content">
                        <div class="cal-schedule js-schedule-content"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="meeting-detail">
        <div class="content">
            <div class="cal-content-detail hide">
            <div class="detail-item">
                    <img class="js-close-detail cursor" src="/img/calendar/close.svg" alt="close">
                    <div class="js-check-meeting">
                        <div class="js-meeting-content hide"></div>
                        <div class="js-reverse-content hide">
                            <h4>{{ i18n "meeting_book_title"}}</h4>
                            <form>
                                <ul>
                                    <li>{{ i18n "meeting_reverse"}}<span class="red"> * </span></li>
                                    <li><input type="text" value="" id="id-meeting-name" maxlength="50" required placeholder=" {{ i18n "meeting_hoder_name"}}"></li>
                                </ul>
                                <ul>
                                    <li>{{ i18n "meeting_creator"}}<span class="red"> * </span></li>
                                    <li><input type="text" value="" required disabled id="id-meeting-creator"></li>
                                </ul>
                                <ul>
                                    <li>{{ i18n "meeting_sig"}}<span class="red"> * </span></li>
                                    <li>
                                        <select name="" id="id-meeting-sig" required class="form-control"></select>
                                    </li>
                                </ul>
                                <ul>
                                    <li>{{ i18n "meeting_day"}}<span class="red"> * </span></li>
                                    <li><input type="text" class="mt10px input" required id="J-demo-01" placeholder="{{ i18n "meeting_hoder_day"}}"></li>
                                </ul>
                                <ul>
                                    <li>{{ i18n "meeting_time"}}<span class="red"> * </span></li>
                                    <li>
                                        <div class="js-time-picker time-picker">
                                            <div class="time-selector">
                                                <div class="mycontainer">
                                                    <input type="text" placeholder="{{ i18n "meeting_hoder_start"}}" id="time-start" required>
                                                </div> -
                                                <div class="mycontainer">
                                                    <input type="text" placeholder="{{ i18n "meeting_hoder_end"}}" id="time-end" required>
                                                </div>
                                                <span class="js-time-error hide">{{ i18n "meeting_time_error"}}</span>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <ul>
                                    <li>{{ i18n "meeting_content"}}</li>
                                    <li><textarea type="text" id="id-meeting-content" maxlength="50" placeholder="{{ i18n "meeting_hoder_agenda"}}"></textarea></li>
                                </ul>
                                <ul>
                                    <li>{{ i18n "meeting_emailadd"}}</li>
                                    <li>
                                        <textarea type="email" id="id-meeting-email" multiple placeholder="{{ i18n "meeting_hoder_email"}}"></textarea>
                                        <span class="js-email-checked hide">{{ i18n "meeting_error_email"}}</span>
                                    </li>
                                </ul>
                                <ul>
                                    <li>Etherpad</li>
                                    <li><input type="text" value="" id="js-meeting-etherpad" placeholder="{{ i18n "meeting_hoder_etherpad"}}"></li>
                                </ul>
                                <ul>
                                    <li>{{ i18n "meeting_record"}}</li>
                                    <li><img class="js-meeting-record" src="/img/calendar/record-off.png"></li>
                                </ul>
                                <p class="notice-content">
                                    <img src="/img/calendar/notice.png" alt="notice">
                                    {{ i18n "meeting_record_tip"}}
                                </p>
                                <p class="notice-req"><span class="red"> * </span>  {{ i18n "meeting_require_tip"}}</p>
                                <div class="reverse-submit">
                                    <p class="date-reset cursor">{{ i18n "meeting_reset"}}</p>
                                    <p class="date-submit">{{ i18n "meeting_book"}}</p>
                                </div>
                            </form>

                        </div>
                        <div class="js-no-login notice-card hide">
                            <h4>{{ i18n "meeting_login_tip"}}</h4>
                            <p>{{ i18n "meeting_login_info"}}</p>
                            <p class="meeting-login cursor"><img src="/img/calendar/gitee.png" alt="gitee">{{ i18n "meeting_login_gitee"}}</p>
                            <p class="login-privacy">{{ i18n "meeting_login_agree"}}<a href="{{ i18n "cookie_description_link"}}" target="_blank">{{ i18n "meeting_login_privacy"}}</a></p>
                        </div>
                        <div class="js-no-authority notice-card hide">
                            <h4>{{ i18n "meeting_permission"}}</h4>
                            <img src="/img/calendar/no-authority.png" alt="no-authority">
                            <p class="fail-info">{{ i18n "meeting_permission_tip"}}</p>
                        </div>
                        <div class="js-no-edit notice-card hide">
                            <h4>{{ i18n "meeting_permission"}}</h4>
                            <img src="/img/calendar/no-authority.png" alt="no-authority">
                            <p>{{ i18n "meeting_edit_tip"}}</p>
                        </div>
                        <div class="js-fail-reverse notice-card hide">
                            <h4>{{ i18n "meeting_book_title"}}</h4>
                            <img src="/img/calendar/no-authority.png" alt="no-authority">
                            <p class="fail-info">{{ i18n "meeting_book_time_fail"}}</p>
                            <p class="js-back-reverse cursor">{{ i18n "meeting_book_back"}}</p>
                        </div>
                        <div class="js-success-reverse notice-card hide">
                            <h4>{{ i18n "meeting_book_title"}}</h4>
                            <img src="/img/calendar/success.png" alt="success">
                            <p>{{ i18n "meeting_book_success"}}</p>
                        </div>
                        <div class="js-delete-check notice-card hide">
                            <h4>{{ i18n "meeting_delete_title"}}</h4>
                            <p>{{ i18n "meeting_delete_tip"}}</p>
                            <div class="reverse-submit">
                                <p class="delete-cancel cursor">{{ i18n "meeting_cancel"}}</p>
                                <p class="delete-confirm cursor">{{ i18n "meeting_delete_sure"}}</p>
                            </div>
                        </div>
                        <div class="js-delete-success notice-card hide">
                            <h4>{{ i18n "meeting_delete_title"}}</h4>
                            <img src="/img/calendar/success.png" alt="success">
                            <p>{{ i18n "meeting_delete_ok"}}</p>
                        </div>
                        <div class="js-modify-success notice-card hide">
                            <h4>{{ i18n "meeting_book_title"}}</h4>
                            <img src="/img/calendar/success.png" alt="success">
                            <p>{{ i18n "meeting_book_success"}}</p>
                            <p class="js-data-check cursor">{{ i18n "meeting_see_meeting"}}</p>
                        </div>
                        <div class="js-fail-modify notice-card hide">
                            <h4>{{ i18n "meeting_book_title"}}</h4>
                            <img src="/img/calendar/no-authority.png" alt="no-authority">
                            <p class="fail-info"></p>
                            <p class="js-back-reverse cursor">{{ i18n "meeting_book_back"}}</p>
                        </div>
                        <div class="js-fail-delete notice-card hide">
                            <h4>{{ i18n "meeting_delete_title"}}</h4>
                            <img src="/img/calendar/no-authority.png" alt="no-authority">
                            <p class="fail-info"></p>
                        </div>
                        <div class="js-error-info notice-card hide">
                            <h4>{{ i18n "meeting_error_info"}}</h4>
                            <img src="/img/calendar/no-authority.png" alt="no-authority">
                            <p class="fail-info"></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cal-content-empty hide">
                <img src="/img/calendar/no-data.png" alt="no-data">
            </div>
        </div>
    </div>
</div>

</div>