<div id="meetings">
{{ $paginator := .Paginate (where .Data.Pages "Type" "page")}}
{{ range $paginator.Pages }}
{{ if .Params.calzoomId}}

<div class="calendar-meeting">
    <div class="content sig-select">
        <select name="" id="id-select-sigs" class="form-control">
            <option value="All">{{ .Params.allsigs }}</option>
        </select>
    </div>
    <div class="calendar">
        <div class="content">
            <div class="cal-time cal-detail">
                <p class="js-up-btn up-btn cursor"><img src="/img/calendar/btn.svg" alt=""></p>
                <p class="js-down-btn down-btn cursor"><img src="/img/calendar/btn.svg" alt=""></p>
                <p class="det-title js-reserve-meeting cursor">
                    <img src="/img/calendar/date.png" alt="">
                    {{ .Params.booktitle }}
                </p>
                <div class="time-box">
                    <div class="time-swiper"></div>
                </div>
            </div>
            <div class="cal-meeting js-meeting-data">
                <p class="js-left-btn left-btn cursor"><img src="/img/calendar/btn.svg" alt=""></p>
                <p class="js-right-btn right-btn cursor"><img src="/img/calendar/btn.svg" alt=""></p>
                <div class="visible-box">
                    <div class="cal-day js-meet-day"></div>
                    <div class="cal-content">
                        <div class="cal-schedule js-schedule-content"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="meeting-detail">
        <div class="content">
            <div class="cal-content-detail hide">
            <div class="detail-item">
                    <img class="js-close-detail cursor" src="/img/calendar/close.svg" alt="">
                    <div class="js-check-meeting">
                        <div class="js-meeting-content hide"></div>
                        <div class="js-reverse-content hide">
                            <h4>{{ .Params.booktitle }}</h4>
                            <ul>
                                <li>{{ .Params.reverse }}<span class="red"> * </span></li>
                                <li><input type="text" value="" id="id-meeting-name" placeholder="{{ .Params.hoderName }}"></li>
                            </ul>
                            <ul>
                                <li>{{ .Params.creator }}<span class="red"> * </span></li>
                                <li><input type="text" value="" disabled id="id-meeting-creator"></li>
                            </ul>
                            <ul>
                                <li>{{ .Params.sig }}<span class="red"> * </span></li>
                                <li>
                                    <select name="" id="id-meeting-sig"  class="form-control"></select>
                                </li>
                            </ul>
                            <ul>
                                <li>{{ .Params.day }}<span class="red"> * </span></li>
                                <li><input type="text" class="mt10px input" id="J-demo-01" placeholder="{{ .Params.hoderday }}"></li>
                            </ul>
                            <ul>
                                <li>{{ .Params.time }}<span class="red"> * </span></li>
                                <li>
                                    <div class="js-time-picker time-picker">
                                        <div class="time-selector">
                                            <div class="mycontainer">
                                                <input type="text" placeholder="请选择时间" id="time-start">
                                            </div> -
                                            <div class="mycontainer">
                                                <input type="text" placeholder="请选择时间" id="time-end">
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <ul>
                                <li>{{ .Params.content }}</li>
                                <li><textarea type="text" id="id-meeting-content" placeholder="{{ .Params.hoderagenda }}"></textarea></li>
                            </ul>
                            <ul>
                                <li>{{ .Params.emailadd }}</li>
                                <li><textarea type="text" id="id-meeting-email" placeholder="{{ .Params.hoderemail }}"></textarea></li>
                            </ul>
                            <ul>
                                <li>Etherpad</li>
                                <li><input type="text" value="" id="js-meeting-etherpad" placeholder="{{ .Params.hoderetherpad }}"></li>
                            </ul>
                            <ul>
                                <li>{{ .Params.record }}</li>
                                <li><img class="js-meeting-record" src="/img/calendar/record-off.png"></li>
                            </ul>
                            <p class="notice-content">
                                <img src="/img/calendar/notice.png" alt="">
                                {{ .Params.recordtip }}
                            </p>
                            <p class="notice-req"><span class="red"> * </span>  {{.Params.requiretip}}</p>
                            <div class="reverse-submit">
                                <p class="date-reset cursor">{{ .Params.reset }}</p>
                                <p class="date-submit cursor">{{ .Params.book }}</p>
                            </div>
                        </div>
                        <div class="js-no-login notice-card hide">
                            <h4>{{ .Params.logintip }}</h4>
                            <p>{{ .Params.logininfo }}</p>
                            <p class="meeting-login cursor"><img src="/img/calendar/gitee.png" alt="">{{ .Params.logingitee }}</p>
                            <p class="login-privacy">{{ .Params.loginagree }} <a href="{{ i18n "cookie_description_link"}}" target="_blank">{{ .Params.loginprivacy }}</a></p>
                        </div>
                        <div class="js-no-authority notice-card hide">
                            <h4>{{ .Params.permission }}</h4>
                            <img src="/img/calendar/no-authority.png" alt="">
                            <p>{{ .Params.permissiontip }}</p>
                        </div>
                        <div class="js-no-edit notice-card hide">
                            <h4>{{ .Params.permission }}</h4>
                            <img src="/img/calendar/no-authority.png" alt="">
                            <p>{{ .Params.edittip }}</p>
                        </div>
                        <div class="js-fail-reverse notice-card hide">
                            <h4>{{ .Params.booktitle }}</h4>
                            <img src="/img/calendar/no-authority.png" alt="">
                            <p class="fail-info">{{ .Params.booktimefail }}</p>
                            <p class="js-back-reverse cursor">{{ .Params.bookback }}</p>
                        </div>
                        <div class="js-success-reverse notice-card hide">
                            <h4>{{ .Params.booktitle }}</h4>
                            <img src="/img/calendar/success.png" alt="">
                            <p>{{ .Params.booksuccess }}</p>
                        </div>
                        <div class="js-delete-check notice-card hide">
                            <h4>{{ .Params.deletetitle }}</h4>
                            <p>{{ .Params.deletetip }}</p>
                            <div class="reverse-submit">
                                <p class="delete-cancel cursor">{{ .Params.cancel }}</p>
                                <p class="delete-confirm cursor">{{ .Params.deletesure }}</p>
                            </div>
                        </div>
                        <div class="js-delete-success notice-card hide">
                            <h4>{{ .Params.deletetitle }}</h4>
                            <img src="/img/calendar/success.png" alt="">
                            <p>{{ .Params.deleteok }}</p>
                        </div>
                        <div class="js-modify-success notice-card hide">
                            <h4>{{ .Params.booktitle }}</h4>
                            <img src="/img/calendar/success.png" alt="">
                            <p>{{ .Params.booksuccess }}</p>
                            <p class="js-data-check cursor">{{ .Params.seemeeting }}</p>
                        </div>
                        <div class="js-fail-modify notice-card hide">
                            <h4>{{ .Params.booktitle }}</h4>
                            <img src="/img/calendar/no-authority.png" alt="">
                            <p class="fail-info"></p>
                            <p class="js-back-reverse cursor">{{ .Params.bookback }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cal-content-empty hide">
                <img src="/img/calendar/no-data.png" alt="">
            </div>
        </div>
    </div>
</div>
{{ end }}
{{ end }}
</div>