<div class="community-parters">
    <div class="content">
        <div class="community_partners_title">
            <h3>{{ i18n "main_community-partners-item" }}</h3>
        </div>

        <div class="community-partners-item">
            <div class="row">
                <div class="partners-item col-md-3 col-xs-12">
                    <a href="{{ i18n "openeuler_link" }}" target="_blank">
                        <img loading="lazy" src="/img/comunity_partner/openEuler.png">
                    </a>
                </div>
                <div class="partners-item col-md-3 col-xs-12">
                    <a href="{{ i18n "openlookeng_link" }}" target="_blank">
                        <img loading="lazy" src="/img/comunity_partner/openLooKeng.png">
                    </a>
                </div>
                <div class="partners-item col-md-3 col-xs-12">
                    <a href="{{ i18n "kunpeng_link" }}" target="_blank">
                        <img loading="lazy" src="/img/comunity_partner/kunpeng.png">
                    </a>
                </div>
                <div class="partners-item col-md-3 col-xs-12">
                    <a href="{{ i18n "songshuhui_link" }}" target="_blank">
                    <img loading="lazy" src="/img/comunity_partner/songshuhui.png" alt="Gauss松鼠会">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
