<div class="events_content action_content">
    <div class="content">
        <div class="events_title">
            <div class="title-box">
                <h3>{{ i18n "main_events_title" }}</h3>
            </div>
        </div>

        <div class="isPc">
            <ul>
                {{ $posts := where .Data.Pages "Type" "events" }}
                {{ range first 1 $posts }}
                <li class="events_items">
                    <div class="events_items_left scale_102">
                        <a href="{{ .Params.link }}" target="_blank">
                            <img class="transition_3" src="{{ .Params.img }}">
                        </a>
                    </div>
                    <div class="events_items_right">
                        <a href="{{ .Params.link }}" target="_blank">
                            <h4>{{ .Title }}</h4>
                        </a>
                            <div>
                                <div>
                                    <div class="events_items_date">
                                        <span></span>
                                        {{ .Params.time }}
                                    </div>
                                    <div class="events_items_label location">
                                        <span></span>
                                        {{ .Params.location }}
                                    </div>
                                    <div class="events_items_label">
                                        <span></span>
                                        {{ .Params.tags }}
                                    </div>
                                </div>
                            </div>
                        <div class="see_more">
                            <a class="see_more_btn" href="{{ i18n "main_events_herf" }}">{{ i18n "news_more" }}</a>
                        </div>
                    </div>
                </li>
                {{ end }}
            </ul>
        </div>

        <div class="isH5">
            <ul>
                {{ $posts := where .Data.Pages "Type" "events" }}
                {{ range first 1 $posts }}
                <li class="events_items">
                    <div class="events_items_left scale_102">
                        <a href="{{ .Params.link }}" target="_blank">
                            <img class="transition_3" src="{{ .Params.img }}">
                        </a>                    
                    </div>
                    <div class="events_items_right">
                        <a href="{{ .Params.link }}" target="_blank">
                            <h4>{{ .Title }}</h4>
                            <div>
                                <div>
                                    <div class="events_items_date">
                                        <span></span>
                                        {{ .Params.time }}
                                    </div>
                                    <div class="events_items_label location">
                                        <span></span>
                                        {{ .Params.location }}
                                    </div>
                                    <div class="events_items_label">
                                        <span></span>
                                        {{ .Params.tags }}
                                    </div>
                                </div>
                            </div>
                        </a>
                        <div class="see_more">
                            <a class="see_more_btn" href="{{ i18n "main_events_herf" }}">{{ i18n "news_more" }}</a>
                        </div>
                    </div>
                </li>
                {{ end }}
            </ul>
        </div>

    </div>
</div>
