<div class="content">
    <!-- 特性 -->
    <div class="content_character">
        <div class="content_character_title">
            <h3>{{ i18n "main_characterr_title" }}</h3>
            <p>{{ i18n "main_characterr_info" }}</p>
        </div>
        <!-- <div class="content_character_lists">
            <ul class="content_character_lists_far">
                {{ range .Site.Data.features }}
                <li>
                    <div>
                        <img src="{{ .image }}">
                    </div>
                        
                    <h4>{{ i18n .title }}</h4>
                    <p>{{ i18n .description }}</p>                    
                </li>
                {{ end  }}
            </ul>
        </div> -->
    </div>
</div>