<div class="content">
    <!-- 特性 -->
    <div class="content_character">
        <div class="content_character_title">
            <h3>{{ i18n "main_characterr_title" }}</h3>
            <p>{{ i18n "main_characterr_info" }}</p>
        </div>
        <div class="content_character_lists">
            <ul class="content_character_lists_far">
                {{ range .Site.Data.features }}
                <li>
                    <div>
                        <img loading="lazy" class="img-static isPc" src="{{ .image }}">
                        <img class="img-gif hidding" src="{{ .image_gif }}">
                        <img class="img-gif isH5" src="{{ .image_gif }}">
                    </div>
                        
                    <h4>{{ i18n .title }}</h4>
                    <p>{{ i18n .description }}</p>                    
                </li>
                {{ end  }}

                <li class="download-overview">
                    <a href="{{ i18n "feature_intro_Link"}}" download>
                        <span>{{ i18n "feature_intro_More"}}</span>
                        <span>{{ i18n "feature_intro_Overview"}}</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>