<footer>
    <div class="foot">
        <div class="footer-logo">
            <img src="/img/logo.svg" alt="">
            <p><a class="zh-roboto" href="mailto:{{ .Site.Params.email | safeHTML }}">{{ .Site.Params.email | safeHTML }}</a></p>
        </div>
        <div class="footer-wechat isH5">
            <img src="/img/wechat.png" alt="">
            <p>{{ i18n "footer_wechat"}}</p>
        </div>
        <div class="footer-copyright">
            <p class="footer-link">{{ .Site.Params.copyright.text | safeHTML }}</p>
            <p>{{ .Site.Params.rightText.text | safeHTML }}</p>
        </div>
        <div class="footer-wechat isPc">
            <img src="/img/wechat.png" alt="">
            <p>{{ i18n "footer_wechat"}}</p>
        </div>
    </div>
</footer>
