<div class="table">
    <p>{{ i18n "cla_sel" }}</p>
    <ul id="sel">
        <li>
            <input type="radio" name="cla-type-radio" id="independ" value="0" checked>
            <label for="independ">{{ i18n "cla_type_one" }}</label>
        </li>
        <li>
            <input type="radio" name="cla-type-radio" id="entity" value="1">
            <label for="entity">{{ i18n "cla_type_two" }}</label>
        </li>
    </ul>

    <div id="form">
        <div class="form_one" id="individual-table">
            <p>{{ i18n "cla_explain_one" }}</p>
            <div class="div_one">
                <span><span class="asterisk">*</span>{{ i18n "cla_type_one_name" }}</span>
                <input class="require" type="text" id="individual-name">
            </div>
            <div>
                <span><span class="asterisk">*</span>{{ i18n "cla_type_one_email" }}</span>
                <input class="require" type="text" id="individual-email" placeholder={{ i18n "cla_explain" }}>
            </div>
            <div>
                <span>{{ i18n "cla_type_one_phone" }}</span>
                <input type="text" id="individual-telephone">
            </div>
            <div>
                <span>{{ i18n "cla_type_one_fax" }}</span>
                <input type="text" id="individual-fax">
            </div>
            <div>
                <span><span class="asterisk">*</span>{{ i18n "cla_type_one_address" }}</span>
                <input class="require" type="text" id="individual-address">
            </div>
            <div>
                <span><span class="asterisk">*</span>{{ i18n "cla_type_one_date" }}</span>
                <input class="require" type="text" id="individual-date">
            </div>
        </div>

        <div class="form_two formHide" id="legalentity-table">
            <p>{{ i18n "cla_explain_two" }}</p>
            <div class="div_one">
                <span><span class="asterisk">*</span>{{ i18n "cla_type_two_ambassadorn" }}</span>
                <input class="require" type="text" id="legalentity-name">
            </div>
            <div>
                <span><span class="asterisk">*</span>{{ i18n "cla_type_two_licensor" }}</span>
                <input class="require" type="text">
            </div>
            <div>
                <span><span class="asterisk">*</span>{{ i18n "cla_type_two_post" }}</span>
                <input class="require" type="text" id="legalentity-title">
            </div>
            <div>
                <span><span class="asterisk">*</span>{{ i18n "cla_type_two_company" }}</span>
                <input class="require" type="text" id="legalentity-corporation">
            </div>
            <div>
                <span><span class="asterisk">*</span>{{ i18n "cla_type_two_address" }}</span>
                <input class="require" type="text" id="legalentity-address">
            </div>
            <div>
                <span><span class="asterisk">*</span>{{ i18n "cla_type_two_email" }}</span>
                <input class="require" type="text" id="legalentity-email" placeholder={{ i18n "cla_explain" }}>
            </div>
            <div>
                <span>{{ i18n "cla_type_two_phone" }}</span>
                <input type="text" id="legalentity-telephone">
            </div>
            <div>
                <span>{{ i18n "cla_type_two_fax" }}</span>
                <input type="text" id="legalentity-fax">
            </div>
            <div>
                <span><span class="asterisk">*</span>{{ i18n "cla_type_two_date" }}</span>
                <input class="require" type="text" id="legalentity-date">
            </div>
        </div>
    </div>
    <div class="submit">
        <button class="btn btn btn-template-main" id="sign-cla-button" type="button">{{ i18n "cla_btn_submit" }}</button>
        <button class="btn btn btn-template-main" id="reset-cla-button" type="button">{{ i18n "cla_btn_reset" }}</button>
    </div>
    <div>
        <p id="tip-cla-label"></p>
    </div>
</div>