<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  <link href="{{ "css/minisite.css" | relURL}}?t={{ mul 1000 (time now).Unix }}" rel="stylesheet">

  <body>

  <div class="hdc-banner"></div>

  <div id="hdc-2021">
      <h1>{{ .Params.h1 }}</h1>
      <p>{{ .Params.p1 }}<br>{{ .Params.p2 }}</p>
      <h1>{{ .Params.h2 }}</h1>
      <div class="channel">
          <div class="channel-left">
                  <div class="info-box">
                      <h4>{{.Params.channel1}}</h4>
                      <p>{{.Params.info1}}</p>
                      <img class="isH5" src="/img/hdc2021/mission.svg" alt="">
                      <a href={{.Params.link1}} target="_blank">{{.Params.btn1}}</a>
                  </div>
                  <img class="isPc" src="/img/hdc2021/mission.svg" alt="">
          </div>
          <div class="channel-right">
              <div class="channel-info">
                  <div class="r-top">
                      <div class="info-box">
                          <h4>{{.Params.channel2}}</h4>
                          <p>{{.Params.info2}}</p>
                          <img class="isH5" src="/img/hdc2021/feature.svg" alt="">
                          <p class="btn2">{{.Params.btn2}}
                              <img src="/img/hdc2021/open.svg" alt="">
                          </p>
                      </div>
                      <img class="isPc" src="/img/hdc2021/feature.svg" alt="">
                  </div>
                  <p class="r-ps">{{.Params.ps}}</p>
                  <div class="join-city">
                      {{ range .Params.city}}
                      <a class="city-item" {{if .url}} href={{ .url }} {{end}} target="_blank" style="background: url({{ .img }});">
                          <p>{{ .name }}</p>
                          <p>{{ .open }}</p>
                      </a>
                      {{ end }}
                  </div>
              </div>
          </div>
      </div>
      <h1>{{ .Params.h3 }}</h1>
      <p>{{ .Params.p3 }}</p>
      <div class="hdc-code">
          <img src="/img/hdc2021/code.png" alt="">
      </div>

  </div>
  </body>
</html>

