<!--h5 -->
<div class="isH5 isPad nav_table">
  <!-- 修改到footer  {{ partial "cookie.html" . }} --> 
  <ul class="topbar">
    <li class="search nav-lang-H5">
      {{$curURL:= .RelPermalink}}
      {{$curDir:= substr $curURL 4}}
      {{ range .Site.Menus.main }}
      {{ if eq .Identifier "lang" }}
      {{$newLan := .URL}}
      {{$newPath := (print $newLan "/" $curDir)}}
      <a class="list">{{ .Name }}</a>
      {{ end  }}
      {{ end  }}
      <i></i>
    </li>
    <li class="flex" onclick="getList('menu')" style="position:relative">
      <img src="/img/nav.svg" alt="Navigation">
    </li>
  </ul>
  <a class="navbar-brand home" href="{{ i18n "home_link" }}">
  <img src="{{ .Site.BaseURL }}{{ .Site.Params.logo }}" alt="{{ .Title }} logo" class="hidden-xs hidden-sm">
  <img src="{{ .Site.BaseURL }}{{ .Site.Params.logo_small }}" alt="{{ .Title }} logo" class="visible-xs visible-sm">
  <span class="sr-only">{{ .Title }} - {{ i18n "navHome" }}</span>
  </a>
  <div id="nav">
    <div class="h5-input" id="h5-input">
      <input type="text" class="input-content home-search" placeholder="Search">
      <img  class="fa fa-search"  id="h5-icon-input" src="/img/search-icon.svg" alt="">
    </div>
    {{ range .Site.Menus.main }}
    {{ $currentId:= .Identifier }}
    {{ if ne $currentId "lang" }}
    {{ if .HasChildren }}
    <!--<p class="second_menu" onclick="getList('#second_menu_{{ $currentId }}')">{{ .Name }}</p>
    <div class="menu_list" id="second_menu_{{ $currentId }}">
      {{ range .Children }}
      <a class="list second-nav" href="{{ .URL }}">
        <p>{{ .Name }}</p>
      </a>
      {{ end }}
    </div>-->

    <div class="has-child-box">
      <p class="second_menu" onclick="getList('#second_menu_{{ $currentId }}')">{{ .Name }}</p>
      <div class="menu_list" id="second_menu_{{ $currentId }}">
        {{ range .Children }}
        <a class="list second-nav" href="{{ .URL }}">
          <p>{{ .Name }}</p>
        </a>
        {{ end }}
      </div>
    </div>


    {{ else if or (eq .URL "/zh") (eq .URL "/en")}}
<!--    without home page-->
    {{ else }}
    <a class="list first-nav" href="{{ .URL }}">
      <p>{{ .Name }}</p>
    </a>
    {{ end  }}
    {{ end  }}
    {{ end  }}
  </div>
</div>


<div class="isPc navbar-affixed-top" data-spy="affix" data-offset-top="67">
  <!-- {{ partial "cookie.html" . }} -->
  <div class="navbar navbar-default yamm" role="navigation" id="navbar">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand home" href="{{ i18n "home_link" }}">
          <img src="{{ .Site.BaseURL }}{{ .Site.Params.logo }}" alt="{{ .Title }} logo" class="hidden-xs hidden-sm">
          <img src="{{ .Site.BaseURL }}{{ .Site.Params.logo_small }}" alt="{{ .Title }} logo"
            class="visible-xs visible-sm">
          <span class="sr-only">{{ .Title }} - {{ i18n "navHome" }}</span>
        </a>
        <div class="navbar-buttons">
          <button type="button" class="navbar-toggle btn-template-main" data-toggle="collapse"
            data-target="#navigation">
            <span class="sr-only">{{ i18n "navToggle" }}</span>
            <i class="fa fa-align-justify"></i>
          </button>
        </div>
      </div>
      <!--/.navbar-header -->
      <div class="navbar-collapse collapse" id="navigation">
        <ul class="nav navbar-nav navbar-left">
          {{ $current := . }}
          {{ range .Site.Menus.main }}
          {{ $topLevel := replace .URL "/" "" }}
          {{ $isChildren := false }}
          {{ range .Children }}
          {{ if eq .Identifier $current.Type }}
          {{ $isChildren = true }}
          {{ print }}
          {{ end }}
          {{ end }}
          {{ if ne .Identifier "lang" }}
          <li
            class="dropdown{{ if eq $current.RelPermalink .URL | or $isChildren | or (eq (trim $current.RelPermalink "/") $topLevel) | or (eq $current.Type .Identifier) | or (eq $current.Type $topLevel) | or (and (eq (default (trim .URL "/") .Identifier) "video") (in (slice "taxonomy" "taxonomyTerm") $current.Kind)) }} active{{ end }}">
            {{ if .HasChildren }}
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
              aria-expanded="false">{{ .Name }}</a>
            <ul class="dropdown-menu">
                {{ $item := .Identifier }}
              {{ range .Children }}
              <li>
                <!-- <a {{ if eq .Identifier "blog"}}class="nav-blog-link"{{ end }} href="{{ .URL }}" {{ if eq $item "code" | or $item "datastat" }}target="_blank"{{ end }}>{{ .Name }}</a> -->
                {{ if eq .Identifier "blog" }}
                  <a href="{{ .URL }}" class="nav-blog-link">{{ .Name }}</a>
                {{ else if eq $item "code"}}
                  <a href="{{ .URL }}" target="_blank">{{ .Name }}</a>
                {{ else if eq .Identifier "datastat"}}
                  <a href="{{ .URL }}" target="_blank">{{ .Name }}</a>
                {{ else }}
                  <a href="{{ .URL }}" >{{ .Name }}</a>
                {{ end }}
              </li>
              {{ end }}
            </ul>
            {{ else }}
            {{ if eq .Identifier "blog"}}
            <a href="{{ .URL }}">{{ .Name }}</a>
            {{ else if eq .Identifier "forum"}}
            <a href="{{ .URL }}" target="_blank">{{ .Name }}</a>
            {{ else }}
            <a href="{{ .URL }}">
              {{ if eq .Identifier "join" }}
              <svg class="contact" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 21 16">
                <path d="M10.5,10.5c-0.3,0-0.7-0.1-1.3-0.5L0,5v9.6C0,15.4,0.6,16,1.3,16h18.4c0.7,0,1.3-0.6,1.3-1.4V5
l-9.2,5C11.2,10.4,10.8,10.5,10.5,10.5z M19.7,0H1.3C0.6,0,0,0.6,0,1.3v1L10.5,8L21,2.4v-1C21,0.6,20.4,0,19.7,0z" fill="#ffffff">
                </path>
            </svg>
              {{ end }}
              {{ .Name }}
            </a>
            {{ end }}
            {{ end  }}
          </li>
          {{ end }}
          <!-- {{ if eq .Identifier "lang" }}
          <li style="text-align: center;"
            class=" dropdown{{ if eq $current.RelPermalink .URL | or $isChildren | or (eq (trim $current.RelPermalink "/") $topLevel) | or (eq $current.Type .Identifier) | or (eq $current.Type $topLevel) | or (and (eq (default (trim .URL "/") .Identifier) "blog") (in (slice "taxonomy" "taxonomyTerm") $current.Kind)) }} active{{ end }}">
            <a href="{{ .URL }}">{{ .Name }}</a>
          </li>
          {{ end }} -->
          {{ end }}


          </li>

        </ul>
        <ul class="nav navbar-nav navbar-right">
          {{ range .Site.Menus.main }}
            {{ if eq .Identifier "lang"}}
            <li class="dropdown nav-lang">
              <a href="{{ .URL }}" class="nav-lang-btn">{{ .Name }}</a>
            </li>
            {{end}}
          {{ end }}

          <li class="nav-search">
            <span class="input-group-btn search-icon">
              <img  class="fa fa-search" src="/img/search-icon.svg" alt="">
            </span>
          </li>
        </ul>
        <div class="search" id="search-box">
          <input type="text" class="input-content home-search-pc" placeholder="Search">
          <img  class="fa fa-search" id="search-icon" src="/img/search-icon.svg" alt="">
        </div>
      </div>
      <!--/.nav-collapse -->

      <!--/.nav-collapse -->

    </div>
  </div>
  <!-- /#navbar -->

</div>

<!-- *** NAVBAR END ***-->