<div class="newsDetail">
    {{ if eq .Title "新闻" | or (eq .Title "News") }}
    {{ range .Site.Data.moreNews.news }}
    {{ range $elm := .content }}
    <div class="newsDetail_content">
        <div class="newsDetail_content_left"><img src="{{ $elm.img }}"></div>
        <div class="newsDetail_content_right">
            <h3>{{ $elm.title }}</h3>
            <p class="newsDetail_right_tips">
                <span>{{ $elm.class }}</span>
                <span>{{ $elm.time }}</span>
            </p>
            <p class="newsDetail_right_content">{{ $elm.name }}</p>
            <div class="newsDetail_right_btn">
                <button>查看全文</button>
            </div>
        </div>
    </div>
    {{ end }}
    {{ end }}
    {{ else }}
    <p>222222</p>
    {{ range .Site.Data.moreNews.events }}
    {{ range $elm := .content }}
    <p>{{ $elm.name }}</p>
    {{ end }}
    {{ end }}
    {{ end }}
</div>