<div class="new_content action_content">
    <div class="content">
        <div class="new_title">
            <h3>{{ i18n "main_news_title" }}</h3>
        </div>
        <div class="isPc">
            <ul>
                {{ $posts := where .Data.Pages "Type" "news" }}
                {{ range first 2 $posts }}
                <li class="news_items scale_102">                
                    <div>
                        <a href="{{ .URL }}">
                            <img class="transition_3" src="{{ .Site.BaseURL}}{{ .Params.banner }}">
    
                            <div class="news_items_Plate">
                                <h4>{{ .Title }}</h4>
                                <p>{{ .Params.summary }}</p>
                            </div>
                        </a>                    
                    </div>                
                </li>
                {{ end }}
            </ul>
        </div>
        <div class="isH5">
            <ul>
                {{ $posts := where .Data.Pages "Type" "news" }}
                {{ range first 2 $posts }}
                <li class="news_items scale_102">                
                    <div>
                        <a href="{{ .URL }}">
                            <img class="transition_3" src="{{ .Site.BaseURL}}{{ .Params.banner }}">
    
                            <div class="news_items_Plate">
                                <h4>{{ .Title }}</h4>
                                <p>{{ .Params.summary }}</p>
                            </div>
                        </a>                    
                    </div>                
                </li>
                {{ end }}
            </ul>
        </div>
        <div class="see_more">
            <a class="see_more_btn" href="{{ i18n "main_news_herf" }}">{{ i18n "news_more" }}</a>
        </div>
    </div>
</div>
