<div class="warp">
    <div class="news">
        {{ range .Site.Data.news }}
        <div class="new_content">
            <ul>
                <li class="new_title">
                    <div>
                        <span>{{ i18n .title }}</span>
                        <a href="{{ i18n .herf }}">{{ i18n .more }} &gt;</a>
                    </div>
                </li>
                {{ range $elm := .content }}
                {{ if $elm.url }}
                <li class="news_bg">
                    <div>
                        {{ i18n $elm.plate }}
                        <span>|</span>
                        {{ $elm.time }}
                    </div>
                    <a href="#"><p>{{ $elm.name }}</p></a>
                </li>
                {{ else }}
                <li>
                    <div>
                        {{ i18n $elm.plate }}
                        <span>|</span>
                        {{ $elm.time }}
                    </div>
                    <a href="#"><p>{{ i18n $elm.name }}</p></a>
                </li>
                {{ end }}
                {{ end }}
            </ul>
            
        </div>
        {{  end }}
    </div>
</div>