<div class="partner-ship organization">
    <div class="content">
        <div class="partner-ship_title">
            <h3>{{ i18n "main_organization_title" }}</h3>
        </div>

        <div class="partner-ship-content">
            <div class="four-a-line">
                <div class="ship-item col-md-3 col-xs-12">
                    <a target="_blank">
                        <img loading="lazy" src="/img/home_organization/baolande.png" alt="北京宝兰德软件股份有限公司">
                    </a>
                </div>
                <div class="ship-item col-md-3 col-xs-12">
                    <a target="_blank">
                        <img loading="lazy" src="/img/home_organization/puyuan.png" alt="普元信息技术股份有限公司">
                    </a>
                </div>
                <div class="ship-item col-md-3 col-xs-12">
                    <a target="_blank">
                        <img loading="lazy" src="/img/home_organization/borui.png" alt="威讯柏睿数据科技（北京）有限公司">
                    </a>
                </div>
                <div class="ship-item col-md-3 col-xs-12">
                    <a target="_blank">
                        <img loading="lazy" src="/img/home_organization/kuailifang.png" alt="北京快立方科技有限公司">
                    </a>
                </div>
            </div>
            <div class="four-a-line">
                <div class="ship-item col-md-3 col-xs-12">
                    <a target="_blank">
                        <img loading="lazy" src="/img/home_organization/chaotu.png" alt="北京超图软件股份有限公司">
                    </a>
                </div>
                <div class="ship-item col-md-3 col-xs-12">
                    <a target="_blank">
                        <img loading="lazy" src="/img/home_organization/tianyiyun.png" alt="中国电信股份有限公司云计算分公司">
                    </a>
                </div>
                <div class="ship-item col-md-3 col-xs-12">
                    <a target="_blank">
                        <img loading="lazy" src="/img/home_organization/youxuan.png" alt="北京优炫软件股份有限公司">
                    </a>
                </div>
                <div class="ship-item col-md-3 col-xs-12">
                    <a target="_blank">
                        <img loading="lazy" src="/img/home_organization/shenxinfu.png" alt="深信服科技股份有限公司">
                    </a>
                </div>
            </div>
            <div class="js-organ-loadup h5-hide">
                <div class="four-a-line"> 
                    <div class="ship-item col-md-6 col-xs-12">
                        <a target="_blank">
                            <img loading="lazy" src="/img/home_organization/dongfangtong.png" alt="北京东方通科技股份有限公司">
                        </a>
                    </div>
                    <div class="ship-item col-md-3 col-xs-12">
                        <a target="_blank">
                            <img loading="lazy" src="/img/home_organization/yunheenmo.png" alt="云和恩墨（北京）信息技术有限公司">
                        </a>
                    </div>
                    <div class="ship-item col-md-3 col-xs-12">
                        <a target="_blank">
                            <img loading="lazy" src="/img/home_organization/hailiangshuju.png" alt="北京海量数据技术股份有限公司">
                        </a>
                    </div>
                </div>
                <div class="four-a-line">
                    
                    <div class="ship-item col-md-3 col-xs-12">
                        <a target="_blank">
                            <img loading="lazy" src="/img/home_organization/zhongruan.png" alt="中软国际科技服务有限公司">
                        </a>
                    </div>
                    <div class="ship-item col-md-3 col-xs-12">
                        <a target="_blank">
                            <img loading="lazy" src="/img/home_organization/xinshukeji.png" alt="北京新数科技有限公司">
                        </a>
                    </div>
                    <div class="ship-item col-md-3 col-xs-12">
                        <a target="_blank">
                            <img loading="lazy" src="/img/home_organization/xinghuo.png" alt="深圳市星火电子工程公司">
                        </a>
                    </div>
                    <div class="ship-item col-md-3 col-xs-12">
                        <a target="_blank">
                            <img loading="lazy" src="/img/home_organization/xuguweiye.png" alt="成都虚谷伟业科技有限公司">
                        </a>
                    </div>
                </div>
                <div class="four-a-line">
                   
                    <div class="ship-item col-md-3 col-xs-12">
                        <a target="_blank">
                            <img loading="lazy" src="/img/home_organization/huashengtiancheng.png" alt="北京华胜天成科技股份有限公司">
                        </a>
                    </div>
                    <div class="ship-item col-md-3 col-xs-12">
                        <a target="_blank">
                            <img loading="lazy" src="/img/home_organization/shenzhou.png" alt="天津神舟通用数据技术有限公司">
                        </a>
                    </div>
                    <div class="ship-item col-md-3 col-xs-12">
                        <a target="_blank">
                            <img loading="lazy" src="/img/home_organization/zhongxing.png" alt="中星微技术股份有限公司">
                        </a>
                    </div>
                    <div class="ship-item col-md-3 col-xs-12">
                        <a target="_blank">
                            <img loading="lazy" src="/img/home_organization/xianjinshutong.png" alt="北京先进数通信息技术股份公司">
                        </a>
                    </div>
                </div>
                <div class="four-a-line">
                    
                    <div class="ship-item col-md-3 col-xs-12">
                        <a target="_blank">
                            <img loading="lazy" src="/img/home_organization/weihu.png" alt="北京维乎科技有限公司">
                        </a>
                    </div>
                    <div class="ship-item col-md-3 col-xs-12">
                        <a target="_blank">
                            <img loading="lazy" src="/img/home_organization/tianji.png" alt="上海天玑数据技术有限公司">
                        </a>
                    </div>
                    <div class="ship-item col-md-3 col-xs-12">
                        <a target="_blank">
                            <img loading="lazy" src="/img/home_organization/yueneng.png" alt="北京岳能科技股份有限公司">
                        </a>
                    </div>
                    <div class="ship-item col-md-3 col-xs-12">
                        <a target="_blank">
                            <img loading="lazy" src="/img/home_organization/weiyou.png" alt="南京唯优信息技术有限公司">
                        </a>
                    </div>
                </div>
                <div class="four-a-line">
                    
                    <div class="ship-item col-md-3 col-xs-12">
                        <a target="_blank">
                            <img loading="lazy" src="/img/home_organization/dingjia.png" alt="广州鼎甲计算机科技有限公司">
                        </a>
                    </div>
                    <div class="ship-item col-md-3 col-xs-12">
                        <a target="_blank">
                            <img loading="lazy" src="/img/home_organization/beiming.png" alt="北明软件有限公司">
                        </a>
                    </div>
                    <div class="ship-item col-md-3 col-xs-12">
                        <a target="_blank">
                            <img loading="lazy" src="/img/home_organization/rendajincang.png" alt="北京人大金仓信息技术股份有限公司">
                        </a>
                    </div>
                    <div class="ship-item col-md-3 col-xs-12">
                        <a target="_blank">
                            <img loading="lazy" src="/img/home_organization/runhe.png" alt="江苏润和软件股份有限公司">
                        </a>
                    </div>
                </div>
                <div class="four-a-line">
                    
                    <div class="ship-item col-md-3 col-xs-12">
                        <a target="_blank">
                            <img loading="lazy" src="/img/home_organization/neusoft.png" alt="东软集团股份有限公司">
                        </a>
                    </div>
                    <div class="ship-item col-md-3 col-xs-12">
                        <a target="_blank">
                            <img loading="lazy" src="/img/home_organization/mashang.png" alt="马上消费金融股份有限公司">
                        </a>
                    </div>
                    <div class="ship-item col-md-6 col-xs-12">
                        <a target="_blank">
                            <img loading="lazy" src="/img/home_organization/ruantong.png" alt="软通动力信息技术（集团）股份有限公司">
                        </a>
                    </div>
                </div>
                <div class="four-a-line">
                   
                    <div class="ship-item col-md-3 col-xs-12">
                        <a target="_blank">
                            <img loading="lazy" src="/img/home_organization/woqu.png" alt="杭州沃趣科技股份有限公司">
                        </a>
                    </div>
                    <div class="ship-item col-md-3 col-xs-12">
                        <a target="_blank">
                            <img loading="lazy" src="/img/home_organization/SphereEx.png" alt="SphereEx">
                        </a>
                    </div>
                    <div class="ship-item col-md-3 col-xs-12">
                        <a target="_blank">
                            <img loading="lazy" src="/img/home_organization/isstech.png" alt="软通智慧信息技术有限公司">
                        </a>
                    </div>
                    <div class="ship-item col-md-3 col-xs-12">
                        <a target="_blank">
                            <img loading="lazy" src="/img/home_organization/murong.png" alt="北京沐融信息科技股份有限公司">
                        </a>
                    </div>
                </div>
                <div class="four-a-line">
                    
                    <div class="ship-item col-md-3 col-xs-12">
                        <a target="_blank">
                            <img loading="lazy" src="/img/home_organization/minshengbank.png" alt="中国民生银行">
                        </a>
                    </div>
                    <div class="ship-item col-md-3 col-xs-12">
                        <a target="_blank">
                            <img loading="lazy" src="/img/home_organization/asiainfo.png" alt="亚信科技">
                        </a>
                    </div>
                    <div class="ship-item col-md-3 col-xs-12">
                        <a target="_blank">
                            <img loading="lazy" src="/img/home_organization/xsky.png" alt="星辰天合（北京）数据科技有限公司">
                        </a>
                    </div>
                    <div class="ship-item col-md-3 col-xs-12">
                        <a target="_blank">
                            <img loading="lazy" src="/img/home_organization/hcis.png" alt="上海恒驰信息系统有限公司">
                        </a>
                    </div>
                </div>
                <div class="four-a-line">
                    
                    <div class="ship-item col-md-6 col-xs-12">
                        <a target="_blank">
                            <img loading="lazy" src="/img/home_organization/kunpeng.png" alt="鲲鹏数字技术（南京）有限公司">
                        </a>
                    </div>
                    <div class="ship-item col-md-3 col-xs-12">
                        <a target="_blank">
                            <img loading="lazy" src="/img/home_organization/csudata.png" alt="中启乘数科技（杭州）有限公司">
                        </a>
                    </div>
                    <div class="ship-item col-md-3 col-xs-12">
                        <a target="_blank">
                            <img loading="lazy" src="/img/home_organization/haohan.png" alt="北京浩瀚深度信息技术股份有限公司">
                        </a>
                    </div>
                </div>
                <div class="four-a-line">
                   
                    <div class="ship-item col-md-3 col-xs-12">
                        <a target="_blank">
                            <img loading="lazy" src="/img/home_organization/sunline.png" alt="深圳市长亮科技股份有限公司">
                        </a>
                    </div>
                    <div class="ship-item col-md-3 col-xs-12">
                        <a target="_blank">
                            <img loading="lazy" src="/img/home_organization/beilian.png" alt="江苏北联国芯技术有限公司">
                        </a>
                    </div>
                    <div class="ship-item col-md-3 col-xs-12">
                        <a target="_blank">
                            <img loading="lazy" src="/img/home_organization/boshan.png" alt="南京博杉信息技术有限公司">
                        </a>
                    </div>
                    <div class="ship-item col-md-3 col-xs-12">
                        <a target="_blank">
                            <img loading="lazy" src="/img/home_organization/goke.png" alt="湖南国科微电子股份有限公司">
                        </a>
                    </div>
                </div>
                <div class="four-a-line">
                    
                    <div class="ship-item col-md-3 col-xs-12">
                        <a target="_blank">
                            <img loading="lazy" src="/img/home_organization/taifan.png" alt="天津泰凡科技有限公司">
                        </a>
                    </div>
                    <div class="ship-item col-md-3 col-xs-12">
                        <a target="_blank">
                            <img loading="lazy" src="/img/home_organization/datapipe.png" alt="北京数见科技有限公司">
                        </a>
                    </div>
                    <div class="ship-item col-md-3 col-xs-12">
                        <a target="_blank">
                            <img loading="lazy" src="/img/home_organization/shanyan.png" alt="深圳市杉岩数据技术有限公司">
                        </a>
                    </div>
                    <div class="ship-item col-md-3 col-xs-12">
                        <a target="_blank">
                            <img loading="lazy" src="/img/home_organization/kelan.png" alt="北京科蓝软件系统股份有限公司">
                        </a>
                    </div>
                </div>
                <div class="four-a-line"> 
                    <div class="ship-item col-md-3 col-xs-12">
                        <a target="_blank">
                            <img loading="lazy" src="/img/home_organization/chuangling.png" alt="浙江创邻科技有限公司">
                        </a>
                    </div>
                    <div class="ship-item col-md-3 col-xs-12">
                        <a target="_blank">
                            <img loading="lazy" src="/img/home_organization/taiyangta.png" alt="北京太阳塔信息科技有限责任公司">
                        </a>
                    </div>
                    <div class="ship-item col-md-3 col-xs-12">
                        <a target="_blank">
                            <img loading="lazy" src="/img/home_organization/huayu.png" alt="北京华宇信息技术有限公司">
                        </a>
                    </div>
                    <div class="ship-item col-md-3 col-xs-12">
                        <a target="_blank">
                            <img loading="lazy" src="/img/home_organization/jindie.png" alt="深圳市金蝶天燕云计算股份有限公司">
                        </a>
                    </div>
                </div>
                <div class="four-a-line"> 
                    <div class="ship-item col-md-3 col-xs-12">
                        <a target="_blank">
                            <img loading="lazy" src="/img/home_organization/jindian.png" alt="江苏今点软件有限公司">
                        </a>
                    </div>
                    <div class="ship-item col-md-3 col-xs-12">
                        <a target="_blank">
                            <img loading="lazy" src="/img/home_organization/xingrui.png" alt="福建星瑞格软件有限公司">
                        </a>
                    </div>
                    <div class="ship-item col-md-3 col-xs-12">
                        <a target="_blank">
                            <img loading="lazy" src="/img/home_organization/wwit.png" alt="成都文武信息技术有限公司">
                        </a>
                    </div>
                    <div class="ship-item col-md-3 col-xs-12">
                        <a target="_blank">
                            <img loading="lazy" src="/img/home_organization/ceczr.png" alt="广州中软信息技术有限公司">
                        </a>
                    </div>
                </div>
                <div class="four-a-line"> 
                    <div class="ship-item col-md-3 col-xs-12">
                        <a target="_blank">
                            <img loading="lazy" src="/img/home_organization/huaaoshuju.png" alt="深圳市华傲数据技术有限公司">
                        </a>
                    </div>
                    <div class="ship-item col-md-3 col-xs-12">
                        <a target="_blank">
                            <img loading="lazy" src="/img/home_organization/aishu.png" alt="AISHU Technology Corp">
                        </a>
                    </div>
                    <div class="ship-item col-md-3 col-xs-12">
                        <a target="_blank">
                            <img loading="lazy" src="/img/home_organization/huanxun.png" alt="甘肃环讯信息科技有限公司">
                        </a>
                    </div>
                    <div class="ship-item col-md-3 col-xs-12">
                        <a target="_blank">
                            <img loading="lazy" src="/img/home_organization/shengruankeji.png" alt="山东胜软科技股份有限公司">
                        </a>
                    </div>
                </div>
                <div class="four-a-line "> 
                    <div class="ship-item col-md-3 col-xs-12">
                        <a target="_blank">
                            <img loading="lazy" src="/img/home_organization/vito.png" alt="兰州北科维拓科技股份有限公司">
                        </a>
                    </div>
                    <div class="ship-item col-md-3 col-xs-12">
                        <a target="_blank">
                            <img loading="lazy" src="/img/home_organization/yunjihuahai.png" alt="云基华海信息技术股份有限公司">
                        </a>
                    </div> 
                    <div class="ship-item col-md-3 col-xs-12">
                        <a target="_blank">
                            <img loading="lazy" src="/img/home_organization/yingfangruanjian.png" alt="上海英方软件股份有限公司">
                        </a>
                    </div>
                    <div class="ship-item col-md-3 col-xs-12">
                        <a target="_blank">
                            <img loading="lazy" src="/img/home_organization/gaoxinxin.png" alt="高新兴科技集团股份有限公司">
                        </a>
                    </div> 
                </div>
                <div class="four-a-line last"> 
                    <div class="ship-item col-md-3 col-xs-12">
                        <a target="_blank">
                            <img loading="lazy" src="/img/home_organization/geoway.png" alt="北京吉威空间信息股份有限公司">
                        </a>
                    </div>
                    <div class="ship-item col-md-3 col-xs-12">
                        <a target="_blank">
                            <img loading="lazy" src="/img/home_organization/gbase.png" alt="天津南大通用数据技术股份有限公司">
                        </a>
                    </div> 
                    <div class="ship-item col-md-3 col-xs-12">
                        <a target="_blank">
                            <img loading="lazy" src="/img/home_organization/mulangyun.png" alt="深圳市木浪云数据有限公司">
                        </a>
                    </div>
                    <div class="ship-item col-md-3 col-xs-12">
                      <a target="_blank">
                          <img loading="lazy" src="/img/home_organization/blsj.png" alt="佰聆数据股份有限公司">
                      </a>
                  </div>
                </div>
                <div class="four-a-line last">  
                  <div class="ship-item col-md-3 col-xs-12">
                      <a target="_blank">
                          <img loading="lazy" src="/img/home_organization/skww.png" alt="北京数科网维技术有限公司">
                      </a>
                  </div> 
                  <div class="ship-item col-md-3 col-xs-12">
                      <a target="_blank">
                          <img loading="lazy" src="/img/home_organization/greatdb.png" alt="北京万里开源软件有限公司">
                      </a>
                  </div>
                  <div class="ship-item col-md-3 col-xs-12">
                    <a target="_blank">
                        <img loading="lazy" src="/img/home_organization/suninfo.png" alt="上海上讯信息技术股份有限公司">
                    </a>
                  </div>
                  <div class="ship-item col-md-3 col-xs-12">
                    <a target="_blank">
                        <img loading="lazy" src="/img/home_organization/scaleflux.png" alt="ScaleFlux">
                    </a>
                  </div>
                </div>
                <div class="four-a-line last">  
                  <div class="ship-item col-md-3 col-xs-12">
                      <a target="_blank">
                          <img loading="lazy" src="/img/home_organization/dfjx.png" alt="北京东方金信科技股份有限公司">
                      </a>
                  </div> 
                  <div class="ship-item col-md-3 col-xs-12">
                      <a target="_blank">
                          <img loading="lazy" src="/img/home_organization/hsxt.png" alt="北京华胜信泰数据技术有限公司">
                      </a>
                  </div>
                  <div class="ship-item col-md-3 col-xs-12">
                    <a target="_blank">
                        <img loading="lazy" src="/img/home_organization/aks.png" alt="上海爱可生信息技术股份有限公司">
                    </a>
                  </div>
                   
                </div>


            </div>

            <p class="isH5 js-view-more">{{ i18n "video_more"}}</p>
            <p class="isH5 js-fold-up hide">{{ i18n "video_default"}}</p>
        </div>
    </div>
</div>
