<div class="partner-ship">
    <div class="content">
        <div class="partner-ship_title">
            <h3>{{ i18n "main_organization_title" }}</h3>
        </div>

        <div class="partner-ship-content">
            <div class="row three-a-line to-flex">
                <div class="ship-item">
                    <a target="_blank">
                        <img loading="lazy" src="/img/home_organization/baolande.png">
                    </a>
                </div>
                <div class="ship-item">
                    <a target="_blank">
                        <img loading="lazy" src="/img/home_organization/chaotu.png">
                    </a>
                </div>
                <div class="ship-item">
                    <a target="_blank">
                        <img loading="lazy" src="/img/home_organization/dongfangtong.png">
                    </a>
                </div>
            </div>
            <div class="row four-a-line to-flex">
                <div class="ship-item col-md-3 col-xs-12">
                    <a target="_blank">
                        <img loading="lazy" src="/img/home_organization/hailiangshuju.png">
                    </a>
                </div>
                <div class="ship-item col-md-3 col-xs-12">
                    <a target="_blank">
                        <img loading="lazy" src="/img/home_organization/huashengtiancheng.png">
                    </a>
                </div>
                <div class="ship-item col-md-3 col-xs-12">
                    <a target="_blank">
                        <img loading="lazy" src="/img/home_organization/kuailifang.png">
                    </a>
                </div>
                <div class="ship-item col-md-3 col-xs-12">
                    <a target="_blank">
                        <img loading="lazy" src="/img/home_organization/rendajincang.png">
                    </a>
                </div>
            </div>
            <div class="js-organ-loadup h5-hide">
                <div class="row four-a-line to-flex">
                    <div class="ship-item col-md-3 col-xs-12">
                        <a target="_blank">
                            <img loading="lazy" src="/img/home_organization/weihu.png">
                        </a>
                    </div>
                    <div class="ship-item col-md-3 col-xs-12">
                        <a target="_blank">
                            <img loading="lazy" src="/img/home_organization/xianjinshutong.png">
                        </a>
                    </div>
                    <div class="ship-item col-md-3 col-xs-12">
                        <a target="_blank">
                            <img loading="lazy" src="/img/home_organization/xinshukeji.png">
                        </a>
                    </div>
                    <div class="ship-item col-md-3 col-xs-12">
                        <a target="_blank">
                            <img loading="lazy" src="/img/home_organization/youxuan.png">
                        </a>
                    </div>
                </div>
                <div class="row four-a-line to-flex">
                    <div class="ship-item col-md-3 col-xs-12">
                        <a target="_blank">
                            <img loading="lazy" src="/img/home_organization/yueneng.png">
                        </a>
                    </div>
                    <div class="ship-item col-md-3 col-xs-12">
                        <a target="_blank">
                            <img loading="lazy" src="/img/home_organization/beiming.png">
                        </a>
                    </div>
                    <div class="ship-item col-md-3 col-xs-12">
                        <a target="_blank">
                            <img loading="lazy" src="/img/home_organization/xuguweiye.png">
                        </a>
                    </div>
                    <div class="ship-item col-md-3 col-xs-12">
                        <a target="_blank">
                            <img loading="lazy" src="/img/home_organization/neusoft.png">
                        </a>
                    </div>
                </div>
                <div class="row four-a-line to-flex">
                    <div class="ship-item col-md-3 col-xs-12">
                        <a target="_blank">
                            <img loading="lazy" src="/img/home_organization/dingjia.png">
                        </a>
                    </div>
                    <div class="ship-item col-md-3 col-xs-12">
                        <a target="_blank">
                            <img loading="lazy" src="/img/home_organization/woqu.png">
                        </a>
                    </div>
                    <div class="ship-item col-md-3 col-xs-12">
                        <a target="_blank">
                            <img loading="lazy" src="/img/home_organization/runhe.png">
                        </a>
                    </div>
                    <div class="ship-item col-md-3 col-xs-12">
                        <a target="_blank">
                            <img loading="lazy" src="/img/home_organization/mashang.png">
                        </a>
                    </div>
                </div>
                <div class="row three-a-line to-flex to-left">
                    <div class="ship-item col-md-3 col-xs-12">
                        <a target="_blank">
                            <img loading="lazy" src="/img/home_organization/weiyou.png">
                        </a>
                    </div>
                    <div class="ship-item col-md-3 col-xs-12">
                        <a target="_blank">
                            <img loading="lazy" src="/img/home_organization/puyuan.png">
                        </a>
                    </div>
                    <div class="ship-item col-md-3 col-xs-12">
                        <a target="_blank">
                            <img loading="lazy" src="/img/home_organization/ruantong.png">
                        </a>
                    </div>
                </div>
                <div class="row four-a-line to-flex">
                    <div class="ship-item col-md-3 col-xs-12">
                        <a target="_blank">
                            <img loading="lazy" src="/img/home_organization/tianji.png">
                        </a>
                    </div>
                    <div class="ship-item col-md-3 col-xs-12">
                        <a target="_blank">
                            <img loading="lazy" src="/img/home_organization/shenxinfu.png">
                        </a>
                    </div>
                    <div class="ship-item col-md-3 col-xs-12">
                        <a target="_blank">
                            <img loading="lazy" src="/img/home_organization/xinghuo.png">
                        </a>
                    </div>
                    <div class="ship-item col-md-3 col-xs-12">
                        <a target="_blank">
                            <img loading="lazy" src="/img/home_organization/shenzhou.png">
                        </a>
                    </div>
                </div>
                <div class="row four-a-line to-flex">
                    <div class="ship-item col-md-3 col-xs-12">
                        <a target="_blank">
                            <img loading="lazy" src="/img/home_organization/borui.png">
                        </a>
                    </div>
                    <div class="ship-item col-md-3 col-xs-12">
                        <a target="_blank">
                            <img loading="lazy" src="/img/home_organization/yunheenmo.png">
                        </a>
                    </div>
                    <div class="ship-item col-md-3 col-xs-12">
                        <a target="_blank">
                            <img loading="lazy" src="/img/home_organization/tianyiyun.png">
                        </a>
                    </div>
                    <div class="ship-item col-md-3 col-xs-12">
                        <a target="_blank">
                            <img loading="lazy" src="/img/home_organization/zhongruan.png">
                        </a>
                    </div>
                </div>
                <div class="row four-a-line to-flex">
                    <div class="ship-item col-md-3 col-xs-12">
                        <a target="_blank">
                            <img loading="lazy" src="/img/home_organization/zhongxing.png">
                        </a>
                    </div>
                    <div class="ship-item col-md-3 col-xs-12">
                        <a target="_blank">
                            <img loading="lazy" src="/img/home_organization/SphereEx.png">
                        </a>
                    </div>
                    <div class="ship-item col-md-3 col-xs-12 isPc">
                        <a target="_blank">
                            <img loading="lazy">
                        </a>
                    </div>
                    <div class="ship-item col-md-3 col-xs-12 isPc">
                        <a target="_blank">
                            <img loading="lazy">
                        </a>
                    </div>
                </div>
            </div>
            <p class="isH5 js-view-more">{{ i18n "video_more"}}</p>
            <p class="isH5 js-fold-up hide">{{ i18n "video_default"}}</p>
        </div>
    </div>
</div>
