<div class="partner-ship">
    <div class="content">
        <div class="partner-ship_title">
            <h3>{{ i18n "main_organization_title" }}</h3>
        </div>

        <div class="partner-ship-content">
            <div class="row three-a-line to-flex">
                <div class="ship-item">
                    <a target="_blank">
                        <img loading="lazy" src="/img/home_organization/baolande.png" alt="baolande logo">
                    </a>
                </div>
                <div class="ship-item">
                    <a target="_blank">
                        <img loading="lazy" src="/img/home_organization/chaotu.png" alt="chaotu logo">
                    </a>
                </div>
                <div class="ship-item">
                    <a target="_blank">
                        <img loading="lazy" src="/img/home_organization/dongfangtong.png" alt="dongfangtong logo">
                    </a>
                </div>
            </div>
            <div class="row four-a-line to-flex">
                <div class="ship-item col-md-3 col-xs-12">
                    <a target="_blank">
                        <img loading="lazy" src="/img/home_organization/hailiangshuju.png" alt="hailiangshuju logo">
                    </a>
                </div>
                <div class="ship-item col-md-3 col-xs-12">
                    <a target="_blank">
                        <img loading="lazy" src="/img/home_organization/huashengtiancheng.png" alt="huashengtiancheng logo">
                    </a>
                </div>
                <div class="ship-item col-md-3 col-xs-12">
                    <a target="_blank">
                        <img loading="lazy" src="/img/home_organization/kuailifang.png" alt="kuailifang logo">
                    </a>
                </div>
                <div class="ship-item col-md-3 col-xs-12">
                    <a target="_blank">
                        <img loading="lazy" src="/img/home_organization/rendajincang.png" alt="rendajincang logo">
                    </a>
                </div>
            </div>
            <div class="js-organ-loadup h5-hide">
                <div class="row four-a-line to-flex">
                    <div class="ship-item col-md-3 col-xs-12">
                        <a target="_blank">
                            <img loading="lazy" src="/img/home_organization/weihu.png" alt="weihu logo">
                        </a>
                    </div>
                    <div class="ship-item col-md-3 col-xs-12">
                        <a target="_blank">
                            <img loading="lazy" src="/img/home_organization/xianjinshutong.png" alt="xianjinshutong logo">
                        </a>
                    </div>
                    <div class="ship-item col-md-3 col-xs-12">
                        <a target="_blank">
                            <img loading="lazy" src="/img/home_organization/xinshukeji.png" alt="xinshukeji logo">
                        </a>
                    </div>
                    <div class="ship-item col-md-3 col-xs-12">
                        <a target="_blank">
                            <img loading="lazy" src="/img/home_organization/youxuan.png" alt="youxuan logo">
                        </a>
                    </div>
                </div>
                <div class="row four-a-line to-flex">
                    <div class="ship-item col-md-3 col-xs-12">
                        <a target="_blank">
                            <img loading="lazy" src="/img/home_organization/yueneng.png" alt="yueneng logo">
                        </a>
                    </div>
                    <div class="ship-item col-md-3 col-xs-12">
                        <a target="_blank">
                            <img loading="lazy" src="/img/home_organization/beiming.png" alt="beiming logo">
                        </a>
                    </div>
                    <div class="ship-item col-md-3 col-xs-12">
                        <a target="_blank">
                            <img loading="lazy" src="/img/home_organization/xuguweiye.png" alt="xuguweiye logo">
                        </a>
                    </div>
                    <div class="ship-item col-md-3 col-xs-12">
                        <a target="_blank">
                            <img loading="lazy" src="/img/home_organization/neusoft.png" alt="neusoft logo">
                        </a>
                    </div>
                </div>
                <div class="row four-a-line to-flex">
                    <div class="ship-item col-md-3 col-xs-12">
                        <a target="_blank">
                            <img loading="lazy" src="/img/home_organization/dingjia.png" alt="dingjia logo">
                        </a>
                    </div>
                    <div class="ship-item col-md-3 col-xs-12">
                        <a target="_blank">
                            <img loading="lazy" src="/img/home_organization/woqu.png" alt="woqu logo">
                        </a>
                    </div>
                    <div class="ship-item col-md-3 col-xs-12">
                        <a target="_blank">
                            <img loading="lazy" src="/img/home_organization/runhe.png" alt="runhe logo">
                        </a>
                    </div>
                    <div class="ship-item col-md-3 col-xs-12">
                        <a target="_blank">
                            <img loading="lazy" src="/img/home_organization/mashang.png" alt="mashang logo">
                        </a>
                    </div>
                </div>
                <div class="row three-a-line to-flex to-left">
                    <div class="ship-item col-md-3 col-xs-12">
                        <a target="_blank">
                            <img loading="lazy" src="/img/home_organization/weiyou.png" alt="weiyou logo">
                        </a>
                    </div>
                    <div class="ship-item col-md-3 col-xs-12">
                        <a target="_blank">
                            <img loading="lazy" src="/img/home_organization/puyuan.png" alt="puyuan logo">
                        </a>
                    </div>
                    <div class="ship-item col-md-3 col-xs-12">
                        <a target="_blank">
                            <img loading="lazy" src="/img/home_organization/ruantong.png" alt="ruantong logo">
                        </a>
                    </div>
                </div>
                <div class="row four-a-line to-flex">
                    <div class="ship-item col-md-3 col-xs-12">
                        <a target="_blank">
                            <img loading="lazy" src="/img/home_organization/tianji.png" alt="tianji logo">
                        </a>
                    </div>
                    <div class="ship-item col-md-3 col-xs-12">
                        <a target="_blank">
                            <img loading="lazy" src="/img/home_organization/shenxinfu.png" alt="shenxinfu logo">
                        </a>
                    </div>
                    <div class="ship-item col-md-3 col-xs-12">
                        <a target="_blank">
                            <img loading="lazy" src="/img/home_organization/xinghuo.png" alt="xinghuo logo">
                        </a>
                    </div>
                    <div class="ship-item col-md-3 col-xs-12">
                        <a target="_blank">
                            <img loading="lazy" src="/img/home_organization/shenzhou.png" alt="shenzhou logo">
                        </a>
                    </div>
                </div>
                <div class="row four-a-line to-flex">
                    <div class="ship-item col-md-3 col-xs-12">
                        <a target="_blank">
                            <img loading="lazy" src="/img/home_organization/borui.png" alt="borui logo">
                        </a>
                    </div>
                    <div class="ship-item col-md-3 col-xs-12">
                        <a target="_blank">
                            <img loading="lazy" src="/img/home_organization/yunheenmo.png" alt="yunheenmo logo">
                        </a>
                    </div>
                    <div class="ship-item col-md-3 col-xs-12">
                        <a target="_blank">
                            <img loading="lazy" src="/img/home_organization/tianyiyun.png" alt="tianyiyun logo">
                        </a>
                    </div>
                    <div class="ship-item col-md-3 col-xs-12">
                        <a target="_blank">
                            <img loading="lazy" src="/img/home_organization/zhongruan.png" alt="zhongruan logo">
                        </a>
                    </div>
                </div>
                <div class="row three-a-line to-flex to-left">
                    <div class="ship-item col-md-3 col-xs-12">
                        <a target="_blank">
                            <img loading="lazy" src="/img/home_organization/zhongxing.png" alt="zhongxing logo">
                        </a>
                    </div>
                    <div class="ship-item col-md-3 col-xs-12">
                        <a target="_blank">
                            <img loading="lazy" src="/img/home_organization/SphereEx.png" alt="SphereEx logo">
                        </a>
                    </div>
                    <div class="ship-item col-md-3 col-xs-12">
                        <a target="_blank">
                            <img loading="lazy" src="/img/home_organization/kunpeng.png" alt="kunpeng logo">
                        </a>
                    </div>
                </div>
                <div class="row four-a-line to-flex">
                    <div class="ship-item col-md-3 col-xs-12">
                        <a target="_blank">
                            <img loading="lazy" src="/img/home_organization/murong.png" alt="murong logo">
                        </a>
                    </div>
                    <div class="ship-item col-md-3 col-xs-12">
                        <a target="_blank">
                            <img loading="lazy" src="/img/home_organization/isstech.png" alt="isstech logo">
                        </a>
                    </div>
                    <div class="ship-item col-md-3 col-xs-12">
                        <a target="_blank">
                            <img loading="lazy" src="/img/home_organization/hcis.png" alt="hcis logo">
                        </a>
                    </div>
                    <div class="ship-item col-md-3 col-xs-12">
                        <a target="_blank">
                            <img loading="lazy" src="/img/home_organization/xsky.png" alt="xsky logo">
                        </a>
                    </div>
                </div>
                <div class="row four-a-line to-flex">
                    <div class="ship-item col-md-3 col-xs-12">
                        <a target="_blank">
                            <img loading="lazy" src="/img/home_organization/asiainfo.png" alt="asiainfo logo">
                        </a>
                    </div>
                    <div class="ship-item col-md-3 col-xs-12">
                        <a target="_blank">
                            <img loading="lazy" src="/img/home_organization/minshengbank.png" alt="minshengbank logo">
                        </a>
                    </div>
                    <div class="ship-item col-md-3 col-xs-12 isPc"></div>
                    <div class="ship-item col-md-3 col-xs-12 isPc"></div>
                </div>
            </div>
            <p class="isH5 js-view-more">{{ i18n "video_more"}}</p>
            <p class="isH5 js-fold-up hide">{{ i18n "video_default"}}</p>
        </div>
    </div>
</div>
