<div class="content">
    <!-- 统计 -->
    <ul class="content_statistics">
        <li class="statistics_item">
            <img src="/img/statistics/statistics_icon1.svg" alt="">
            <span class="count contributors">-</span>
            <p class="desc">{{ i18n "statistics_contributors" }}</p>
        </li>
        <li class="statistics_item">
            <img src="/img/statistics/statistics_icon2.svg" alt="">
            <span class="count users">-</span>
            <p class="desc">{{ i18n "statistics_users" }}</p>
        </li>
        <li class="statistics_item">
            <img src="/img/statistics/statistics_icon4.png" alt="">
            <span class="count business-osv">-</span>
            <p class="desc">{{ i18n "statistics_platforms" }}</p>
        </li>
    </ul>
</div>