<div class="content">
  <p class="tryme-title">Connect to<span>openGauss Now</span></p>
    <div class="tryme">
        <div class="left-code">
            <div class="first">
                ➜ # <span class="first-span typing">select * from openGauss;</span>
            </div>
            <div >
                <div class="block1 fast-hide">
                  <pre>category                              |   create_at</pre>
                </div>
                <div class="block2 fast-hide">
                  ------------------------------------+--------------
                </div>
                <div class="block3 fast-hide">
                  open source relational database |   2020.06.30
                </div>
                <div class="block4 fast-hide">(1 row) </div>
                <div class="block5 fast-hide typing last">
                    ➜ #
                </div>
            </div>
        </div>
        <div class="right-text">
          <img class="title" title="Connect to openGauss Now" src="/img/tryme/title.png" />
          <a href="https://tryme.opengauss.org" target="_blank" class="btn">TRY ME</a>  
        </div>
    </div>
</div>
