{{ $postss := (where .Site.RegularPages "Section" "==" "video") }}
{{ $postCount := len $postss }}
{{ if gt $postCount 0 }}
<div class="content">
    <div class="content_video content-video-home">
        <div class="content_video_title">
            <h3>{{ i18n "main_video_title" }}</h3>            
        </div>
        

        <div class="home_video">
            <div class="video_total video-total-home">
                {{ $posts := where .Data.Pages "Type" "video" }}
                {{ range first 4 $posts }}
                <div class="video_item video-in-home">
                        <a href="{{ .Permalink }}">
                            <div class="home_video_infro_bg video-img-home"><img loading="lazy" class="" src="{{ .Site.BaseURL}}{{ .Params.banner }}"></div>
                            <div class="home_video_title">
                                <p>{{ .Title }}</p>
                            </div>
                        </a>
                    </div>
                {{ end }}
            </div>
        </div>
        <div class="see_more">
            <a class="see_more_btn" href="{{ i18n "video_all_url" }}">{{ i18n "video_more" }}</a>
        </div>        
    </div>
</div>
{{ end }}