.o-timeline {
  // 背景颜色
  --o-timeline-background-color: var(--o-color-neutral11);
  --o-timeline-background-icon: var(--o-color-bg1);

  // 文字颜色
  --o-timeline-font-color-active: var(--o-color-brand1);
  --o-timeline-font-color: var(--o-color-text4);

  // font-size
  --o-timeline-font-size: var(--o-font-size-h6);
  --o-timeline-font-size-icon: var(--o-font-size-h5);

  // line-height
  --o-timeline-line-height: var(--o-line-height-h6);

  // 动画
  --o-timeline-transition: all 0.2s;

  // 间距
  --o-timeline-spacing-word: var(--o-spacing-h10);
}
