@use '~@/assets/style/mixin/font.scss' as *;
.el-form {
  & .el-form-item {
    margin-bottom: 24px;

    &.is-center {
      display: flex;
      align-items: center;
    }
    // 非必填去*号
    &.not-necessary {
      .el-form-item__label {
        padding-left: 12px;
      }
      .el-form-item__label::before {
        display: none;
      }
    }
    // 隐藏错误提示
    &.not-error {
      .el-form-item__error {
        display: none;
      }
    }
    &.is-column {
      flex-direction: column;
      align-items: flex-start;
      .el-form-item__content {
        margin-top: 16px;
      }
    }

    .el-form-item__label {
      @include text1;
      color: var(--o-color-info1);
      height: 24px;
      padding: 0 20px 0 0;

      &::before {
        margin-top: 4px;
      }
    }
  }
  .el-form-item__error {
    top: calc(100% + 4px);
    left: 16px;
  }
}

.el-popper {
  background: var(--o-color-control5) !important;
}

.el-select-dropdown {
  .el-select-dropdown__list {
    padding: 4px !important;
    margin: 0 !important;
  }
  .el-select-dropdown__item {
    border-radius: 8px;
    &.hover,
    &:hover {
      background: var(--o-color-control2-light) !important;
      color: var(--o-color-primary1);
    }
  }
}
