:root{
    --ui-color:#8401E7;
    --ui-orange:#ffd78f;
    --ui-red:#fb776b; 
    --ui-green:#00bb86; 
}

.people{
    position: absolute;
    bottom: 0;
    left: 0%; 
    animation: cloud4 1.6s; 
    text-align: center; 
    width: 100%;
}
.people img:nth-of-type(1){ 
    vertical-align: top;
    width: 88px;
} 

.page-three{
    padding: 30px 0 0; 
    margin: 0 auto;
    display: flex;
    justify-content: center;
} 
.panel2-top{
    display: flex;
    justify-content: space-between; 
    width: 100%;
    align-items: end;
    margin-bottom: 20px;
}
.panel2-top img:nth-of-type(1){
    width: 150px;
    animation: cloud3 3s;
}
.panel2-top img:nth-of-type(2){
    width: 53px;
    height: 22px; 
    margin-bottom: 5px;
    animation: cloud2 20s infinite linear alternate;
}

.panel2-box{
    text-align: center;
    background: url(../images/图2/浏览器.png) no-repeat top center/cover;
    width: 280px;
    height: 328px;
    padding: 48px 0;
    margin-bottom:30px;
}
.panel2-box p{
    font-size: 14px;
    color: #fff;
    line-height: 26px; 
}
.panel2-box p span{
    font-weight: bold;
    margin: 0 3px;
}
.cGreen{color: var(--ui-green);}
.cRed{color: var(--ui-red);}
.cOrange{color: var(--ui-orange);}

.panel2-bottom{
    position: relative;
    height: 130px;
    width: 100%;
}
.panel2-bottom img:nth-of-type(1){ 
    position: absolute;
    top:0;
    right:5%;  
    width: 150px;
    z-index: 2;
    animation: mirror 2s forwards;
}
.panel2-bottom img:nth-of-type(2){ 
    position: absolute;
    bottom:0;
    left: 10%;  
    width: 160px;
    z-index: 2;
    animation: bule-ball 3s infinite linear alternate forwards;
}
.panel2-bottom .img3{
    height: 30px;
    background: #92b2ff;
    border-radius:30px;
    width:72px;
    text-align: left;
    padding: 5px;
    margin: 18px 0 0;
    animation: cloud3 3s;
    position: relative;
    z-index: 4;
}
.panel2-bottom .img3 span{
    border: 1px dashed #fff;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
    animation: pink5 2s infinite linear alternate;
}
@keyframes pink5 {
    to {
        transform: translateX(40px);
    }
}
.panel3-box{ 
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.panel3-box p{
    line-height: 24px;
}
.panel3-box p span{
    margin: 0 3px;
}
.code-box{
    background:  url(../images/图4/code.png) no-repeat center/contain;
    width: 300px;
    height:330px; 
    padding:48px 30px ;
    margin: 5px auto;
    animation: text-box 2s;
}
.code-box img{
    width: 130px;
}
.code-box p{
    margin: 10px 0 15px;
    color: #3c19b2;
} 
 
.fz16 {
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
}
.fz14{
    font-size: 14px; 
    line-height: 24px;
}
.fb{
    font-weight: bold;
}
.mb20{
    margin-bottom: 20px;
}
.mb30{
    margin-bottom: 30px;
}
.mb12{
    margin-bottom: 12px;
}
 
.one-text{
    line-height: 21px;
}

img.codeImg{
    width: 110px;
    height: 110px;
}

.page-six .codeImg{
    margin-top: 48px;
}




.mob-box{
    background: var(--ui-color);
}
.mob-box .page-one .text-box{
    padding-top: 24px;
}


.panel-mo2{
    position: relative;
    padding:30px 50px;
    text-align: left;
    height: 500px;
}
.panel-mo2 img{
    position: absolute;
}
.panel-mo2 img:nth-of-type(1){
    width: 250px;
    z-index: 2;
    animation: cloud3 2s;
}
.panel-mo2 img:nth-of-type(2){
    width: 120px;
    top:180px;
    left: 95px;
    animation: desk 9s forwards;
}
.panel-mo2 img:nth-of-type(3){
    width: 130px;
    top: 280px;
    left: 185px;
    animation: mirror 2s forwards;
}
.panel-mo2 img:nth-of-type(4){
    width: 70px;
    left: 60px;
    bottom: 80px;
    animation: pink-ball 3s infinite linear alternate forwards;
}
.panel-mo2 img:nth-of-type(5){
    width:50px; 
    left: 195px;
    top: 225px;
    animation: fj-ani 5s infinite;
}
@keyframes fj-ani {
    0% {
        transform: translate(-100px, -120%) ;
    }
 
    100% { 
        transform: translate(200px,150px);
    }
}

.mob-box .page-three{
    padding: 12px 0 0;
    height: 100vh;
    padding: 0 30px;
    line-height: 30px;
}

.mob-box .panel2-top{
    margin-bottom: 15px;
    padding: 0 5%;
}
.mob-box .panel2-box{
    margin-bottom: 20px;
    width: 86%;
    height: auto;
}
.mob-box .panel2-bottom{
    padding: 0 5%;
    position: absolute;
    bottom: 5%;
    left:0;
}
.mob-box .page-five {
    padding-top: 30px;
    justify-content: flex-start;
}

.panel-mo4{
    position: absolute;
    top:20px;
    left:20px;
    right: 20px;
}
.panel-mo4 img{
    position: absolute;
}
.panel-mo4 img:nth-of-type(1){
    width: 108px;  
    left: 46px;
    top: 25px;
    animation: dash-line 2s;
}
.panel-mo4 img:nth-of-type(2){
    width: 100px;  
    right:12px; 
    animation: boy 2s;
}
.panel-mo4 img:nth-of-type(3){
    width: 120px;  
    left: 14px;
    top: 132px;
    animation: file 2s infinite linear alternate;
}
.panel-mo4 img:nth-of-type(4){
    width: 115px;
    right: 0;
    top: 244px;
    animation: bule-ball 3s infinite linear alternate forwards;
}
.panel-mo4 img:nth-of-type(5){
    width:30px; 
    right: 50px;
    top: 214px;  
    animation: hexagon-s 10s infinite forwards;
}

.panel-mo5{
    position: absolute;
    left:8%;
    bottom: 20px;
    height: 188px;
    width:85%;
    animation: cloud4 2s;
}

.page-five{
    padding-top: 0;
}
.mob-box .panel3-box{
    padding-top: 0;
}
.panel-mo5> img{
    position: absolute;
}
.panel-mo5 img:nth-of-type(1){
    width: 170px;
    left: -48px;
    top: 37px;
    animation: cloud3 3s;
}
.panel-mo5 img:nth-of-type(2){
    width: 120px;
    bottom: 10px;
    left: 0px; 
} 
.panel-mo5 .code-tile{ 
    right:0px;
    bottom: 10px; 
    position: absolute;
}
.panel-mo5 .share{
    width: 100px; 
    right: 0;
    bottom: 120px;
} 
.panel-mo5 .code-tile .codeImg{
    width: 100px;
    height: 100px;
    display: block;
} 
.page.page-five{
    background-image:url(../images/bg1.png) ;
}


.lg-swiper .contents .page{
    height: 100vh;
}


/* gauss */
.tit1{
    font-size: 22px;
    font-weight: bold;
    color:#fff;
    text-shadow: 1px 3px #8401E7;
    line-height: 36px; 
}
.logo{
    width: 160px !important;
    margin-bottom: 20px;
}
.page {
    background:url(../images/bg.png) no-repeat left bottom/cover;
}
.page-one{
    padding-top: 10px;
    background-image: url(../images/bg1.png);
}
 
.page-one {
    justify-content: flex-start; 
}
.page-one .buttonNext{
    width: 135px;
    margin-top: 40px;
}
.lg-swiper-page .page-tow{
    justify-content: center;
}
.page-four p:last-child {
    line-height: 30px;
}

.mob-box .lg-swiper-page .panel3-box{
    margin-top: 30px;
}

.page-six .main {
    justify-content: center;
    padding-bottom: 100px;
}






.ani2{
    position: absolute;
    right: px;
    bottom: 330px; 
    animation: fj-ani1 5s infinite;
}
.ani2 img{
    width: 88px;
}
@keyframes fj-ani1 {
    0% {
        transform: translate(380px, 400px) ;
    }
 
    100% { 
        transform: translate(-610px,-120px);
    }
}



.pc-page1{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 40px;
}
.pc-box .code-box{
    margin-bottom: 140px;
}

.no-contribution .page-one{
    justify-content: flex-start;
}
.no-contribution .page-one .text-box{
    padding-top: 20px;
}
.no-contribution .page-one .codeImg{
    margin-top: 10px;
}




.videoBg{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    bottom: 0;
    display: none;
}
.videoBg video{
    width: 100%; 
}
.bgmMusic{
    position: fixed;
    top: 10px;
    right: 10px;
    width: 24px;
    height: 24px;
    display: none;
    z-index: 9999;
    transition: all .3s;
}
.bgmMusic img{
    width: 100%;
}
.bgmMusic.active{
    animation: rotate360 3s infinite linear;
}
@keyframes rotate360 {
    0% {
        transform: rotate(0) ;
    } 
    100% { 
        transform: rotate(360deg);
    }
}


@media (max-width:768px){
    body{
        background: var(--ui-color);
    }
    .mob-box,.page{
        background: none !important;
        font-size: 14px;
    }
    .mob-box .page-one .text-box{
        padding-top: 120px;
    }
    .mob-box .page-five{
        padding-bottom: 175px;
    }
    .videoBg{
        display: block;
    }  
    .bgmMusic{
        display: block;
    }
} 
