
/* 开始编写CSS */
.pc-box {
    display: flex;
    overflow: hidden;
    height: 100vh;
    margin: 0 auto;
    padding: 50px;
    justify-content: space-between;
    align-items: center;
    max-width: 1920px;
    justify-content: space-between;
}
.container {
    position: relative;
    width: 320px;
    height: 705px;
    overflow: hidden;
}

.front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    /* border-radius: 20px; */
    /* background-color: #0984e3; */
    /* 背景居中 */
    background-size: cover;
    background-position: center;
    /* 内容居中 */
    display: flex;
    justify-content: center;
    align-items: center;
    /* 开启3d */
    perspective: 1000px;
    transform-style: preserve-3d;
    /* 3D模式下隐藏所有翻转的信息 */
    backface-visibility: hidden;
    /* 临时 */
    /* transform: rotateY(60deg); */
    transition: transform .7s ease-in-out;
}
.front {
    background-color: #8401E7;
    z-index: 10;
    background-position: -1px -2px;
    background-repeat: no-repeat;
    background-size: contain; 
     
} 
.back {
    background:#8401E7;  
    transform: rotateY(180deg);
}
.box-one .front {
    background-image:  url(../images/1开.png);
}
.box-tow .front {
    background-image:  url(../images/2箱.png);
}

.box-three .front {
    background-image:  url(../images/3大.png);
}

.box-four .front {
    background-image:  url(../images/4吉.png);
}
.box-1 .front {
    background-image:  url(../images/1开箱.png);
}
.box-2 .front {
    background-image:  url(../images/2大吉.png);
}
.contents{
    /* 形成文字与背景分离 */
    width: 100%;
    /* transform: translateZ(60px); */
}
.contents .page {
    position: relative;
    height: 705px;
    width: 100%;
    overflow: hidden;
}
.contents img {
    width: 100%;
}

.contents .dash-line {
    top: -80px;
}
.no-contribution{
    justify-content:space-evenly
}

.no-contribution .one-text{
    line-height: 20px;
    padding: 0;
}
.no-contribution .main p{
    margin: 0;
}

.no-h5-contribution .panel2-box{
    background: none;
    padding-top: 20px;
}
.no-h5-contribution  .panel2-box p{
    color: #fff;
}
.no-h5-contribution .panel2-bottom img:nth-of-type(2){
    left: 20%;
}

