$max-width:1920px;
$min-width:1280px;
$white:#fff;
$black:#000;

/* 主要背景色*/
$theme-color:#fafafa;

/* 主色*/
$color-primary:#467fbf;

/* header*/
$color-header-bg:#000;
$color-header-active:$color-primary;
$color-header-active-line:#294d76;


/* btns */
@mixin btn($background,$border) {
    width: 120px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 2px;
    background: $background;
    border: 1px solid $border;
}