html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
	padding: 0;
	margin: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	vertical-align: middle;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

img {
	border-style: none;
	vertical-align: middle;
}

svg:not(:root) {
	overflow: hidden;
}
li{
	list-style-type: none;
}


button,
select {
	text-transform: none;
}

a {
	color: initial;
	text-decoration: none;
}

ul,
ol {
	list-style: none;
}
body{
	font-size: 16px;
}

header,
menu,
footer,
section,
article,
nav,
aside,
main {
	display: block;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
main {
	display: block;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
}

 a{
	 text-decoration: none;
 }
 

audio,
canvas,
video {
	display: inline-block;
	*display: inline;
	*zoom: 1;
}

* {
	box-sizing: border-box;
	outline: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	font-family: "Microsoft YaHei", "微软雅黑", Arial, sans-serif, "Helvetica Neue", Helvetica, "Hiragino Sans GB";
}

*:focus {
	outline: none;
}

::-webkit-scrollbar{
	width: 8px;
	height: 8px;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background: #c1c1c1;
}

::-webkit-scrollbar-track{
	border-radius: 10px;
	background: transparent;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.clearfix {
	*zoom: 1;
}

.clearfix:after {
	content: '';
	display: block;
	visibility: hidden;
	height: 0;
	clear: both;
}


.ell {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.ell2 {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}
 
.fast-click {
	-moz-user-select: none;
	/*火狐*/
	-webkit-user-select: none;
	/*webkit浏览器*/
	-ms-user-select: none;
	/*IE10*/
	user-select: none;
}

.no_jump{
	pointer-events: none;
}
.point{
	cursor: pointer;
}
.no_point{
	cursor: not-allowed;
}

/*定位上下左右居中*/

.centers {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
}
.flex_center{
	display: flex;
	justify-content: center;
	align-items: center;
}

/* 过渡动画 显隐 */
.page-fade-enter {
	opacity: 0;
}

.page-fade-leave {
	opacity: 1;
}

.page-fade-enter-active {
	transition: opacity 0.4s;
}

.page-fade-leave-active {
	opacity: 0;
	transition: opacity 0.1s;
}

/* 过渡动画 竖向渐变 */
.fade-transverse-leave-active,
.fade-transverse-enter-active {
	transition: all 0.5s;
}

.fade-transverse-enter {
	opacity: 0;
	transform: translateY(-30px);
}

.fade-transverse-leave-to {
	opacity: 0;
	transform: translateY(-30px);
}

/* 文本对齐 */

.t-left {
	text-align: left;
}

.t-center {
	text-align: center;
}

.t-right {
	text-align: right;
}

.hide{
	display: none;
}
.show{
	display: block;
}
.section{
	width: 1140px;
	margin: 0 auto;
}