<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  {{ partial "head.html" . }}
  <link rel="stylesheet" href="{{ "css/pagination.css" | relURL}}?t={{ mul 1000 (time now).Unix }}">
  <link href="{{ "css/knowadvance.css" | relURL}}?t={{ mul 1000 (time now).Unix }}" rel="stylesheet">
  <link href="{{ "css/cve.css" | relURL}}?t={{ mul 1000 (time now).Unix }}" rel="stylesheet">
  <body>

    <div id="all">

        <header>

          {{ partial "nav.html" . }}

        </header>

        {{ partial "breadcrumbs.html" . }}

        <div id="content">
            {{ if isset .Params "id" }}

              {{ partial .Params.id . }}

            {{ else }}

            <div class="container">
                

                {{ range .Params.modules }}

                <div class="item-frame">
                    <div class="type-title">{{ .name }}</div>
                    <div style="padding:10px;">
                        
                        {{ range .item }}

                        <div>
                            <div style="margin: 10px">
                                <div class="itemevent">
                                    <img src="/img/down.svg" alt="">
                                    <span class="item-title">{{ .name }}</span>
                                </div>
                                <div class="item-desc">{{ .desc }}</div>
                                <div class="item-detail-frame">

                                    {{ if .docs }}
                                    <div class="item-detail">
                                        <span class="detail-type-title docs-lable"></span>
                                        <ul>

                                            {{ range .docs }}

                                            <span class="item-link" style="color:#4D7DFF;"><li>{{ .name }}</li></span>

                                            {{ end }}
                                            
                                        </ul>
                                    </div>
                                    {{ end }}

                                    {{ if .videos }}
                                    <div class="item-detail">
                                        <span class="detail-type-title videos-lable"></span>
                                        <ul>
                                            {{ range .videos }}

                                            <span class="item-link" style="color:#DB7C61;"><li>{{ .name }}</li></span>

                                            {{ end }}
                                        </ul>
                                    </div>
                                    {{ end }}

                                    {{ if .practices }}
                                    <div class="item-detail">
                                        <span class="detail-type-title practices-lable"></span>
                                        <ul>
                                            {{ range .practices }}

                                            <span class="item-link" style="color:#2A9D8F;"><li>{{ .name }}</li></span>

                                            {{ end }}
                                            
                                        </ul>
                                    </div>
                                    {{ end }}

                                </div>
                            </div>
                        </div>

                        {{ end }}

                    </div>
                </div>

                {{ end }}
                   
                
            </div>


            {{ end }}
        </div>

        {{ partial "footer.html" . }}

    </div>


    {{ partial "scripts.html" . }}
    <script>

        var docs_label = {{  .Params.type_docs_label }};
        var video_label = {{  .Params.type_video_label }};
        var practice_label = {{  .Params.type_practice_label }};

        $(".itemevent").click(function(event){
            var $itemframe = $(this).parent().children(".item-detail-frame")
            if ($itemframe.css("display") == "none") {
                $itemframe.slideToggle(200);
                $itemframe.css("display", "inline-block");
            } else {
                $itemframe.slideToggle(200);
            }

            var imagedom = $(this).children("img")
            imagedom.toggleClass("expand-item");
            
            $(".docs-lable").text(docs_label);
            $(".videos-lable").text(video_label);
            $(".practices-lable").text(practice_label);

        })

    </script>
  </body>
</html>

