<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  {{ partial "head.html" . }}
  <link rel="stylesheet" href="{{ "css/pagination.css" | relURL}}?t={{ mul 1000 (time now).Unix }}">
  <link href="{{ "css/supportTools.css" | relURL}}?t={{ mul 1000 (time now).Unix }}" rel="stylesheet">

  <body>

    <div id="all">

        <header>

          {{ partial "nav.html" . }}

        </header>
        {{ partial "breadcrumbs.html" . }}

        <div id="content">
            {{ if isset .Params "id" }}

              {{ partial .Params.id . }}

            {{ else }}

            <div class="container">
                <div class="support-head">
                    <h2>{{ .Params.headtitle }} </h2>
                    <p>{{ .Params.headdesc }} </p>
                    <div class="stretch-img">
                        <img src={{ .Params.panorama }} alt="">
                    </div>
                </div>
                <div class="support-tools isPc">
                    <div class="left-tools hide">
                        {{ range .Params.list }}
                        {{ if eq .identification "connectors"}}
                        <div class="active">
                            <a href={{ "#" }}{{ .identification }}>{{ .name }}</a>
                        </div>
                        {{ else}}
                        <div>
                            <a href={{ "#" }}{{ .identification }}>{{ .name }}</a>
                        </div>
                        {{ end }}

                        {{ end }}
                    </div>
                    <div class="right-tools">
                    {{ $root := .Params}}
                        <div class="right-box">
                            <div class="tool-detail">
                                {{ range .Params.list }}
                                {{ $id := .identification}}
                                {{ $boxName := .name }}

                                <div class="tool-item" id={{ .identification }}>
                                    <div class="item-title">{{ $boxName }}</div>
                                    <div class="item-detail">

                                        {{ range $root.cards }}
                                        {{ if eq .iden $id}}
                                        <div class="item-box">
                                            <p class="item-name">{{.name}}</p>
                                            <p class="item-desc">{{.desc}}</p>
                                            <p class="item-link">
                                                <a href={{.address}} target="_blank">{{ if .website }}{{ $root.weblink}} {{ else }}{{$root.code}} {{ end }}</a>
                                                {{ if .guide }}<a href={{.guide}} target="_blank">{{$root.guidance}}</a> {{ end }}
                                            </p>
                                        </div>
                                        {{ end }}
                                        {{ end }}
                                    </div>
                                </div>
                                {{ end }}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="h5-support isH5">
                    <div class="right-box">
                        <div class="tool-detail">
                            {{ range .Params.list }}
                            {{ $id := .identification}}
                            {{ $boxName := .name }}

                            <div class="tool-item" id={{ .identification }}>
                                <div class="item-title">{{ $boxName }} {{ if eq .identification "connectors"}} <img src="/img/swiper/down.svg" alt="title icon"> {{ else }} <img src="/img/swiper/right.svg" alt="title icon">  {{ end}}</div>
                                <div class={{ if eq .identification "connectors"}} {{ "item-detail" }} {{ else }} {{ "item-detail hide" }} {{ end }}>
                                    {{ range $root.cards }}
                                    {{ if eq .iden $id}}
                                    <div class="item-box">
                                        <p class="item-name">{{.name}}</p>
                                        <p class="item-desc">{{.desc}}</p>
                                        <p class="item-link"><a href={{.address}}>{{ if .website }}{{ $root.weblink}} {{ else }}{{$root.code}} {{ end }}</a><a href={{.guide}}>{{$root.guidance}}</a></p>
                                    </div>
                                    {{ end }}
                                    {{ end }}
                                </div>

                            </div>
                            {{ end }}
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.container -->

            {{ end }}
        </div>
        <!-- /#content -->

        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->
    {{ partial "scripts.html" . }}
    <script src="{{ "js/pinchzoom.min.js" | relURL }}?t={{ mul 1000 (time now).Unix }}"></script>
    <script src="{{ "js/support-tools.js" | relURL }}?t={{ mul 1000 (time now).Unix }}"></script>

  </body>
</html>

