<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  {{ partial "head.html" . }}
  <link rel="stylesheet" href="{{ "css/pagination.css" | relURL}}?t={{ mul 1000 (time now).Unix }}">
  <link href="{{ "css/summit.css" | relURL}}?t={{ mul 1000 (time now).Unix }}" rel="stylesheet">
  <body>

    <div id="all">

        <header>

          {{ partial "nav.html" . }}

        </header>

       

        <div id="content">
            {{ if isset .Params "id" }}

              {{ partial .Params.id . }}

            {{ else }}
            <div class="summitPoster" style="background-image: url(/img/summit2021/bg@2x.png) ">
                <div class="poster">
                    <!-- <div class="info">
                        <h2>{{ .Params.summittitle }} </h2>
                        <h3>{{ .Params.slogan }} </h3>
                        <p class='txt time'>{{ .Params.time }} </p>
                        <p
                        <p class='txt address'>{{ .Params.address }} </p> 
                    </div>
                    <a class="btns" href='#liveNav'>{{ .Params.btn }}</a> -->
                    <div class="postertext" style="background-image: url(/img/summit2021/text@2x.png) "></div>
                </div>
            </div>
            <div class="container summitMain">  
                <p class="text">{{ .Params.infotext }} </p>
                <p class="text">{{ .Params.infotext1 }} </p>
                <h2 class="tit1" id="dayNav">{{ .Params.tit1 }} </h2> 
               
                {{ range .Params.module }} 
                    <div class="summit-container show"> 
                        <h3>{{ .daytime }}</h3> 
                        <div class='dateList'>  
                            {{ range $index, $item := .item}}
                                <div class="dataItem">
                                    <span class="time">{{ $item.time }}</span>
                                    <div class="info">
                                      {{ if $item.desc  }}
                                        <span>{{ $item.desc }} </span>
                                      {{ else }}  
                                        {{ range $index, $option := .option}}
                                          <span class="inline">{{ $option.desc }}</span>
                                        {{ end }}
                                      {{ end }}
                                    </div>
                                </div>  
                            {{ end }}
                        </div>  
                    </div>
                {{ end }}

                <div class="meeting-content "> 
                {{ range .Params.meetinglist }} 
                    <div class="meeting-item "> 
                      <a href="{{ .link }}" target="_blank">
                        <p class="title">{{ .name }}</p>
                        <p class="en">{{ .en }}</p>
                      </a>
                    </div>
                {{ end }}
              </div>
                

                <div class="review-wrapper">
                  <h2>精彩回顾</h2>
                  <div class="tile">
                    <a href="summit2021.html" target="_blank" class="link">openGauss Summit 2021</a>
                  </div>
                </div>
 
                <!-- <div class="fixed-nav">
                    <div class="js-to-top to-top">
                        <img src="/img/icon_top.svg" alt="">
                    </div>
                    <ul>
                        <li class="active">
                            <a href="#liveNav">{{ .Params.tit0}}</a>
                            <div class="icon-circle"></div>
                        </li>
                        <li class="">
                            <a href="#dayNav">{{ .Params.tit1}}</a>
                            <div class="icon-circle"></div>
                        </li>
                        <li class="">
                            <a href="#exhibition">{{ .Params.tit3}}</a>
                            <div class="icon-circle"></div>
                        </li>
                        <li class="">
                            <a href="#partnerNav">{{ .Params.tit2}}</a>
                            <div class="icon-circle"></div>
                        </li>
                    </ul>
                    <div class="icon-line"></div>
                </div> -->


            </div>
            <!-- /.container -->

            {{ end }}
        </div>
        <!-- /#content -->

        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}
    <script src="{{ "js/summit.js" | relURL }}?t={{ mul 1000 (time now).Unix }}"></script>
  </body>
</html>

