<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  {{ partial "head.html" . }}
  <link rel="stylesheet" href="{{ "css/pagination.css" | relURL}}?t={{ mul 1000 (time now).Unix }}">
  <link href="{{ "css/summit.css" | relURL}}?t={{ mul 1000 (time now).Unix }}" rel="stylesheet">
  <body>

    <div id="all">

        <header>

          {{ partial "nav.html" . }}

        </header>

       

        <div id="content">
            {{ if isset .Params "id" }}

              {{ partial .Params.id . }}

            {{ else }}
            <div class="summitPoster" style="background-image: url({{ .Site.BaseURL}}{{ .Params.poster }}) ">
                <div class="poster">
                    <div class="info">
                        <h2>{{ .Params.summittitle }} </h2>
                        <h3>{{ .Params.slogan }} </h3>
                        <p class='txt time'>{{ .Params.time }} </p>
                        <p class='txt address'>{{ .Params.address }} </p> 
                    </div>
                    <a target="_blank"  class="btns" href='{{ .Params.link }}'>{{ .Params.btn }}</a>
                </div>
            </div>
            <div class="container summitMain">  
                <p class="text">{{ .Params.infotext }} </p>
                <p class="text">{{ .Params.infotext1 }} </p>
                  
                <h2 class="tit0" id="liveNav">{{ .Params.tit0 }} </h2> 
                <div class="liveBox mo">  
                    <a href="javascript:;" data-id="10056">{{ .Params.vastdata }}</a>
                    <a href="javascript:;" class="center active" data-id="10055">{{ .Params.summittitle }}{{ .Params.fourm0 }}</a>
                    <a href="javascript:;" data-id="10058">{{ .Params.enmotech }}</a> 
                </div> 
                <iframe
                    id="livePage"
                    style="height:550px;"
                    allow="camera *;microphone *;"
                    border="0"
                    scrolling="no"
                    src=""
                    allowfullscreen="true"
                    webkitallowfullscreen="true"
                    mozallowfullscreen="true"
                ></iframe>
                <div class="liveBox pc">  
                    <a href="javascript:;" data-id="10056">{{ .Params.vastdata }}</a>
                    <a href="javascript:;" class="center active" data-id="10055">{{ .Params.summittitle }}{{ .Params.fourm0 }}</a>
                    <a href="javascript:;" data-id="10058">{{ .Params.enmotech }}</a> 
                </div> 
                <h2 class="tit1" id="dayNav">{{ .Params.tit1 }} </h2> 
                <ul class="timeTabs">
                    <li class="active">{{ .Params.forenoon }}</li>
                    <li>{{ .Params.afternoon }}</li>
                </ul>
                {{ range .Params.module }} 
                    <div class="summit-container show"> 
                        <h3>{{ .name }}</h3> 
                        <div class='dateList'>  
                            {{ range $index, $item := .item}}
                                <div class="dataItem">
                                    <span class="time">{{ $item.time }}</span>
                                    <span class="info">{{ $item.desc }}</span>
                                    <div class="box1">
                                        <span class="speaker">{{ $item.speaker }}</span>
                                        <span class="position">{{ $item.postion }} <br/>{{ $item.postion1 }}</span>
                                    </div>
                                </div>  
                            {{ end }}
                        </div>  
                    </div>
                {{ end }}

                <div class="summit-container">
                    <h3>{{ .Params.summittitle }}{{ .Params.fourm1 }}</h3>
                    <ul class="sub-tab">
                        {{ range .Params.list }}
                            {{ if eq .identification "hlsj"}}
                            <li class="active">
                                {{ .name }}
                            </li>
                            {{ else}}
                            <li class="">
                                {{ .name }}
                            </li>
                            {{ end }} 
                        {{ end }}
                    </ul>
                    {{ range .Params.submodule }}
                        {{ if eq .ide "hlsj"}}
                            <div class="sub-container show">   
                                <div class='dateList'>  
                                    {{ range $index, $item := .list}}
                                        <div class="dataItem">
                                            <span class="time">{{ $item.time }}</span>
                                            <span class="info">{{ $item.desc }}</span>
                                            <div class="box1">
                                                <span class="speaker">{{ $item.speaker }}</span>
                                                <span class="position">{{ $item.position }} </span>
                                            </div>
                                        </div>  
                                    {{ end }}
                                </div>  
                            </div>
                            {{ else}}
                                <div class="sub-container"> 
                                    <div class='dateList'>  
                                        {{ range $index, $item := .list}}
                                            <div class="dataItem">
                                                <span class="time">{{ $item.time }}</span>
                                                <span class="info">{{ $item.desc }}</span>
                                                <div class="box1">
                                                    <span class="speaker">{{ $item.speaker }}</span> 
                                                    <span class="position">{{ $item.position }} </span>
                                                </div>
                                            </div>  
                                        {{ end }}
                                    </div>  
                                </div> 
                        {{ end }}
                    {{ end }} 
                </div>  

                <h2 class="tit3" id="exhibition">{{ .Params.tit3 }} </h2>
                <div class="exhibitionContent"> 
                    <div class="mapPanel">
                        {{ range .Params.videolist }} 
                            {{ range $index, $item := .item}}
                                <a href="javascript:;" class='link' data-url='{{ .link }}'></a>
                            {{ end }}
                        {{ end }}
                        <img src="/img/summit/exhibition.png" alt="">
                    </div>
                </div>
                <!-- 线上展厅视频 -->
                <div class='video-container video-remove hidding'>
                    <div class='video-mask'></div>
                    <div class="video-alert video-center">
                        <video class="home-banner-video" width="100%" controls autoplay>
                        </video>
                    </div>
                </div>   


                <h2 class="tit2" id="partnerNav">{{ .Params.tit2 }} </h2>
                <div class="partnersInfo"> 
                    <div class="titleBar">
                        <p class="caption">指导单位</p>
                    </div>
                    <div class="links-imgs one">
                        <div class="line"><img src="/img/summit/csia.png" alt="中国软件行业协会"></div>
                        <div class="line"><img src="/img/summit/ccf.png" alt="中国计算机学会 数据库专业委员会"></div>
                    </div> 
                    <div class="titleBar">
                        <p class="caption">主办单位</p>
                    </div>
                    <div class="links-imgs one">
                        <div class="line"><img src="/img/summit/opengauss.png" alt="opengauss"></div>
                    </div>
                    <div class="titleBar">
                        <p class="caption">联办单位</p>
                        <p class="txt">（持续增加中）</p>
                    </div>
                    
                    <div class="links-box">
                        <div class="links-imgs ">
                            <div class="line"><img src="/img/summit/huawei.png" alt="华为公司"></div>
                            <div class="line"><img src="/img/summit/mobile.png" alt="中国移动"></div>  
                            <div class="line long"><img src="/img/summit/dx.png" alt="中国电信天翼云"></div> 
                        </div>
                        <div class="links-imgs ">
                            <div class="line"><img src="/img/summit/unicom.png" alt="中国联通"></div>
                            <div class="line"><img src="/img/summit/zhaoshangyinhang.png" alt="招商银行"></div>
                            <div class="line"><img src="/img/summit/huaxia.png" alt="华夏银行"></div>
                            <div class="line"><img src="/img/summit/ccb.png" alt="建设金融科技"></div> 
                        </div>
                        <div class="links-imgs "> 
                            <div class="line"><img src="/img/summit/vastdata.png" alt="海量数据"></div>  
                            <div class="line"><img src="/img/summit/enmotech.png" alt="云和恩墨"></div>
                            <div class="line"><img src="/img/summit/shenzhou.png" alt="神州通用"></div> 
                            <div class="line"><img src="/img/summit/sangfor.png" alt="深信服科技"></div> 
                        </div>
                        <div class="links-imgs "> 
                            <div class="line"><img src="/img/summit/SuperMap.png" alt="SuperMap"></div>
                            <div class="line"><img src="/img/summit/xugu.png" alt="虚谷伟业"></div>
                            <div class="line"><img src="/img/summit/gbase.png" alt="南大通用"></div> 
                            <div class="line"><img src="/img/summit/borrui.png" alt="柏睿数据"></div>
                        </div>
                        <div class="links-imgs "> 
                            <div class="line"><img src="/img/summit/uxsino.png" alt="优炫软件"></div> 
                            <div class="line"><img src="/img/summit/asiainfo.png" alt="亚信科技"></div> 
                            <div class="line"><img src="/img/summit/xrg.png" alt="星瑞格软件"></div> 
                            <div class="line"><img src="/img/summit/qcubic.png" alt="快立方"></div> 
                        </div>
                        <div class="links-imgs "> 
                            <div class="line"><img src="/img/summit/taiyangta.png" alt="太阳塔科技"></div> 
                        </div>
                    </div>
                </div>
 
                <div class="fixed-nav">
                    <div class="js-to-top to-top">
                        <img src="/img/icon_top.svg" alt="">
                    </div>
                    <ul>
                        <li class="active">
                            <a href="#liveNav">{{ .Params.tit0}}</a>
                            <div class="icon-circle"></div>
                        </li>
                        <li class="">
                            <a href="#dayNav">{{ .Params.tit1}}</a>
                            <div class="icon-circle"></div>
                        </li>
                        <li class="">
                            <a href="#exhibition">{{ .Params.tit3}}</a>
                            <div class="icon-circle"></div>
                        </li>
                        <li class="">
                            <a href="#partnerNav">{{ .Params.tit2}}</a>
                            <div class="icon-circle"></div>
                        </li>
                    </ul>
                    <div class="icon-line"></div>
                </div>


            </div>
            <!-- /.container -->

            {{ end }}
        </div>
        <!-- /#content -->

        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}
    <script src="{{ "js/summit.js" | relURL }}?t={{ mul 1000 (time now).Unix }}"></script>
  </body>
</html>

