@forward 'element-plus/theme-chalk/src/common/var.scss' with (
  $colors: (
    'primary': (
      'base': #7d32ea,
    ),
    'success': (
      'base': #82c04d,
    ),
    'warning': (
      'base': #f0934b,
    ),
    'danger': (
      'base': #f3524d,
    ),
    'error': (
      'base': #f3524d,
    ),
  )
);

@use 'element-plus/theme-chalk/src/index.scss' as *;

.el-dialog__header {
  &.show-close {
    padding-right: 0 !important;
  }
}
.el-select {
  --e-select-border-color: transparent;
  &:hover {
    box-shadow: var(--e-shadow-l1);
  }
  .el-select__wrapper {
    min-height: 36px;
    border-radius: 0;
    box-shadow: var(--e-shadow-l1);
    &.is-focused {
      --e-select-border-color: var(--e-color-brand1);
    }
    &.is-hovering {
      box-shadow: 0 0 0 1px var(--e-select-border-color) inset;
    }
    min-width: 240px;
  }
}
.el-pagination {
  .el-select {
    .el-select__wrapper {
      min-width: auto;
    }
  }
}
.el-date-editor {
  --el-component-size: 36px;
  --el-input-border-color: var(--e-color-border1);
  --el-input-border-radius: 0;
}

div.el-popper {
  --el-color-primary: var(--o-color-primary1);
  --el-border-radius-base: 16px;
  --el-popper-border-radius: 16px;
  --el-box-shadow-light: var(--o-shadow-2);
  --el-datepicker-border-color: var(--o-color-control1-light);
  --el-border-color-light: var(--o-color-control1-light);
  --el-popover-border-radius: 0;
  --el-popover-border-color: transparent;
  --el-border-color-light: transparent;

  .el-popper__arrow {
    display: none;
  }
}
[data-o-theme='g.dark'] .el-popper {
  --el-popover-border-color: var(--o-color-control4);
  --el-border-color-light: var(--o-color-control4);
}

.el-message {
  justify-content: center;
  top: 104px !important;
  height: 112px;
  border-radius: 0;
  background: var(--e-color-bg2) !important;
  box-shadow: var(--e-shadow-l4);
  font-size: var(--e-font-h4);
  --el-message-border-color: var(--e-color-bg2);
  min-width: 480px;
  .el-message__icon {
    margin-right: var(--e-spacing-h6);
    font-size: var(--e-font-size-h5);
  }

  .el-message__content {
    text-overflow: -o-ellipsis-lastline;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    color: var(--e-color-text1) !important;
    font-size: var(--e-font-size-h7);
  }

  @media screen and (max-width: 867px) {
    height: inherit;
    max-width: 280px;
    min-width: 0;

    .el-message__icon {
      font-size: var(--e-font-size-h8);
    }

    .el-message__content {
      font-size: var(--e-font-size-tip);
    }
  }
}
.home-loading {
  .el-loading-mask {
    display: none;
  }
}
:is(.el-loading-parent--relative) {
  pointer-events: auto;
  user-select: auto;
}
:is(.el-button, .el-message-box) {
  border-radius: 0;
}
