<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  {{ partial "head.html" . }}
  <link rel="stylesheet" href="{{ "css/download.css" | relURL}}">    
  <body>

    <div id="all">

        <header>

          {{ partial "nav.html" . }}

        </header>

        {{ partial "breadcrumbs.html" . }}

        <div id="content">
            {{ if isset .Params "id" }}

              {{ partial .Params.id . }}

            {{ else }}

            <div class="container">
                <p class="version">{{ i18n "download_version" }}</p>
                <select class="download-sel">
                    <option selected value ="2">1.0.1</option>
                    <option value ="1">1.0.0</option>
                </select>
                <div class="table-nav">
                    <div class="table-option active">
                        <i class="icon icon1"></i>
                        <p>{{ .Params.optionOne }}</p>
                    </div>
                    <div class="table-option">
                        <i class="icon icon2"></i>
                        <p>{{ .Params.optionTwo }}</p>
                    </div>
                    <div class="table-option option-v2">
                        <i class="icon icon3"></i>
                        <p>{{ .Params.optionThere }}</p>
                    </div>
                </div>

                <div class="table-content">
                    <div class="content-one">{{ partial "download/server" . }}</div>
                    <div class="table-hide">{{ partial "download/connectors" . }}</div>
                    <div class="table-hide">{{ partial "download/tools" . }}</div>
                </div>

                <div class="download_link hide version1">
                  <p>{{ i18n "download_release_notes" }}<a href="{{ i18n "download_release_notes_link" }}">{{ i18n "download_release_notes_link" }}</a></p>
                  <p>{{ i18n "download_installation_guide" }}<a href="{{ i18n "download_installation_guide_link" }}">{{ i18n "download_installation_guide_link" }}</a></p>
                  <p>{{ i18n "download_feedback_question" }}<a href="{{ i18n "download_feedback_question_link" }}" target="_blank">{{ i18n "download_feedback_question_link" }}</a></p>
                </div>
                <div class="download_link version2">
                    <p>{{ i18n "download_release_notes" }}<a href="{{ i18n "download_release_notes_link_1_0_1" }}">{{ i18n "download_release_notes_link_1_0_1" }}</a></p>
                    <p>{{ i18n "download_installation_guide" }}<a href="{{ i18n "download_installation_guide_link_1_0_1" }}">{{ i18n "download_installation_guide_link_1_0_1" }}</a></p>
                    <p>{{ i18n "download_feedback_question" }}<a href="{{ i18n "download_feedback_question_link" }}" target="_blank">{{ i18n "download_feedback_question_link" }}</a></p>
                </div>

            </div>

            {{ end }}

            <!-- <div class="building">
              <img src="/img/download/building.png">
              <h4>{{ i18n "download_build" }}</h4>
              <p class="buttons">
                <a href="{{ .Site.BaseURL | relLangURL }}" class="btn btn-template-main">
                    <i class="fa fa-home"></i>{{ i18n "404_homepage" }}
                </a>
              </p>
            </div> -->
        </div>
        <!-- /#content -->

        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}
    <script src="{{ "js/download.js" | relURL }}"></script>
  </body>
</html>

