<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  {{ partial "head.html" . }}
  <link href="{{ "css/download.css" | relURL}}?t={{ mul 1000 (time now).Unix }}" rel="stylesheet">    
  <link href="{{ "js/combobox/select.css" | relURL}}?t={{ mul 1000 (time now).Unix }}" rel="stylesheet">    
  <body>

    <div id="all">

        <header>

          {{ partial "nav.html" . }}

        </header>

        {{ partial "breadcrumbs.html" . }}

        <div id="download-content">
            <div class="download-container">
              <div class="sel-version">
                <span class="download-version">{{ i18n "download_version" }}</span>
                <div class="select-option">
                  <select class="download-sel-version">
                    <option value="5">2.0.1</option>
                    <option value="4">2.0.0</option>
                    <option value="3">1.1.0</option>
                    <option value="2">1.0.1</option>
                    <option value="1">1.0.0</option>
                  </select>
                </div>
              </div>
              <div class="download-discri download-version-5">
                <a href="{{ i18n "download_release_notes_link_2_0_1" }}" target="_blank">{{ i18n "download_release_notes" }}</a>
                <span></span>
                <a href="{{ i18n "download_installation_guide_link_2_0_1" }}" target="_blank">{{ i18n "download_enterprise_installation_guide" }}</a>
                <span></span>
                <a href="{{ i18n "download_simple_installation_guide_link_2_0_1" }}" target="_blank">{{ i18n "download_simple_installation_guide" }}</a>
                <span></span>
                <a href="{{ i18n "download_feedback_question_link" }}" target="_blank">{{ i18n "download_feedback_question" }}</a>
              </div>
              <div class="download-discri download-version-4 hide">
                <a href="{{ i18n "download_release_notes_link_2_0_0" }}" target="_blank">{{ i18n "download_release_notes" }}</a>
                <span></span>
                <a href="{{ i18n "download_installation_guide_link_2_0_0" }}" target="_blank">{{ i18n "download_enterprise_installation_guide" }}</a>
                <span></span>
                <a href="{{ i18n "download_simple_installation_guide_link_2_0_0" }}" target="_blank">{{ i18n "download_simple_installation_guide" }}</a>
                <span></span>
                <a href="{{ i18n "download_feedback_question_link" }}" target="_blank">{{ i18n "download_feedback_question" }}</a>
              </div>
              <div class="download-discri download-version-3 hide">
                <a href="{{ i18n "download_release_notes_link_1_1_0" }}" target="_blank">{{ i18n "download_release_notes" }}</a>
                <span></span>
                <a href="{{ i18n "download_installation_guide_link_1_1_0" }}" target="_blank">{{ i18n "download_installation_guide" }}</a>
                <span></span>
                <a href="{{ i18n "download_feedback_question_link" }}" target="_blank">{{ i18n "download_feedback_question" }}</a>
              </div>
              <div class="download-discri download-version-2 hide">
                <a href="{{ i18n "download_release_notes_link_1_0_1" }}" target="_blank">{{ i18n "download_release_notes" }}</a>
                <span></span>
                <a href="{{ i18n "download_installation_guide_link_1_0_1" }}" target="_blank">{{ i18n "download_installation_guide" }}</a>
                <span></span>
                <a href="{{ i18n "download_feedback_question_link" }}" target="_blank">{{ i18n "download_feedback_question" }}</a>
              </div>
              <div class="download-discri download-version-1 hide">
                <a href="{{ i18n "download_release_notes_link" }}" target="_blank">{{ i18n "download_release_notes" }}</a>
                <span></span>
                <a href="{{ i18n "download_installation_guide_link" }}" target="_blank">{{ i18n "download_installation_guide" }}</a>
                <span></span>
                <a href="{{ i18n "download_feedback_question_link" }}" target="_blank">{{ i18n "download_feedback_question" }}</a>
              </div>
            </div>
            
            <div class="download-content download-version-5">{{ partial "download/version5" . }}</div>
            <div class="download-content download-version-4 hide">{{ partial "download/version4" . }}</div>
            <div class="download-content download-version-3 hide">{{ partial "download/version3" . }}</div>
            <div class="download-content download-version-2 hide">{{ partial "download/version1" . }}</div>
            <div class="download-content download-version-1 hide">{{ partial "download/version2" . }}</div>


            <input id="copy-input-hide" type="text" style='opacity: 0;height: 0;border: none;'>
            <div class="copy-success">
              <div class="copy-success-content">
                <img style="width: 16px;height: 16px;margin-right: 10px;" src="/img/download/copy-success.png" alt="">
                <span>{{ i18n "copy__success_discri" }}</span>
              </div>
            </div>

          <div class="questionnaire">
            {{ if .Params.userQuestionnaire }}
            <div class="ques-icon">
              <img src="/img/download/fax-icon.png" alt="">
              <div class="ques-info">
                <p>{{ .Params.letter }}</p>
                <p class="letter-2">{{ .Params.quesInfo }}</p>
                <p class="btn-jump"><a href={{ .Params.feedbackLink}} target="_blank">{{ .Params.feedback}}</a></p>
              </div>
            </div>
            {{end}}
          </div>
        </div>

        {{ partial "footer.html" . }}

    </div>

    {{ partial "scripts.html" . }}
    <script src="{{ "js/combobox/select.js" | relURL }}?t={{ mul 1000 (time now).Unix }}"></script>
    <script src="{{ "js/download.js" | relURL }}?t={{ mul 1000 (time now).Unix }}"></script>
  </body>
</html>

