<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  {{ partial "head.html" . }}

  <body>

    <div id="all">

        <header>

          {{ partial "nav.html" . }}

        </header>

        {{ partial "breadcrumbs.html" . }}

        <div id="content">
            {{ if isset .Params "id" }}

              {{ partial .Params.id . }}

            {{ else }}

            <div class="container">

                <div class="table-nav">
                    <div class="table-option active">
                        <i class="icon icon1"></i>
                        <p>{{ .Params.optionOne }}</p>
                    </div>
                    <div class="table-option">
                        <i class="icon icon2"></i>
                        <p>{{ .Params.optionTwo }}</p>
                    </div>
                    <!-- <div class="table-option">
                        <i class="icon icon3"></i>
                        <p>{{ .Params.optionThere }}</p>
                    </div> -->
                </div>

                <div class="table-content">
                    <div class="content-one">{{ partial "download/server" . }}</div>
                    <div class="table-hide">{{ partial "download/connectors" . }}</div>
                    <!-- <div class="table-hide">{{ partial "download/tools" . }}</div> -->
                </div>

                <div class="download_link">
                  <p>{{ i18n "download_release_notes" }}<a href="{{ i18n "download_release_notes_link" }}">{{ i18n "download_release_notes_link" }}</a></p>
                  <p>{{ i18n "download_installation_guide" }}<a href="{{ i18n "download_installation_guide_link" }}">{{ i18n "download_installation_guide_link" }}</a></p>
                  <p>{{ i18n "download_feedback_question" }}<a href="{{ i18n "download_feedback_question_link" }}">{{ i18n "download_feedback_question_link" }}</a></p>
                </div>

            </div>

            {{ end }}

            <!-- <div class="building">
              <img src="/img/download/building.png">
              <h4>{{ i18n "download_build" }}</h4>
              <p class="buttons">
                <a href="{{ .Site.BaseURL | relLangURL }}" class="btn btn-template-main">
                    <i class="fa fa-home"></i>{{ i18n "404_homepage" }}
                </a>
              </p>
            </div> -->
        </div>
        <!-- /#content -->

        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

  </body>
</html>

