<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  {{ partial "head.html" . }}
  <link rel="stylesheet" href="{{ "css/pagination.css" | relURL}}?t={{ mul 1000 (time now).Unix }}">
  <link href="{{ "css/training.css" | relURL}}?t={{ mul 1000 (time now).Unix }}" rel="stylesheet">

  <body>

    <div id="all">

        <header>

          {{ partial "nav.html" . }}

        </header>
<div id="introduction"></div>
        {{ partial "breadcrumbs.html" . }}

        <div id="content">
            {{ if isset .Params "id" }}

              {{ partial .Params.id . }}

            {{ else }}

            <div class="container">

                <div class="training">
                    <div class="train-introduction">
                        <h2>{{ .Params.introtitle }}</h2>
                        <div class="intro-info">
                            <div>
                                <p>{{ .Params.intro1 }}</p><br><br>
                                <p>{{ .Params.intro2 }}</p>
                            </div>
                            <img src="/img/training/partner.png" alt="partner of openGauss training">
                        </div>
                    </div>
                    <div class="train-advantage" id="advantage">
                        <h2>{{ .Params.advantage }}</h2>
                        <div class="adv-box">
                            {{ $post := .Params}}
                            {{ range .Params.adv }}
                            <div class="adv-item {{ if eq .dark "true"}} dark {{end }}">
                                <h3>{{ .advTitle }}</h3>
                                <p>{{ .advDes1 }}</p>
                                <p>{{ .advDes2 }}</p>
                            </div>
                            {{ end }}
                        </div>
                    </div>
                    <div class="train-system" id="system">
                        <h2>{{ .Params.systemtitle }}</h2>
                        <div class="sys-content">
                            <div class="sys-short js-toggle-level">
                                {{ range .Params.system}}
                                <div class="sys-mini-box {{ .name }}">
                                    <div class="mini-head" index="{{ .name }}">
                                        <p class="head-title"><span>{{ .level }}</span>{{ upper .name}}</p>
                                        <p>{{ .des }}</p>
                                    </div>
                                    {{ if .empty }}
                                    <div class="mini-footer">
                                        <p class="foot-module">{{ .module }}</p>
                                        <p class="foot-content">
                                        <p>{{ .contenttitle }}</p>
                                        <p>{{ .content }}</p></p>
                                        <p>{{ .trainDay }}</p>
                                        <p>{{ .trainCosts }} {{ if .origintrain }} <span class="line-through">{{ .origintrain }}</span> {{ $post.costeach }} {{ end }}</p>
                                        <p>{{ .examCoste }} {{ if .originexam }} <span class="line-through">{{ .originexam }}</span> {{ $post.costeach }} {{ end }}</p>
                                        <div class="foot-{{.name}} isH5 hide">
                                            <div class="sys-footer">
                                                <p>{{ .outline }}</p>
                                                <div class="outline-box empty">
                                                    <img src="/img/training/no-data.png" alt="coming soon">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="more-btn" index="foot-{{.name}}">
                                            <p>
                                                <span>{{ i18n "video_more" }}</span>
                                                <i class="icon-down"></i>
                                            </p>
                                        </div>
                                        <div class="hide-btn hide" index="foot-{{.name}}">
                                            <p>
                                                <span>{{ i18n "video_default" }}</span>
                                                <i class="icon-up"></i>
                                            </p>
                                        </div>
                                    </div>
                                    {{ else }}
                                    <div class="mini-footer">
                                        <p class="foot-module">{{ .module }}</p>
                                        <p class="foot-content">
                                        <p>{{ .contenttitle }}</p>
                                        <p>{{ .content }}</p>
                                        <p>{{ .trainDay }}</p>
                                        <p>{{ .trainCosts }} {{ if .origintrain }} <span class="line-through">{{ .origintrain }}</span> {{ $post.costeach }} {{ end }}</p>
                                        <p>{{ .examCoste }} {{ if .originexam }} <span class="line-through">{{ .originexam }}</span> {{ $post.costeach }} {{ end }}</p>
                                        </p>
                                        <div class="foot-ogca isH5 hide">
                                            <div class="sys-footer">
                                                <p>{{ .outline }}</p>
                                                <div class="outline-box">
                                                    {{ range $post.ogcacard }}
                                                    <div class="outline-head">
                                                        <div class="default-card">
                                                            <div class="outline-num">{{ .num }}</div>
                                                            <div class="outline-card">
                                                                <p>{{ .cardtitle }}</p>
                                                                <p>
                                                                    <span class="card-period"></span>
                                                                    {{ .period }}
                                                                </p>
                                                            </div>
                                                            <span class="card-icon opened"></span>
                                                            <div class="visible-card hide">
                                                                {{ if .des1 }}<p>{{ .des1 }}</p>{{ end }}
                                                                {{ if .des2 }}<p>{{ .des2 }}</p>{{ end }}
                                                                {{ if .des3 }}<p>{{ .des3 }}</p>{{ end }}
                                                                {{ if .des4 }}<p>{{ .des4 }}</p>{{ end }}
                                                                {{ if .des5 }}<p>{{ .des5 }}</p>{{ end }}
                                                                {{ if .des6 }}<p>{{ .des6 }}</p>{{ end }}
                                                                {{ if .des7 }}<p>{{ .des7 }}</p>{{ end }}
                                                                {{ if .des8 }}<p>{{ .des8 }}</p>{{ end }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    {{ end }}
                                                </div>
                                                <p><a href="{{ $post.downurl1}}" download>{{ $post.downpdf1 }}</a></p>
                                                <p><a href="{{ $post.downurl2}}" download>{{ $post.downpdf2 }}</a></p>
                                            </div>
                                        </div>
                                        <div class="more-btn" index="foot-ogca">
                                            <p>
                                                <span>{{ i18n "video_more" }}</span>
                                                <i class="icon-down"></i>
                                            </p>
                                        </div>
                                        <div class="hide-btn hide" index="foot-ogca">
                                            <p>
                                                <span>{{ i18n "video_default" }}</span>
                                                <i class="icon-up"></i>
                                            </p>
                                        </div>
                                    </div>
                                    {{ end }}
                                </div>
                                {{ end }}
                            </div>
                            {{ range .Params.system }}
                            {{ if .empty}}
                            <div class="sys-{{.name}}">
                                <div class="sys-header">
                                    <div class="head-box">
                                        <div class="head-left">
                                            <p class="head-title"><span>{{ .level }}</span>{{ upper .name}}</p>
                                            <p>{{ .des }}</p>
                                        </div>
                                        <div class="head-right">
                                            {{ .description }}
                                        </div>
                                        <img src="/img/training/arrow.svg" alt="click to expand">
                                    </div>
                                    <div class="sys-footer">
                                        <p>{{ .outline }}</p>
                                        <div class="outline-box empty">
                                            <img src="/img/training/no-data.png" alt="coming soon">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{ else}}
                            <div class="sys-{{.name}}">
                                <div class="sys-header">
                                    <div class="head-box">
                                        <div class="head-left">
                                            <p class="head-title"><span>{{ .level }}</span>{{ upper .name}}</p>
                                            <p>{{ .des }}</p>
                                        </div>
                                        <div class="head-right">
                                            {{ .description }}
                                        </div>
                                        <img src="/img/training/arrow.svg" alt="click to expand">
                                    </div>
                                    <div class="sys-footer">
                                        <p>{{ .outline }}</p>
                                        <div class="outline-box">
                                            {{ range $post.ogcacard}}
                                            <div class="outline-head">
                                                <div class="default-card ">
                                                    <div class="outline-num">{{ .num }}</div>
                                                    <div class="outline-card">
                                                        <p>{{ .cardtitle }}</p>
                                                        <p>
                                                            <img src="/img/training/period.svg" alt="default period icon">
                                                            {{ .period }}
                                                        </p>
                                                    </div>
                                                    <span class="card-icon"></span>
                                                </div>
                                                <div class="detail-card hide">
                                                    <div class="outline-num">{{ .num }}</div>
                                                    <div class="outline-card">
                                                        <p>{{ .cardtitle }}</p>
                                                        <p>
                                                            <img src="/img/training/periodW.svg" alt="white period icon">
                                                            {{ .period }}
                                                        </p>
                                                    </div>
                                                    <span class="card-icon opened"></span>
                                                    <div class="visible-card">
                                                        {{ if .des1 }}<p>{{ .des1 }}</p>{{ end }}
                                                        {{ if .des2 }}<p>{{ .des2 }}</p>{{ end }}
                                                        {{ if .des3 }}<p>{{ .des3 }}</p>{{ end }}
                                                        {{ if .des4 }}<p>{{ .des4 }}</p>{{ end }}
                                                        {{ if .des5 }}<p>{{ .des5 }}</p>{{ end }}
                                                        {{ if .des6 }}<p>{{ .des6 }}</p>{{ end }}
                                                        {{ if .des7 }}<p>{{ .des7 }}</p>{{ end }}
                                                        {{ if .des8 }}<p>{{ .des8 }}</p>{{ end }}
                                                    </div>
                                                </div>
                                            </div>
                                            {{ end }}
                                        </div>
                                        <p><a href="{{ $post.downurl1}}" download>{{ $post.downpdf1 }}</a></p>
                                        <p><a href="{{ $post.downurl2}}" download>{{ $post.downpdf2 }}</a></p>
                                    </div>
                                </div>
                            </div>
                            {{ end }}
                            {{ end }}
                        </div>

                    </div>
                    <div class="train-step" id="step">
                        <h2>{{ .Params.steptitle }}</h2>
                        <div class="step-box">
                            <a class="step-1 step-item" href="https://enmoedu.com/" target="_blank">
                                <p>{{ .Params.step1 }}</p>
                            </a>
                            <img src="/img/training/Line.svg" alt="divider line">
                            <div class="step-2 step-item">
                                <p>{{ .Params.step2 }}</p>
                            </div>
                            <img src="/img/training/Line.svg" alt="divider line">
                            <div class="step-3 step-item">
                                <p>{{ .Params.step3 }}</p>
                            </div>
                            <img src="/img/training/Line.svg" alt="divider line">
                            <div class="step-4 step-item">
                                <p>{{ .Params.step4 }}</p>
                            </div>
                            <img src="/img/training/Line.svg" alt="divider line">
                            <div class="step-5 step-item">
                                <p>{{ .Params.step5 }}</p>
                            </div>
                            <img src="/img/training/Line.svg" alt="divider line">
                            <div class="step-6 step-item">
                                <p>{{ .Params.step6 }}</p>
                            </div>
                            <img src="/img/training/Line.svg" alt="divider line">
                            <div class="step-7 step-item">
                                <p class="longer">{{ .Params.step7 }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="train-qa" id="qa">
                        <h2>{{ .Params.qatitle }}</h2>
                        <div class="qa-box">
                            {{ range .Params.qa}}
                            <div class="qa-item">
                                <p class="qa-question">{{ .question }}</p>
                                <span class="open-icon"></span>
                                <p class="qa-answer">{{ .answer }} {{ if .link}} <a href="{{ .url }}" target="_blank">{{ .link }}</a> {{ end }}</p>
                            </div>
                            {{ end }}
                        </div>
                    </div>

                <div class="train-contact">
                    <p>{{ .Params.contact }}<a href="mailto:{{ .Params.contactemail }}">{{ .Params.contactemail }}</a>{{ .Params.contactend }}</p>
                </div>

                <div class="fixed-nav">
                    <div class="js-to-top to-top">
                        <img src="/img/icon_top.svg" alt="back to top">
                    </div>
                    <ul>
                        <li class="active">
                            <a href="#introduction">{{ .Params.introtitle }}</a>
                            <div class="icon-circle"></div>
                        </li>
                        <li class="">
                            <a href="#advantage">{{ .Params.advantage }}</a>
                            <div class="icon-circle"></div>
                        </li>
                        <li class="">
                            <a href="#system">{{ .Params.systemtitle }}</a>
                            <div class="icon-circle"></div>
                        </li>
                        <li class="">
                            <a href="#step">{{ .Params.steptitle }}</a>
                            <div class="icon-circle"></div>
                        </li>
                        <li class="">
                            <a href="#qa">{{ .Params.qatitle }}</a>
                            <div class="icon-circle"></div>
                        </li>
                    </ul>
                    <div class="icon-line"></div>
                </div>

                <div class="discount-limited">
                    <div class="dis-box">
                        <img src="/img/training/discount.png" alt="limited-time discount">
                        <div class="discount-info">
                            <h5>{{.Params.discounttitle}}</h5>
                            <div class="train-price price">
                                <p><span class="title">{{.Params.traintitle}}</span><span class="line-through">{{.Params.traincos}}</span></p>
                                <p class="discount">{{.Params.limited}}<span class="big-font">{{.Params.trainoffset}}</span>{{.Params.disunit}}<span class="big-font">{{.Params.trainprice}}</span>{{.Params.yuan}}</p>
                            </div>
                            <div class="exam-price price">
                                <p><span class="title">{{.Params.examtitle}}</span><span class="line-through">{{.Params.examcos}}</span></p>
                                <p class="discount">{{.Params.limited}}<span class="big-font">{{.Params.examoffset}}</span>{{.Params.disunit}}<span class="big-font">{{.Params.examprice}}</span>{{.Params.yuan}}</p>
                            </div>
                            <div class="sign-up">
                                <p><span class="des-title">{{.Params.eventdl}}</span>{{.Params.dlday}}</p>
                                <p><span class="des-title">{{.Params.signup}}</span>{{.Params.signwechat}}</p>
                            </div>
                            <div class="teacher">
                                <p>{{.Params.teacher1}}</p>
                                <p>{{.Params.phone1}}</p>
                            </div>
                            <div class="teacher">
                                <p>{{.Params.teacher2}}</p>
                                <p>{{.Params.phone2}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="masker"></div>
                </div>
                </div>
            </div>
            <!-- /.container -->

            {{ end }}
        </div>
        <!-- /#content -->

        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->
    {{ partial "scripts.html" . }}
        <script src="{{ "js/training.js" | relURL }}?t={{ mul 1000 (time now).Unix }}"></script>

  </body>
</html>

