<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  {{ partial "head.html" . }}
  <link rel="stylesheet" href="{{ "css/trainsearch.css" | relURL}}?t={{ mul 1000 (time now).Unix }}">
  <body>

    <div id="all">

        <header>

          {{ partial "nav.html" . }}
        </header>

        <div id="content">
            {{ if eq .Params.pageId "search"}}
            <div class="container train-search community-search">
                <h3>{{ .Params.downcard }}</h3>

                <div class="searching is-searching">
                    <div>{{ .Params.searchdisc }}</div>

                    <div class="searching-content">
                        <div class="email">
                            <input placeholder={{ .Params.emailhoder }} class="email-address">
                        </div>

                        <div class="number">
                            <input class="num-vertivation" placeholder={{ .Params.codehoder }}>
                            <button class="send-button button" type="primary" size="medium" plain>{{.Params.sendcode}}</button>
                            <div class="send-tip"></div>
                        </div>

                        <button class="submit-button button" type="primary" size="medium">{{ .Params.btnsure}}</button>
                    </div>
                </div>

                <div class="searching no-searching">
                    <div>{{ .Params.searchinfo }}</div>
                    <div class="get-cred">
                        <div id="test"></div>
                    </div>

                    <div class="not-cred">{{.Params.nocard}}</div>

                    <div class="down-cred">
                        <button class="button" type="primary" size="medium">{{ .Params.downcard}}</button>
                    </div>
                </div>
            </div>
            {{ end }}

            {{ if eq .Params.pageId "down"}}
            <div class="container community-search train-down">
                <div class="community-search">
                    <h3>{{.Params.downcard}}</h3>
                    <div class="searching is-searching hide">
                        <div>{{ .Params.downtip}}</div>
                        <div class="searching-content">
                            <div class="number">
                                <input class="num-vertivation" placeholder={{.Params.codehoder}} clearable>
                                <button class="send-button button" type="primary" size="medium" plain>{{.Params.sendcode }}</button>
                                <div class="send-tip"></div>
                            </div>
                            <button class="submit-button button" type="primary" size="medium">{{.Params.btnsure}}</button>
                        </div>
                    </div>
                    <div class="invalid-url">
                        <span>{{.Params.failleft}}</span>
                        <span class="down">{{.Params.downcard}}</span>
                        <span>{{.Params.failright}}</span>
                    </div>
                </div>
            </div>
            {{ end }}
        </div>
        <div id="code"></div>

        <!-- /#content -->

        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->
    {{ partial "scripts.html" . }}

    {{ if eq .Params.pageId "search"}}
    <script src="{{ "js/trainsearch.js" | relURL }}?t={{ mul 1000 (time now).Unix }}"></script>
    {{ end }}

    {{ if eq .Params.pageId "down"}}
    <script src="{{ "js/traindown.js" | relURL }}?t={{ mul 1000 (time now).Unix }}"></script>
    {{ end }}
  </body>
</html>
