<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  {{ partial "head.html" . }}
  <link rel="stylesheet" href="{{ "css/cve.css" | relURL}}?t={{ mul 1000 (time now).Unix }}">
  <body>

    <div id="all">

        <header>

          {{ partial "nav.html" . }}
        </header>

        <div id="content">
            <div class="container ad-detail">
                <div class="ad-detail-head">
                    <a href="{{ i18n "security_advisories_all_url" }}">{{ i18n "security_advisories_detail_text" }}</a>
                    <h2 class="js-h2"></h2>
                    <p><span>{{ .Params.release_time }}：</span><span class="js-release-data"></span></p>
                </div>

                <div class="ad-detail-content">
                    <div class="tag-title">
                        <div class="summary-tag active">{{ .Params.overview }}</div>
                        <div class="package-tag">{{ .Params.update_pack }}</div>
                    </div>
                    <div class="summary-content active">
                        <h2>{{ .Params.intro }}</h2>
                        <p class="js-summary"></p>
                        <h2>{{ .Params.severity }}</h2>
                        <p class="js-cveLevel"></p>
                        <h2>{{ .Params.theme }}</h2>
                        <p class="js-theme"></p>
                        <h2>{{ .Params.desc }}</h2>
                        <p class="js-description"></p>
                        <h2>{{ .Params.affected_component }}</h2>
                        <p class="js-influence"></p>
                        <h2>CVE</h2>
                        <p class="js-cve"></p>
                        <h2>{{ .Params.reference }}</h2>
                        <p class="js-reference"></p>
                    </div>

                    <div class="package-content js-pack"></div>
                </div>

                <!-- /.row -->

            </div>
            <!-- /.container -->
        </div>
        <!-- /#content -->

        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}
    <script src="{{ "js/advisory.js" | relURL }}?t={{ mul 1000 (time now).Unix }}"></script>

  </body>
</html>
