

/*valine 评论系统样式*/

div#comments.comments.v{
  margin-top: 0px !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
}

div.vheader.item2{
  border-bottom: 1px solid #5f5f5f;
  height: 35px !important;
}

.v .vwrap .vheader.item2 .vinput{
  height: 30px !important;
  border: 0px !important;
  width: 25% !important;
  margin: 0px !important;
}

input.vnick.vinput{
  border-right: 2px solid #a4d8fa !important;
}

div.vcontrol{
  padding-top: 0px !important;
}

div#comments.comments.v{
  border: 0px;
}

.v .vwrap{
  border: 2px solid black !important;
  overflow: visible !important;
  counter-reset: avater;
}

.v .vwrap .vedit .vemojis{
  width: 600px !important;
  background-color: #fff !important;
  border-radius: 5px !important;
}

.v .vwrap .vedit .vpreview {
  width: 600px !important;
  background-color: #fff !important;
  border-radius: 5px !important;
}

.v .vbtn{
  background-color: #5f5f5f !important;
  color: #fff !important;
}

.v .vwrap .vedit .vctrl{
  text-align: left !important;
}

.v .vwrap .vedit .vctrl span{
  background-color: #7f7f7f !important;
  color: #fff !important;
  border-radius: 3px !important;
  padding: 3px !important;
}

.v .vwrap .vedit .vctrl{
  padding: 0px !important;
  margin: 0px !important;
}


.v .veditor{
  min-height: 70px !important;
  height: 70px !important;
}

.v .vlist .vquote .vcard{
    border-left:1px solid #E4E6F1;
    margin-top:5px;
}


.v .vlist .vcard .vhead .vsys{
  display: none !important;
  background-color: #fff !important;
}

.v .vlist .vcard .vh .vmeta .vat{
  background-color: #7f7f7f !important;
  color: #fff !important;
  border-radius: 3px !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
}



.v .vlist .vcard .vh .vquote .vmeta{
    margin-right:50px;
}

.v .vlist .vcard .vquote{
  counter-reset: avaters;
}



.v .vlist .vcard  p{
  margin-bottom: 0px !important;
  color: #666;
  text-align: left;
  letter-spacing: 3px; 
  line-height: 25.59375px;
}
.v .vlist .vcard .vquote a.at{
  float: left;
  margin-right: 13px; 
  color: #567843;
  text-decoration: none;
}

.v .vlist .vcard .vquote .vcontent{
  font-size: 15px;
  font-weight: 200;
}

.v .vlist .vcard .vcontent{
  margin-top: 58px !important;
  font-size: 15px !important;
  font-weight: 500 !important;
  padding-top: 0px !important;
}


.v .vlist .vcard{
  padding-top: 8px !important;
}

.v .vlist .vcard .vhead{
  float: left !important;
}

.v .vlist .vcard .vh .vmeta{
  float: right !important;
}

.v .vlist .vcard .vcontent.expand:after{
  content: "点击查看全部" !important;
  font-weight: 400 !important;
}
.power{
    display:none;
} 
.v .vwrap .vedit .vctrl{
    display:none !important;
}

/**/