<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  {{ partial "head.html" . }}
  <link href="{{ "css/events.css" | relURL}}?t={{ mul 1000 (time now).Unix }}" rel="stylesheet">

  <body>

    <div id="all">

        <header>

          {{ partial "nav.html" . }}

        </header>

        {{ partial "breadcrumbs.html" . }}

        <div id="content">
            <div class="container">
                <div class="row">
                    <!-- *** LEFT COLUMN *** -->

                    <div class="col-md-12" id="blog-listing-medium">

                        {{ $paginator := .Paginate (where .Data.Pages "Type" "events") }}

                        <div class="event-list isPc">
                            <div class="event-tag col-md-2">
                                <p class="tag-item tag-coming active">{{ i18n "event_coming"}}</p>
                                <p class="tag-item tag-back">{{ i18n "event_lookback"}}</p>
                            </div>
                            <div class="event-right  col-md-10">
                                <div class="js-pc-latest event-item-content hide js-clone-out">
                                    <p class="item-line">
                                        <img src="/img/events/event-open.svg">
                                        <span class="event-item-time"></span>
                                    </p>
                                </div>
                                <div class="event-item-box js-clone-inside hide">
                                    <div class="item-box-left">
                                        <p class="item-left-time">
                                            <img src="/img/events/icon_time.svg" alt="">
                                            <span></span>
                                        </p>
                                        <p class="item-left-location">
                                            <img src="/img/events/icon_loca.svg" alt="">
                                            <span></span>
                                        </p>
                                        <p class="item-left-tag">
                                            <img src="/img/events/icon_tag.svg" alt="">
                                            <span></span>
                                        </p>
                                    </div>
                                    <div class="item-box-right">
                                        <h5><a target="_blank"></a></h5>
                                        <p></p>
                                        <a href="" target="_blank">
                                            <img class="isPC img" src="" alt="">
                                            <img class="isH5 img" src="" alt="">
                                        </a>
                                    </div>
                                </div>
                                <div class="js-event-item-pc event-item item-coming active">
                                    <h4>{{ i18n "event_coming"}}</h4>
                                    <div class="event-cont js-latest-event">

                                    </div>
                                </div>
                                <div class="js-pc-older event-item-content hide js-back-out">
                                    <p class="item-line">
                                        <img src="/img/events/event-open.svg">
                                        <span class="event-item-time"></span>
                                    </p>
                                </div>
                                <div class="event-item-box js-back-inside hide">
                                    <div class="item-box-left">
                                        <p class="item-left-time">
                                            <img src="../img/events/icon_time.svg" alt="">
                                            <span></span>
                                        </p>
                                        <p class="item-left-location">
                                            <img src="../img/events/icon_loca.svg" alt="">
                                            <span></span>
                                        </p>
                                        <p class="item-left-tag">
                                            <img src="../img/events/icon_tag.svg" alt="">
                                            <span></span>
                                        </p>
                                    </div>
                                    <div class="item-box-right">
                                        <h5><a target="_blank"></a></h5>
                                        <p></p>
                                        <a href="" target="_blank">
                                            <img class="isPC img" src="" alt="">
                                            <img class="isH5 img" src="" alt="">
                                        </a>
                                    </div>
                                </div>
                                <div class="js-event-item-pc event-item item-back">
                                    <h4>{{ i18n "event_lookback"}}</h4>
                                    <div class="event-cont js-back-event">

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="event-list isH5">
                            <div class="event-tag js-latest-tag js-h5-latest">
                                <div class="tag-item tag-coming js-tag-item active">
                                    <span class="tag-title">{{ i18n "event_coming"}}</span>
                                    <span class="js-arrow inner-arrow-down"></span>
                                </div>
                                <div class="plan-meeting hide js-latest-h5-outside">
                                    <div class="meeting-inner">
                                        <div class="event-item-content">
                                            <p class="item-line">
                                                <img src="/img/events/event-open.svg">
                                                <span class="event-item-time"></span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="js-content"></div>
                                <div class="event-item-box hide js-latest-h5-inside">
                                    <a href="" target="_blank">
                                        <img class="isH5 img" src="" alt="">
                                    </a>
                                    <h5><a target="_blank"></a></h5>
                                    <p class="item-left-time">
                                        <img src="/img/events/icon_time.svg" alt="">
                                        <span></span>
                                    </p>
                                    <p class="item-left-location">
                                        <img src="/img/events/icon_loca.svg" alt="">
                                        <span></span>
                                    </p>
                                    <p class="item-left-tag">
                                        <img src="/img/events/icon_tag.svg" alt="">
                                        <span></span>
                                    </p>
                                    <p class="js-desc"></p>
                                </div>
                            </div>
                            <div class="event-tag js-back-tag js-h5-older">
                                <div class="tag-item tag-back js-tag-item">
                                    <span class="tag-title">{{ i18n "event_lookback"}}</span>
                                    <span class="js-arrow inner-arrow-right"></span>
                                </div>
                                <div class="plan-back hide js-back-h5-outside">
                                    <div class="meeting-inner">
                                        <div class="event-item-content">
                                            <p class="item-line">
                                                <img src="/img/events/event-open.svg">
                                                <span class="event-item-time"></span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="js-content hide"></div>
                                <div class="event-item-box hide js-back-h5-inside">
                                    <a href="" target="_blank">
                                        <img class="isH5 img" src="" alt="">
                                    </a>
                                    <h5><a target="_blank"></a></h5>
                                    <p class="item-left-time">
                                        <img src="/img/events/icon_time.svg" alt="">
                                        <span></span>
                                    </p>
                                    <p class="item-left-location">
                                        <img src="/img/events/icon_loca.svg" alt="">
                                        <span></span>
                                    </p>
                                    <p class="item-left-tag">
                                        <img src="/img/events/icon_tag.svg" alt="">
                                        <span></span>
                                    </p>
                                    <p class="js-desc"></p>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- /.col-md-9 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
        </div>
        <!-- /#content -->

        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}
    <script>
        var eventList = [];
        {{ range where .Data.Pages "Type" "events" }}
        {{ if .Params.author }}
        eventList.push({
            date: '{{ .Params.time }}',
            title: '{{ .Params.title }}',
            location: '{{ .Params.location }}',
            tag: '{{ .Params.tags }}',
            description: '{{ .Params.summary }}',
            img: '{{ .Params.img }}',
            link: '{{ .Params.link }}',
            img_mobile: '{{ .Params.img_mobile}}'
        })
        {{ end }}
        {{ end }}
    </script>
    <script src="{{ "js/events.js" | relURL }}?t={{ mul 1000 (time now).Unix }}"></script>
  </body>
</html>
