<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">

{{ partial "head.html" . }}

<body>
  <div id="all">

    <header>

      {{ partial "nav.html" . }}

    </header>

    <div id="content">
      <div class="container docscontainer">
        <main class="flex container docscontainer">
          <div class="qrCode">
            <div>
              <img src="/img/wechat.jpg">
              <p>{{ .Content }}</p>
            </div>
          </div>

          

        </main>
      </div>
    </div>
  </div>
  {{ partial "scripts.html" . }}
</body>

</html>