:root.dark {
  // 成功色
  --o-color-success1: var(--o-color-green5); // normal
  --o-color-success2: var(--o-color-green7); // hover
  --o-color-success3: var(--o-color-green2); // disabled

  // 告警色
  --o-color-warning1: var(--o-color-orange5); // normal
  --o-color-warning2: var(--o-color-orange7); // hover
  --o-color-warning3: var(--o-color-orange1); // disabled

  // 错误色
  --o-color-error1: var(--o-color-red5); // normal
  --o-color-error2: var(--o-color-red7); // hover
  --o-color-error3: var(--o-color-red1); // disabled

  // 品牌色
  --o-color-brand1: var(--o-color-trafficpurple8); // 常规
  --o-color-brand2: var(--o-color-trafficpurple9); // 悬浮
  --o-color-brand3: var(--o-color-trafficpurple5); // 点击确认
  --o-color-brand4: var(--o-color-trafficpurple7); // 特殊场景
  --o-color-brand5: var(--o-color-trafficpurple3); // 普通禁用
  --o-color-brand6: var(--o-color-trafficpurple3); // 文字禁用

  // 文字颜色
  --o-color-text1: var(--o-color-white); // 强调/正文标题
  --o-color-text2: var(--o-color-black); // 强调/正文标题
  --o-color-text3: var(--o-color-neutral11); // 次强调/正文标题
  --o-color-text4: var(--o-color-neutral9); // 次要信息/正文
  --o-color-text5: var(--o-color-neutral5); // 置灰信息
  --o-color-text-secondary: var(--o-color-neutral9); // 次级文字颜色

  // 背景色
  --o-color-bg1: var(--o-color-neutral1); // 整体背景色
  --o-color-bg2: var(--o-color-greyblack1); // 一级容器背景色
  --o-color-bg3: var(--o-color-greyblack2); // 二级容器背景色
  --o-color-bg4: var(--o-color-greyblack3); // 三级容器背景色
  --o-color-bg5: var(--o-color-greyblack3); // 弹出框、tooltip背景色
  --o-color-bg6: rgba(0, 0, 0, 0.5); // 蒙层
  --o-color-bg-secondary: var(--o-color-neutral5); // 刺激背景颜色

  // 链接色
  --o-color-link1: var(--o-color-trafficpurple8); // 常规
  --o-color-link2: var(--o-color-trafficpurple9); // 悬浮
  --o-color-link3: var(--o-color-trafficpurple5); // 点击
  --o-color-link4: var(--o-color-trafficpurple7); // 特殊场景
  --o-color-link5: var(--o-color-trafficpurple3); // 一般禁用
  --o-color-link6: var(--o-color-trafficpurple3); // 文字禁用，暂和一般禁用保持一致

  // 边框颜色
  --o-color-border1: var(--o-color-neutral9);
  --o-color-border2: var(--o-color-neutral3);
  --o-color-border3: var(--o-color-trafficpurple8);

  // 分割线颜色
  --o-color-division1: var(--o-color-neutral3);

  // 填充色，用于阴影容器背景
  --o-color-fill1: var(--o-color-greyblack1); // SL1 一级投影容器背景，应用于默认状态的卡片、楼层、导航栏、组件里局部投影背景等
  --o-color-fill2: var(--o-color-greyblack1); // SL2 二级投影容器背景，应用于卡片、组件里局部投影等
  --o-color-fill2_hover: var(--o-color-greyblack2); // SL2-hover 升起投影容器背景，应用于悬停状态的卡片等，是SL2的激活态
  --o-color-fill3: var(--o-color-greyblack2); // SL3 三级投影容器背景，应用于一级投影上的卡片、组件等
  --o-color-fill4: var(--o-color-greyblack3); // SL4 覆盖阴影容器背景，应用于信息提示【tips、活动进入按钮等】等投影容器
  --o-color-fill5: var(--o-color-greyblack4); // SL5 弹出阴影容器背景，应用于模态弹窗投影

  /**
   * 阴影
   */
  --o-shadow-l1: 0 1px 7px rgba(0, 0, 0, 0.3); // SL1 一级投影，应用于楼层、导航栏、组件里局部投影等，
  --o-shadow-l2: 0 1px 7px rgba(0, 0, 0, 0.3); // SL2-normal 二级投影，应用于卡片、组件里局部投影等
  --o-shadow-l2_hover: 0 6px 18px rgba(0, 0, 0, 0.42); // SL2-hover 升起投影，应用于悬停状态的卡片等，是SL2的激活态
  --o-shadow-l3: 0 6px 18px rgba(0, 0, 0, 0.42); // SL3 三级投影，应用于一级投影上的卡片、组件等
  --o-shadow-l4: 0 10px 32px rgba(0, 0, 0, 0.54); // SL4 覆盖阴影，应用于信息提示【tips、活动进入按钮等】等投影
  --o-shadow-l5: 0 12px 42px rgba(0, 0, 0, 0.72); // SL5 弹出阴影，应用于模态弹窗投影
}
