<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">

{{ partial "head.html" . }}
<link rel="stylesheet" href="{{ "css/blog.css" | relURL}}?t={{ mul 1000 (time now).Unix }}">
<body>
  <div id="all">

    <header>

      {{ partial "nav.html" . }}

    </header>

    <div id="content" style="padding-bottom: 0;">
      <iframe src={{ i18n "blogs_iframe" }} id="blogIframe" width="100%" scrolling="no" frameborder="0"></iframe>
    </div>

    {{ partial "footer.html" . }}
  </div>
  
  {{ partial "scripts.html" . }}

  <script>
    var hash = window.location.search.substr(1);
    var blogIframe = document.getElementById('blogIframe');
    blogIframe.src += hash;
    window.addEventListener('message', function(messageEvent) {
      var data = messageEvent.data;
      if(!isNaN(data)) {
        blogIframe.height = data;
      }else if(typeof data === "string") {
        window.history.replaceState(null,null,"?"+ data)
      }
      scrollTo(0, 0);
    }, false);
  </script>
  
</body>

</html>