<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

{{ partial "head.html" . }}
<link href="{{ "css/questionnaire.css" | relURL}}?t={{ mul 1000 (time now).Unix }}" rel="stylesheet">

<body>

  <div id="all">

    <header>

      {{ partial "nav.html" . }}

    </header> 

    <div id="content">
      <div class="container questionnaire" id="questionnaire">
        <div  class="banner"> 
          <span class="inside">QUEATIONNAIRE</span> 
          <span  class="outside font-xihjw">openGauss社区满意度调研</span>
          <img src="/img/questionnaire/banner.png" class="common-img">
        </div>

        <div class="panel1 "> 
              <p>本次openGauss社区满意度调研活动现已结束</p>
              <p>感谢您的每一个宝贵建议，中奖名单已公示如下</p>
              <p>敬请关注我们社区之后的活动、期待您的参与哦～</p> 
        </div>
        <h2 class="winnersTit">中奖名单</h2>
        {{ range .Params.module }} 
            {{ range $index, $type := .types }}
                <div class="panel2 shadow {{$type.type}}"> 
                <div class="cover"> 
                    {{ if eq $type.type "bg4" }}
                        <img style="width: 116px;margin-right: 10px;" src="{{ $type.cover1 }}">
                    {{ end }}
                    <img src="{{ $type.cover }}">   
                </div>
                <div class="info"> 
                        <h3>{{ $type.name }}</h3>
                        <table class="questionnaireTable">
                            <tr>
                                <th>奖品</th>
                                <th>中奖号码</th>
                            </tr>
                            {{ range $type.item }}
                                <tr>
                                    <td>{{ .name }}</td>
                                    <td>{{ .phone }}</td>
                                </tr>
                            {{ end }}
                        </table>
                    </div>
                </div>
            {{ end }}
        {{ end }}

        <!-- <div class="panel2 bg2 shadow"> 
          <div class="cover"> <img src="/img/questionnaire/img2.png">   </div>
          <div class="info"> <h3>一等奖2名</h3>
            <p>华为平板畅享2</p></div>
        </div>

        <div class="panel3 ">
            <div class="tile shadow">
              <div class="cover"> <img  src="/img/questionnaire/img3.png">  </div>
              <div class="info"> <h3>二等奖6名</h3>
              <p>华为手环6 NFC版</p></div>
            </div>
            <div class="tile shadow">
              <div class="cover"> <img  src="/img/questionnaire/img4.png"><img  src="/img/questionnaire/img5.png">  </div>
              <div class="info"> <h3>三等奖50名</h3>
              <p>《openGauss数据库核心技术》或 openGauss长袖卫衣</p></div>
            </div>
        </div>  -->
        <div class="mdContent">
          {{ .Content }}
        </div>
      </div>
    </div>
 

    {{ partial "footer.html" . }}

  </div>
  {{ partial "scripts.html" . }}
  
</body>

</html>