<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  {{ partial "head.html" . }}
  <body>
    <div id="all">
        <header>
          {{ partial "nav.html" . }}
        </header>
        <div id="cla-header">
          {{ partial "breadcrumbs.html" . }}
        </div>
        <div id="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 cla-content">
                        <div>
                          {{ .Content }}
                        </div>
                    </div>
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
        </div>
        <!-- /#content -->
        {{ partial "footer.html" . }}
    </div>
    <!-- /#all -->
    {{ partial "scripts.html" . }}
  </body>
  <script>
    window.setTimeout(function(){
        window.location.href="https://clasign.osinfra.cn/sign/Z2l0ZWUlMkZvcGVuZ2F1c3M=";
    },2000)
  </script>
</html>