<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  {{ partial "head.html" . }}
  <link rel="stylesheet" href="{{ "css/pagination.css" | relURL}}?t={{ mul 1000 (time now).Unix }}">
  <link href="{{ "css/knowledge.css" | relURL}}?t={{ mul 1000 (time now).Unix }}" rel="stylesheet">
  <link href="{{ "css/cve.css" | relURL}}?t={{ mul 1000 (time now).Unix }}" rel="stylesheet">
  <body>

    <div id="all">

        <header>

          {{ partial "nav.html" . }}

        </header>

        {{ partial "breadcrumbs.html" . }}

        <div id="content">
            {{ if isset .Params "id" }}

              {{ partial .Params.id . }}

            {{ else }}

            <div class="container">
                

                   
                {{ range .Params.module }}
                <div class="module-container">
                    <div class="module-title">
                        <div class="module-title-txt">{{ .name }}</div>
                    </div>
                    <div class="module-type ">
                        {{ range $index, $type := .types }}

                        {{ if ne $index 0 }}
                        <div style="margin-top: 16px;">
                            <div class="type-bg bg-color{{$index}}"><span class="type-title">{{ $type.name }}</span></div>
                            <div class="item-pos">
                                {{ range $type.item }}
                                <a href="{{ .link }}" target="_blank" class="item color{{$index}}">{{ .name }}</a>
                                {{ end }}
                            </div>
                        </div>
                        {{ else }}
                        <div>
                            <div class="type-bg bg-color{{$index}}"><span class="type-title">{{ $type.name }}</span></div>
                            <div class="item-pos">
                                {{ range $type.item }}
                                <a href="{{ .link }}" target="_blank" class="item color{{$index}}">{{ .name }}</a>
                                {{ end }}
                            </div>
                        </div>
                        {{ end }}
                        {{ end }}
                    </div>
    
                </div>
                {{ end }}
            </div>
            <!-- /.container -->

            {{ end }}
        </div>
        <!-- /#content -->

        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}
    <script>
        var moduleList = [];
        {{ range .Params.module }}
        
        moduleList.push({
          
            name: '{{ .name }}',
 
            list: {{ .types }}
            
        })

        {{ end }}
    </script>
  </body>
</html>

